.question-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .help-text {
    width: 768px;
    text-align: center;
  }

  .buttons {
    .yes-no-button {
      cursor: pointer;
      border: 1px solid black;
      border-radius: 10%/50%;
      color: black;
      width: 200px;
      height: 50px;
      font-weight: bold;

      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}