@import "styles/mixins/font";
@import "styles/var/colors";
@import "../../energy-efficiency-page-sizes";
@import "../your-plan-page.component";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.recommendation-with-steps-card {
  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;

    .description {
      display: flex;
      flex-direction: column;

      .headline {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }

      .summary {
        @include page-subheadline-small-font;
      }
    }
  }
}

// Breakpoint specific styling
.recommendation-with-steps-card {
  @include mobile() {
    .details {
      margin-bottom: 4px;

      & > :first-child {
        border-bottom: 5px solid $light-grey;
      }

      & > :not(:last-child):not(:first-child) {
        border-bottom: 1px solid $light-grey;
      }

      .description {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 12px 20px;
      }

      & > app-data-card {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px;
      }
    }
  }

  @include tablet() {
    .details {
      margin-bottom: 4px;

      & > :first-child {
        border-bottom: 2px solid $light-grey;
      }

      & > :last-child {
        border-left: 1px solid $light-grey;
      }

      .description {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 40px 20px 62px;
      }

      & > app-data-card {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px 0;
      }
    }
  }

  @include desktop() {
    .details {
      padding: 25px 20px;
      margin-bottom: 4px;

      & > :not(:first-child) {
        border-left: 1px solid $light-grey;
      }

      .description {
        flex: 1;
        padding: 0 20px 0 42px;
      }

      & > app-data-card {
        flex: 0 0 $data-card-width;

        &:last-child {
          padding-right: $desktop-summary-padding;
        }
      }
    }
  }
}