<div class="recommendation-with-steps-card">
    <div class="card-header">
        <div class="details">
            <div class="description">
                <h2 class="headline">{{recommendation.headline}}</h2>
                <p class="summary">{{recommendation.summary}}</p>
                <div class="tags">
                    <div *ngFor="let tag of getTagsToDisplay()"
                        [ngClass]="getTagClassName(tag)"
                        class="tag">{{getTagDescription(tag)}}
                    </div>
                </div>
            </div>
            <app-data-card class="investment-required-card"
                        heading="Investment required"
                        [value]="getInvestmentRequiredString()"
                        [isSmallCard]="true"
                        [withSmallFontSize]="true"
            ></app-data-card>
            <app-data-card class="monthly-savings-card"
                        heading="Savings per {{showMonthlySavings ? 'month' : 'year'}} up to"
                        [value]="getSavingDisplay(recommendation)"
                        [isSmallCard]="true"
                        [withSmallFontSize]="true"
                        *ngIf="getSavingDisplay(recommendation)!='-'">
            </app-data-card>
        </div>
        <div class="find-installers" *ngIf="hasGHGTag">
            <div class="all-installers-link">
                <a [href]="allInstallersUrl" target="_blank">See all available installers on the Trustmark website</a>
            </div>
        </div>
    </div>
    <div class="steps">
        <app-recommendation-step-card
                *ngFor="let step of recommendation.steps; let i = index"
                [step]="step"
                [stepIndex]="i"
                (onAnalyticsEvent)="sendEventToAnalytics($event, recommendation.recommendationID)"
        ></app-recommendation-step-card>
    </div>
</div>
