@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/mixins/buttons";
@import "../../energy-efficiency-page-sizes";
@import "../your-plan-page.component";
@import "../../energy-efficiency-results/recommendation-tags/recommendation-tags";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.recommendation-with-steps-card {
  .card-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    @include more-info-link-button;

    .details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .description {
        display: flex;
        flex-direction: column;

        .headline {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 10px;
        }

        .summary {
          @include page-subheadline-small-font;
        }
      }
    }

    .find-installers {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .installers {
        display: none;
      }
    }
  }
}

// Breakpoint specific styling
.recommendation-with-steps-card {
  @include mobile() {
    .card-header {
      margin-bottom: 4px;

      .details {
        & > :first-child {
          border-bottom: 5px solid $light-grey;
        }

        & > :not(:last-child):not(:first-child) {
          border-bottom: 1px solid $light-grey;
        }

        .description {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 12px 20px;
        }

        & > app-data-card {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 20px;
        }
      }

      .more-info-link {
        width: 60%;
        height: 50px;
        margin-bottom: 15px;
        align-self: center;
      }
    }
  }

  @include tablet() {
    .card-header {
      margin-bottom: 4px;

      .details {
        & > :first-child {
          border-bottom: 2px solid $light-grey;
        }

        & > :last-child {
          border-left: 1px solid $light-grey;
        }

        .description {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 20px 40px 20px 62px;
        }

        & > app-data-card {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 20px 0;
        }
      }

      .more-info-link {
        @include is-grid-item($number-of-items: 3, $margin: 10px);
        height: 50px;
        align-self: flex-end;
        margin-right: 40px;
        margin-bottom: 15px;
      }
    }
  }

  @include desktop() {
    .card-header {
      padding: 25px 20px 20px 20px;
      margin-bottom: 4px;

      .details {
        & > :not(:first-child) {
          border-left: 1px solid $light-grey;
        }

        .description {
          flex: 1;
          padding: 0 20px 0 42px;
        }

        & > app-data-card {
          flex: 0 0 $data-card-width;

          &:last-child {
            padding-right: $desktop-summary-padding;
          }
        }
      }

      .find-installers {
        padding-left: 42px;
        flex-direction: row;

        .installers {
          display: flex;
          align-items: center;
          font-size: 12px;

          .installers-list {
            display: flex;
            padding-left: 0;
            font-family: $font-family-light;

            .installer {
              margin-left: 25px;
            }
          }
        }
      }

      .more-info-link {
        @include is-grid-item($number-of-items: 4, $margin: 10px);
        height: 60px;
        margin-right: 30px;
      }
    }    
  } 
}