@import "styles/mixins/font";
@import "styles/var/colors";
@import "../../energy-efficiency-page-sizes";
@import "../your-plan-page.component";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
$send-email-button-height: 40px;
$send-email-button-arrow-width: 10px;
$action-divider-circle-diameter: 40px;

.quote-added {
  color: white;
  display: flex;
  cursor: pointer;
  text-decoration: none;

  .more-info-description, .more-info-icon-container {
    padding: 20px;
  }

  .more-info-description {
    background-color: $dark-blue;
    color: $light-blue;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .more-info-icon-container {
    background-color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .more-info-icon {
      width: 15px;
      height: 23px;
      stroke: $dark-blue;
      fill: $dark-blue;
      display: block;
      line-height: 0;
    }
  }

  &:hover, &:focus, &:active {
    .more-info-description {
      background-color: $red;
      color: white;
    }

    .more-info-icon-container {
      background-color: $red;

      .more-info-icon {
        stroke: white;
        fill: white;
      }
    }
  }
}
.more-info-link {
  color: white;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  width: 250px;

  .more-info-description, .more-info-icon-container {
    padding: 20px;
  }

  .more-info-description {
    background-color: $light-blue;
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .more-info-icon-container {
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .more-info-icon {
      width: 15px;
      height: 23px;
      stroke: $light-blue;
      fill: $light-blue;
      display: block;
      line-height: 0;
    }
  }

  &:hover, &:focus, &:active {
    .more-info-description {
      background-color: $dark-blue;
      color: $light-blue;
    }
    .more-info-icon-container {
      background-color: $light-blue;
      .more-info-icon {
        stroke: $dark-blue;
        fill: $dark-blue;
      }
    }
  }
}

.recommendation-with-steps-card {
  .details-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px 20px;
  }

  .get-quote {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 42px;
    margin-top: 10px;
    align-items: center;
  }
  .find-an-installer {
  }
  .add-quote {
    flex: 1;
    .header {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .description {
      display: flex;
      flex-direction: column;

      .headline {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }

      .summary {
        @include page-subheadline-small-font;
      }
    }
  }
}

// Breakpoint specific styling
.recommendation-with-steps-card {
  @include mobile() {
    .details {
      margin-bottom: 4px;

      & > :first-child {
        border-bottom: 5px solid $light-grey;
      }

      & > :not(:last-child):not(:first-child) {
        border-bottom: 1px solid $light-grey;
      }

      .description {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 12px 20px;
      }

      & > app-data-card {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px;
      }
    }
  }

  @include tablet() {
    .details {
      margin-bottom: 4px;

      & > :first-child {
        border-bottom: 2px solid $light-grey;
      }

      & > :last-child {
        border-left: 1px solid $light-grey;
      }

      .description {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 40px 20px 62px;
      }

      & > app-data-card {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px 0;
      }
    }
  }

  @include desktop() {
    .details-container {
      margin-bottom: 4px;
    }

    .details {
      & > :not(:first-child) {
        border-left: 1px solid $light-grey;
      }

      .description {
        flex: 1;
        padding: 0 20px 0 42px;
      }

      & > app-data-card {
        flex: 0 0 $data-card-width;

        &:last-child {
          padding-right: $desktop-summary-padding;
        }
      }
    }
  }
}