@import "_energy-efficiency-results-page-sizes.scss";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/var/_colours";

$grant-cards-per-row: 4;
$grant-card-margin: 24px;

.results-page {

  width: 100%;

  .subheading {
    @include page-subheading;
    margin-bottom: 8px;
  }

  .results-header-row.page-row {
    padding: 20px 0;

    .page-row-content {
      display: flex;

      & > * {
        border-right: 1px solid $light-grey;
      }

      & > :last-child {
        margin-right: $add-to-plan-column-width;
      }

      .heading-text {
        font-size: 42px;
        padding-right: 20px;
        font-weight: bold;
        flex: 1 0 1px;
      }
    }
  }

  .recommendations.page-row {
    background-color: $light-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;
      padding: 20px 0 32px 0;

      .recommendations-heading {
        font-size: 20px;
        margin-bottom: 4px;
      }

      .recommendations-subheading {
        font-size: 12px;
      }

      .recommendation-cards {
        .expand-recommendations-list {
          @include default-button(100%, 50px);
          text-transform: uppercase;
        }
      }

      .further-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .see-more {
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          background: none;
          border: none;
          cursor: pointer;

          .see-more-text {
            font-size: 20px;
            font-weight: bold;
          }

          .icon-caret-down {
            margin-left: 8px;
            margin-top: 6px;
          }
        }

        .further-questions {
          float: right;
          flex: 0 0 auto;
          padding: 16px 32px;

          background: $lighter-grey;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}