@import "../_energy-efficiency-page-sizes";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/mixins/_layout";
@import "styles/var/colors";
@import "./recommendation-tags/_recommendation-tags";

// Component specific variables
$grant-cards-per-row: 4;
$grant-card-margin: 24px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.results-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  .subheading {
    @include page-subheading-font;
    margin-bottom: 8px;
  }

  .results-header-row.page-row {
    background-color: $light-blue;
    .page-row-content {
      display: flex;
      flex-wrap: wrap;

      .heading-text {
        @include page-heading-small-font;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        color: $dark-blue;
      }

      .header-data-cards {
        display: flex;
      }
    }
  }

  .recommendations.page-row {
    background-color: $lighter-grey;
    flex-grow: 1;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .recommendations-heading {
        @include card-heading-font;
      }
    }
  }

  .ghg-context-card {
    background-color: white;
    border: 5px solid $dark-green;
    padding: 10px 20px;

    .header {
      font-weight: bold;
      font-size: 20px;
    }

    .tag {
      @include isTag($background-color: $green);
      margin: 0 5px;
      padding: 0 28px;
    }

    a {
      color: $dark-green;
    }
  }
}

// Breakpoint specific styling
.results-page {
  @include mobile() {
    .results-header-row.page-row {
      .page-row-content {
        margin: 0;

        .heading-text {
          flex: 1 0 100%;
          padding: 24px 20px 15px;
          background-color: $light-blue;
          color: $dark-medium-blue;
        }

        .header-data-cards {
          @include is-grid(36px);
          padding: 24px 20px;
          justify-content: center;

          app-data-card {
            max-width: 100%;
            margin: 18px 0;
            padding: 0 18px;
            border-right: 1px solid $light-grey;
            border-left: 1px solid $light-grey;
          }
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 34px 0 24px 0;

        .recommendations-heading {
          margin-bottom: 14px;
        }
      }
    }
  }

  @include tablet() {
    .results-header-row.page-row {
      .page-row-content {
        margin: 0;

        .heading-text {
          flex: 1 0 100%;
          padding: 34px;
          background-color: $light-blue;
          color: $dark-medium-blue;
        }

        .header-data-cards {
          @include is-grid(100px);
          padding: 24px 34px;
          justify-content: center;

          app-data-card {
            max-width: 100%;
            margin: 50px 0;
            padding: 0 50px;
            border-right: 1px solid $light-grey;
            border-left: 1px solid $light-grey;
          }
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 34px 0 40px 0;

        .recommendations-heading {
          margin-bottom: 12px;
        }
      }
    }
  }

  @include desktop() {
    .results-header-row.page-row {
      padding: 20px 0;

      .page-row-content {
        .heading-text, .header-data-cards > * {
          border-right: 1px solid $light-grey;
        }

        .header-data-cards {
          $desktop-header-cards-width: $data-card-width + $add-to-plan-column-width;
          flex: 0 0 $desktop-header-cards-width;

          & > :last-child {
            margin-right: $add-to-plan-column-width;
          }
        }



        .heading-text {
          padding-right: 20px;
          flex: 1 0 1px;
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 40px 0 32px 0;

        .recommendations-heading {
          margin-bottom: 6px;
        }
      }
    }
  }
}