@import "../_energy-efficiency-page-sizes";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/var/colors";

// Component specific variables
$grant-cards-per-row: 4;
$grant-card-margin: 24px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.results-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  .subheading {
    @include page-subheading-font;
    margin-bottom: 8px;
  }

  .results-header-row.page-row {
    .page-row-content {
      display: flex;

      .heading-text {
        @include page-heading-small;
        display: flex;
        align-items: center;
      }
    }
  }

  .recommendations.page-row {
    background-color: $lighter-grey;
    flex-grow: 1;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .recommendations-heading {
        @include card-heading-font;
      }

      .recommendations-subheading {
        font-family: $font-family-light;
        font-size: 13px;
        line-height: 16px;
      }

      .recommendations-filter {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .recommendation-cards {
        .expand-recommendations-list {
          margin-top: 10px;
          @include default-button(100%, 50px);
          text-transform: uppercase;
        }
      }
    }
  }

  .local-grants.page-row-content {
    flex-direction: column;
    margin-top: 30px;

    .subheading {
      @include page-subheading-font;
      margin-bottom: 8px;
    }

    .local-authority {
      @include body-uppercase;
    }

    .grant-cards {
      margin-top: 32px;
      flex-wrap: wrap;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .grant-card {
        flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
        margin-bottom: $grant-card-margin;
        &:not(:nth-child(#{$grant-cards-per-row}n)) {
          margin-right: $grant-card-margin;
        }
      }
    }
  }
}

// Breakpoint specific styling
.results-page {
  @include mobile() {
    .results-header-row.page-row {
      .page-row-content {
        .heading-text {
          width: 100%;
          padding: 24px 0 15px;

          app-data-card:first-of-type {
            border-right: 1px solid $light-grey;
          }
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 34px 0 24px 0;

        .recommendations-heading {
          margin-bottom: 14px;
        }
      }
    }
  }

  @include tablet() {
    .results-header-row.page-row {
      .page-row-content {
        .heading-text {
          width: 100%;
          padding: 34px 0;

          app-data-card:not(:last-of-type) {
            border-right: 1px solid $light-grey;
          }
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 34px 0 40px 0;

        .recommendations-heading {
          margin-bottom: 12px;
        }
      }
    }
  }

  @include desktop() {
    .results-header-row.page-row {
      padding: 20px 0;

      .page-row-content {
        & > * {
          border-right: 1px solid $light-grey;
        }

        & > :last-child {
          margin-right: $add-to-plan-column-width;
        }

        .heading-text {
          padding-right: 20px;
          flex: 1 0 1px;
        }
      }
    }

    .recommendations.page-row {
      .page-row-content {
        padding: 40px 0 32px 0;

        .recommendations-heading {
          margin-bottom: 6px;
        }
      }
    }
  }
}