@import "app/energy-efficiency/_energy-efficiency-page-sizes";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/var/colors";

$grant-cards-per-row: 4;
$grant-card-margin: 24px;

.results-page {

  width: 100%;

  .subheading {
    @include page-subheading;
    margin-bottom: 8px;
  }

  .results-header-row.page-row {
    padding: 20px 0;

    .page-row-content {
      display: flex;

      & > * {
        border-right: 1px solid $light-grey;
      }

      & > :last-child {
        margin-right: $add-to-plan-column-width;
      }

      .heading-text {
        font-size: 42px;
        padding-right: 20px;
        font-weight: bold;
        flex: 1 0 1px;
      }
    }
  }

  .recommendations.page-row {
    background-color: $light-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;
      padding: 20px 0 32px 0;

      .recommendations-heading {
        font-size: 20px;
        margin-bottom: 4px;
      }

      .recommendations-subheading {
        font-size: 12px;
      }

      .recommendations-filter {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .filter-description {
          margin-right: 10px;
          font-size: 12px;
        }
      }

      .recommendation-cards {
        .expand-recommendations-list {
          margin-top: 10px;
          @include default-button(100%, 50px);
          text-transform: uppercase;
        }
      }
    }
  }

  .local-grants.page-row-content {
    flex-direction: column;
    margin-top: 30px;

    .subheading {
      @include page-subheading;
      margin-bottom: 8px;
    }

    .local-authority {
      @include body-uppercase;
    }

    .grant-cards {
      margin-top: 32px;
      flex-wrap: wrap;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .grant-card {
        flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
        margin-bottom: $grant-card-margin;
        &:not(:nth-child(#{$grant-cards-per-row}n)) {
          margin-right: $grant-card-margin;
        }
      }
    }
  }

}