.postcode-form {
  padding-bottom: 16px;

  .form-row {
    padding-bottom: 8px;
  }

  label {
    width: 150px;
    display: inline-block;
  }

  input {
    border-radius: 4px;
    border: 1px solid darkgrey;
    height: 1.5em;
  }
}

.epc-table {
  thead {
    text-align: left;
  }

  tbody td:first-child {
    text-transform: capitalize;
  }
}