<form (ngSubmit)="onSubmit()" class="postcode-form">
    <div class="form-row">
        <label for="number">House Number:</label>
        <input id="number" name="number" [(ngModel)]="number"/>
    </div>
    <div class="form-row">
        <label for="postcode">Postcode:</label>
        <input id="postcode" name="postcode" [(ngModel)]="postcode"/>
    </div>
    <button type="submit">Submit</button>
</form>

<div *ngIf="(result|async) as resultRows">
    <table *ngIf="resultRows.length" class="epc-table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of resultRows" class="epc-result-row">
            <td>{{row.label}}</td>
            <td>{{row.value}}</td>
        </tr>
        </tbody>
    </table>
</div>
