@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import "styles/mixins/font";

.flat-storeys-question {
  display: flex;
  align-items: center;

  .storeys-input {
    display: flex;
    flex-direction: column;

    .name {
      @include question-label-font;

      display: flex;
      justify-content: center;
      margin-bottom: 17px;
    }
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .flat-storeys-question {
    .storeys-input {
      @include is-grid-item($number-of-items: 2, $margin: 20px);
      margin: 0;
      padding: 0 36px;

      &:not(:first-child) {
        border-left: 1px solid $separator-grey;
      }
    }
  }
}