.flat-exposed-wall-options {

  .icon-container {
    height: 150px;

    .one-side-exposed::before {
      content: url('/assets/images/flat-positions/one-side-exposed.svg');
    }

    .two-sides-exposed::before {
      content: url('/assets/images/flat-positions/two-sides-exposed.svg');
    }

    .three-sides-exposed::before {
      content: url('/assets/images/flat-positions/three-sides-exposed.svg');
    }

    .four-sides-exposed::before {
      content: url('/assets/images/flat-positions/four-sides-exposed.svg');
    }
  }
}