@import "styles/page";

$width: 204px;
$height: 60px;

.need-help {
  z-index: 1;
  cursor: pointer;
  border: none;
  background: none;
  position: fixed;
  padding: 0;
  right: 0;
  top: 182px;
  width: 204px;

  .header-bar {
    width: 100%;
    height: 60px;
    background-color: #D0021B;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contents {
    background-color: white;
    padding: 16px;
    font-size: 14px;

    display: flex;
    flex-direction: column;

    .phone-number {
      font-weight: 600;
      font-size: 20px;
      padding: 4px 0 8px;
    }
  }
}