@import "styles/page";
@import "styles/var/colors";
@import "styles/mixins/font";

// Component specific variables
$mobile-nav-height: 70px;
$tablet-nav-height: 70px;
$desktop-nav-height: 82px;
$mobile-width: 60px;
$tablet-width: 70px;
$desktop-width: 80px;
// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  right: 0;
  top: 0;
}

.need-help {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  cursor: pointer;

  .header-bar {
    width: 100%;
    height: 100%;
    background-color: $pink;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contents {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    color: white;
    background-color: $pink;
    @include need-help-font;

    display: flex;
    flex-direction: column;
  }
}

// Breakpoint specific styling
@include mobile() {
  :host {
    width: $mobile-width;
    height: $mobile-nav-height;
  }

  .need-help {
    .help-icon {
      width: 32px;
    }

    .contents {
      width: 100vw;
      padding: 26px 20px;
    }
  }
}

@include tablet() {
  :host {
    width: $tablet-width;
    height: $tablet-nav-height;
  }

  .need-help {
    .help-icon {
      width: 40px;
    }

    .contents {
      width: 375px;
      padding: 26px 20px;
    }
  }
}

@include desktop() {
  :host {
    width: $desktop-width;
    height: $desktop-nav-height;
  }

  .need-help {
    .help-icon {
      width: 40px;
    }

    .contents {
      width: 375px;
      padding: 26px 24px;
    }
  }
}

@include large-desktop() {
  :host {
    // Always sit on the far right of the content
    right: calc(50vw - (#{$content-and-margins-max-width} / 2));
  }
}