@import "styles/var/colours";
@import "styles/mixins/font";

:host {
  display: block;
}

.carousel-item {
  background-color: $lighter-grey;
  padding: 24px 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .heading {
    .number {
      @include focus-text;
      margin-bottom: 12px;
    }

    .summary {
      width: 100%;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .details {
    width: 100%;
    font-size: 16px;
  }
}