@import "styles/var/colors";
@import "styles/mixins/font";

:host {
  display: block;
}

.carousel-item {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .heading {
    .number {
      font-size: 32px;
      line-height: 38px;
      font-weight: bold;

      color: $primary-blue;

      margin-bottom: 14px;
    }

    .summary {
      width: 100%;
      height: 72px;

      font-size: 20px;
      line-height: 24px;
      font-weight: bold;

      color: $darkened-blue;

      margin-bottom: 24px;
    }
  }

  .details {
    width: 100%;

    font-size: 13px;
    line-height: 16px;
    font-family: $font-family-light;
  }
}

@include tablet() {
  .carousel-item {
    background-color: $lighter-grey;
  }
}
