@import "styles/mixins/_font";
@import "styles/var/colors";

:host {
  display: block;
}

.grant-card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  background-color: $light-grey;
  padding: 16px;
  box-sizing: border-box;

  .heading, .description, .read-more {
    max-width: 100%;
  }

  .heading {
    @include card-heading;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .description {
    @include card-body;
    margin: 16px 0;
  }

  .read-more {
    @include card-more-info-link;
  }
}