# This file contains application configuration for development machines
#
# Please make a copy of this file and remove ".template" from the filename.
# Do not commit the copy.
#
# Ask your project manager for values to put in this file.
#
# These settings take precedence over those in application.properties,
# see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html

vcap.services.epc.opendatacommunities.org.credentials.username=...
vcap.services.epc.opendatacommunities.org.credentials.password=...
vcap.services.bre.energyUse.credentials.username=...
vcap.services.bre.energyUse.credentials.password=...
vcap.services.google.analytics.credentials.id=...
vcap.services.greenDealOrb.installersApi.credentials.apiKey=...

# This section will cause Java to connect to a local MySQL instead of temp H2.
spring.datasource.driverClassName=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost/wordpress
spring.datasource.schema=wordpress
spring.datasource.username=wordpress
spring.datasource.password=wordpressPassword123
jooq.sql.dialect=MySQL
spring.jooq.sql-dialect=MySQL

#Spring boot has a feature where it automatically restarts the Java app if it has detected any changes to resources or class files.
#This does not work very well with the node auto compile feature. Therefore we need to disable it.
spring.devtools.restart.enabled = false