<progress-indicator [currentQuestionIndex]="currentQuestionIndex" (clickedOnLink)="animateToQuestion($event)"></progress-indicator>
<div class="questions-container">
    <span class="question-type-icon" [ngClass]="questionTypeIconClassName"></span>
    <div class="question-heading">
        <button class="left-arrow" [class.hidden]="!previousQuestionExists()" [disabled]="!canGoBack()" (click)="goBackOneQuestion()" aria-label="Go back"><</button>
        <div id="question-heading" class="heading">{{heading}}</div>
        <button class="right-arrow" [class.hidden]="!nextQuestionExists()" [disabled]="!canGoForwards()" (click)="goForwardsOneQuestion()" aria-label="Go forwards">></button>
    </div>
    <div class="question">
        <ng-template question-host></ng-template>
    </div>
</div>