@import 'styles/mixins/buttons';
@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.questions-container {
  $greyed-out: #a9a9a9;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: $lighter-grey;
  padding-bottom: 16px;

  .question-type-icon {
    margin-top: 15vh;
    margin-bottom: -4px;

    .person ::ng-deep svg {
      path {
        fill: $primary-blue;
      }
    }

    .house ::ng-deep svg {
      polygon {
        fill: $primary-blue;
      }

      polyline {
        stroke: $primary-blue;
      }
    }

    .thermostat ::ng-deep svg {
      path {
        stroke: $primary-blue;
      }

      circle {
        fill: $primary-blue;
      }
    }
  }

  .question-type-icon-baseline {
    background-color: $primary-blue;
    width: 140px;
    height: 1px;
    margin-bottom: 20px;
  }

  .question-heading-container {
    width: 100%;
  }

  .question-heading-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 100%;

    > button {
      flex: 0 0 auto;
    }

    .question-heading {
      @include question-heading-font;
    }

    .left-arrow, .right-arrow {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      height: 48px;
      width: 84px;

      background-color: white;
      color: $greyed-out;
      fill: $greyed-out;

      display: inline-flex;
      align-items: center;

      outline: none;
      border: none;

      .left-chevron-icon, .right-chevron-icon {
        width: 20px;

        ::ng-deep svg {
          fill: $greyed-out;
          vertical-align: middle;
        }
      }

      &.hidden {
        visibility: hidden;
      }

      &:not([disabled]) {
        cursor: pointer;
        &:focus, &:hover {
          background-color: $lighter-medium-grey;
        }
      }
    }

    .left-arrow {
      border-radius: 0 10px 10px 0;
      justify-content: flex-start;

      .left-chevron-icon {
        margin-right: 10px;
      }
    }

    .right-arrow {
      border-radius: 10px 0 0 10px;
      justify-content: flex-end;

      .right-chevron-icon {
        margin-left: 10px;
      }

      &:not([disabled]) {
        background-color: $green;
        color: white;

        .right-chevron-icon ::ng-deep svg {
          fill: white;
        }

        &:focus, &:hover {
          background-color: $primary-blue;
        }
      }
    }
  }

  .help-text {
    color: $focus-blue;
  }

  .question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 16px;
  }

  app-question-reason {
    margin-top: auto;
  }
}

// Breakpoint specific styling
.questions-container {
  @include mobile() {
    padding: 40px;
    box-sizing: border-box;

    .question-type-icon, .question-type-icon-baseline {
      display: none;
    }

    .question-heading-container {
      .question-heading {
        width: 100%;
      }

      .right-arrow, .left-arrow {
        display: none;
      }
    }

    .question {
      width: 100%;
      margin-top: 30px;
    }

    .help-text {
      width: 100%;
    }
  }

  @include tablet() {
    padding: 68px 94px;
    box-sizing: border-box;

    .question-type-icon, .question-type-icon-baseline {
      display: none;
    }

    .question-heading-container {
      .question-heading {
        width: 100%;
      }

      .right-arrow, .left-arrow {
        display: none;
      }
    }

    .question {
      width: 100%;
      margin-top: 52px;
    }

    .help-text {
      width: 100%;
    }
  }

  @include desktop() {
    .question {
      width: 100vw;
      margin-top: 96px;

      .question-heading-container {
        .question-heading {
          text-align: center;
        }
      }
    }

    .help-text {
      width: 60vw;
      text-align: center;
    }

    app-question-reason {
      margin-bottom: 24px;
    }
  }
}