@import 'styles/mixins/buttons';
@import "styles/page";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: $lighter-grey;

  .question-type-icon {
    margin-top: 15vh;
    margin-bottom: 20px;
  }

  .question-heading-container {
    width: 100%;
    max-width: 1280px;
  }

  .question-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    > button {
      flex: 0 0 auto;
    }

    .question-heading {
      font-size: 36px;
      font-weight: bold;
    }

    .left-arrow, .right-arrow {
      @include round-button(32px);
      font-size: 16px;
      margin: 0 16px;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  .help-text {
    width: 60vw;
    text-align: center;
    margin-bottom: 20px;
  }

  .question {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .question-reason-container {
    margin-top: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    & > * {
      padding: 10px 20px;
      flex-shrink: 0;
    }

    .question-reason {
      opacity: 0;
      transition: opacity 0.5s linear;
      width: 600px;
      background-color: white;
      border-radius: 10px;
      padding: 10px;

      &.visible {
        opacity: 1;
      }
    }

    .question-reason-button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:focus {
        text-decoration: underline;
      }

      .question-reason-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        background: black;
        border-radius: 50%;
        color: white;
        font-weight:bold;
      }

      .question-reason-header {
        padding-left: 20px;
        font-size: 20px;
      }
    }
  }
}
