<app-spinner-and-error-container [loading]="isLoading" [error]="isError"></app-spinner-and-error-container>
<div class="questions-container" *ngIf="!!currentQuestionContent">
    <progress-indicator class="page-row" [questionnaire]="questionnaire"
                        [currentQuestionIndex]="currentQuestionIndex"
                        [allQuestionsContent]="allQuestionsContent"
                        (clickedOnLink)="animateToQuestion($event)"></progress-indicator>
    <span class="question-type-icon" [ngClass]="questionTypeIconClassName"></span>
    <div class="question-heading-container">
        <button class="left-arrow" [class.hidden]="!previousQuestionExists()" [disabled]="!canGoBack()"
                (click)="goBackOneQuestion()" aria-label="Go back"><
        </button>
        <div id="question-heading" class="question-heading">{{currentQuestionContent.questionHeading}}</div>
        <button class="right-arrow" [disabled]="!hasBeenAnswered()"
                (click)="goForwards()" aria-label="Go forwards">>
        </button>
    </div>
    <div class="help-text" *ngIf="currentQuestionContent?.helpText">{{currentQuestionContent.helpText}}</div>
    <div class="question">
        <ng-template question-host></ng-template>
    </div>
    <div class="question-reason-container" *ngIf="currentQuestionContent.questionReason">
        <div class="question-reason" [class.visible]="shouldDisplayQuestionReason">{{currentQuestionContent.questionReason}}</div>
        <button (click)="toggleQuestionReasonDisplay()" class="question-reason-button" [title]="currentQuestionContent.questionReason">
            <div class="question-reason-icon">i</div>
            <div class="question-reason-header">Why do we need this</div>
        </button>
    </div>
</div>