<progress-indicator [currentQuestionIndex]="currentQuestionIndex"></progress-indicator>
<div class="questions-container">
    <i class="question-type-icon" [ngClass]="getQuestionTypeIconClassName()"></i>
    <div class="question-heading">
        <button class="left-arrow" [disabled]="!canGoBack()" (click)="goBackOneQuestion()"><</button>
        <div class="heading">{{getHeading()}}</div>
        <button class="right-arrow" [disabled]="!canGoForwards()" (click)="goForwardsOneQuestion()">></button>
    </div>
    <div class="question">
        <ng-template question-host></ng-template>
    </div>
</div>