<div class="question-component confirm-epc-question" *ngIf="isEpcAvailable">
    <div class="epc-section">
        <app-data-card class="energy-performance" heading="Your energy performance certificate rating is"
                       [value]="EpcRating[epcRating]"
                       [colorCircleClassName]="getEpcMetadata(epcRating).colorCircleClassName"></app-data-card>
        <div class="epc-diagram-card">
            <div class="heading">This means your home is low efficiency. Most homes appear around grade D.</div>
            <div class="epc-diagram">
                <img src="/dist/assets/images/epc-ratings/mini-epc-{{EpcRating[epcRating].toLowerCase()}}.svg">
            </div>
        </div>
        <app-data-card class="potential-savings" heading="Potential savings per year"
                       [value]="'£' + savingsPerYear"></app-data-card>
    </div>
    <div class="confirm-epc-details-section">
        <div class="confirm-epc-details-background"></div>
        <div class="epc-details-header">From your EPC we've found that your home is the following:</div>
        <div class="confirm-epc-details-body">
            <div class="epc-details-container">
                <ol type="1" class="epc-details-list">
                    <li class="epc-detail" *ngIf="homeTypeDescription">
                        <span>It is a </span><span>{{homeTypeDescription}}</span>
                    </li>
                    <li class="epc-detail" *ngIf="numberHabitableRooms">
                        <span>It has </span><span>{{numberHabitableRooms}}</span><span> habitable room</span><span
                            *ngIf="numberHabitableRooms !== 1">s</span>
                    </li>
                    <li class="epc-detail" *ngIf="fuelTypeDescription">
                        <span>It is heated by </span><span>{{fuelTypeDescription}}</span>
                    </li>
                    <li class="epc-detail" *ngIf="electricityTariffDescription">
                        <span>You have </span><span>{{electricityTariffDescription === 'off peak' ? 'an' : 'a'}}</span>
                        <span>{{electricityTariffDescription}}</span><span> electricity tariff</span>
                    </li>
                    <li class="epc-detail" *ngIf="localAuthorityDescription">
                        <span>The local authority is </span><span>{{localAuthorityDescription}}</span>
                    </li>
                </ol>
            </div>
            <div class="confirm-epc-details">
                <div class="confirm-epc-details-row">
                    <button class="need-more-details-button" (click)="confirmEpcDetails()">
                        <div class="need-more-details-body">
                            <div class="button-main">Let's get a few more details</div>
                            <div class="button-go">GO</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="question-component confirm-epc-question" *ngIf="!isEpcAvailable">
    <div class="need-more-details-container">
        <div class="no-details">We couldn't find any details about energy efficiency at your property based on your postcode.</div>
        <button class="need-more-details-button" (click)="confirmEpcDetails()">
            <div class="need-more-details-body">
                <div class="button-main">Let's get a few more details</div>
                <div class="button-go">GO</div>
            </div>
        </button>
    </div>
</div>