<div class="question-component confirm-epc-question">
    <div *ngIf="isEpcAvailable">
        <div>
            <p>
                An Energy Performance Certificate (EPC) was produced for your home in {{epcFormattedDate}}.
                (<a href="/pages/energy-performance-certificate" target="_blank">What's this?</a>)
            </p>
            <p>
                {{epcRatingRelativeDescription}}. Most homes appear around grade D.
            </p>
            <p>
                Your EPC also tells us:
            </p>
            <ul>
                <li *ngIf="homeTypeDescription">
                    Your property is a {{homeTypeDescription}}
                </li>
                <li *ngIf="numberHabitableRooms">
                    Your property has {{numberHabitableRooms}} habitable {{numberHabitableRooms === 1 ? 'room' : 'rooms'}}
                </li>
                <li *ngIf="fuelTypeDescription">
                    Your property is heated by {{fuelTypeDescription}}
                </li>
                <li *ngIf="electricityTariffDescription">
                    You have {{electricityTariffDescription}} electricity tariff
                </li>
                <li *ngIf="localAuthorityDescription">
                    Your local authority is {{localAuthorityDescription}}
                </li>
            </ul>
        </div>
        <div>
            <img src="/dist/assets/images/epc-ratings/mini-epc-{{EpcRating[epcRating].toLowerCase()}}.svg" alt="">
        </div>
    </div>
    <p *ngIf="!isEpcAvailable">
        It looks like there isn’t an EPC registered for your property.
        That’s OK, we just need to ask a few questions about your home so we can give you the best advice.
    </p>
    <button class="proceed-button" (click)="confirmEpcDetails()">
        Let’s get a few more details <span class="chevron">›</span>
    </button>
</div>
