@import "styles/var/colors";
@import "styles/mixins/epc-rating";
@import "styles/mixins/buttons";
@import "styles/mixins/font";

// Component specific variables

$section-break-margin: 40px;
$epc-rating-width: 40px;
$component-width: 60vw;

$go-button-height: 80px;
$go-button-right-chevron-width: 20px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.confirm-epc-question {
  width: $component-width;
  display: flex;
  flex-direction: column;

  .subheading {
    @include question-reason-font;
    margin-bottom: 12px;
    text-align: center;
  }

  .epc-section {
    .energy-performance, .epc-diagram-card, .potential-savings {
      box-sizing: border-box;
    }

    .epc-diagram-card {
      .heading {
        text-align: center;
        align-self: stretch;
        margin-bottom: 20px;
        @include data-card-heading-font;
      }

      .epc-diagram {
        width: 100%;
        box-sizing: border-box;

        img {
          display: block;
          margin: auto;
          width: 100%;
          max-width: 270px;
        }
      }
    }
  }

  .confirm-epc-details-section {
    padding: $section-break-margin 0;
    position: relative;

    .confirm-epc-details-background {
      position: absolute;
      background: white;
    }
    .epc-details-header, .confirm-epc-details-body {
      z-index: 1;
    }

    .epc-details-header {
      font-weight: bold;
      color: $focus-text-blue;
    }

    .epc-details-container {

      .epc-detail {
        color: #39393A;
      }
    }

    .confirm-epc-details {
      font-weight: bold;

      .confirm-epc-details-row {
        .confirm-epc-details-button {
          @include capsule-button;
          font-weight: bold;
          box-sizing: border-box;
          outline: none;

          font-size: 16px;
          line-height: 30px;
          padding: 2px 36px;

          &:hover, &:focus {
            background-color: $lighter-medium-grey;
          }
        }
      }
    }
  }

  .need-more-details-container, .confirm-epc-details-section {
    .need-more-details-button {
      border: none;
      overflow: visible;
      background-color: $button-dark-blue;
      cursor: pointer;
      padding: 0;

      .need-more-details-body {
        color: white;
        border: none;
        flex-grow: 1;
        height: $go-button-height;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        padding: 0;

        .button-main, .button-go {
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;

          &::after {
            content: '';
            position: absolute;
            right: -$go-button-right-chevron-width;
            top: 0;
            width: 0;
            height: 0;
            border-top: $go-button-height/2 solid transparent;
            border-bottom: $go-button-height/2 solid transparent;
          }
        }

        .button-main {
          z-index: 1;
          padding-left: 20px;
          flex-grow: 1;

          &::after {
            border-left: $go-button-right-chevron-width solid $button-dark-blue;
          }
        }

        .button-go {
          background-color: $action-button-blue;
          padding-left: $go-button-right-chevron-width + 16px;
          padding-right: 4px;

          &::after {
            border-left: $go-button-right-chevron-width solid $action-button-blue;
          }
        }
      }

      &:hover {
        background-color: $action-button-blue;

        .need-more-details-body {
          .button-main::after {
            border-left-color: $action-button-blue
          }

          .button-go {
            background-color: $button-dark-blue;

            &::after {
              border-left-color: $button-dark-blue;
            }
          }
        }
      }
    }
  }
}

// Breakpoint specific styling
.confirm-epc-question {
  @include mobile() {
    .epc-section {
      .energy-performance, .potential-savings {
        width: 100%;
        border-top: 2px $separator-grey solid;

        ::ng-deep .data-card {
          height: 120px;
          padding: 20px 0px 20px 0px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .color-circle {
            flex: 0 0 auto;
            height: 80px;
            width: 80px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .number-value {
            margin-right: 40px;
          }
        }
      }

      .epc-diagram-card {
        border-top: 2px $separator-grey solid;

        .heading {
          padding: 20px 0;
          text-align: left;
        }

        .epc-diagram {
          padding: 10px 0;

          img {
            margin: 0;
          }
        }
      }
    }

    .confirm-epc-details-section {
      border-top: 2px $separator-grey solid;
      padding-top: 25px;

      .epc-details-header {
        color: $focus-text-blue;
      }

      .epc-details-list {
        position: relative;
        left: 0;

        font-family: $font-family-light;
        margin: 0px 0px 0px 15px;
        padding: 15px 0px 5px 0px;

        ::ng-deep .epc-detail {
          margin-bottom: 15px;
        }
      }

      .confirm-epc-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
        background-color: $lighter-grey;
        left: 0;
        bottom: 0;
        border-top: 2px solid $light-grey;
        z-index: 3;
        font-weight: bold;

        .confirm-epc-details-row:first-child {
          flex-grow: 0.8;
        }

        .confirm-epc-details-row {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 80px 0;
        }
      }
    }

    .no-details {
      padding-bottom: 40px;
    }
  }

  @include tablet() {
    .epc-section {
      display: flex;
      flex-wrap: wrap;

      .energy-performance {
        // Minus border
        flex: 0 0 calc(50% - 2px);
        border-right: 2px solid $separator-grey;
        padding-right: 16px;
      }

      .epc-diagram-card {
        padding-left: 16px;
        flex: 0 0 50%;
      }

      .potential-savings {
        border-top: 2px solid $separator-grey;;
        padding-top: 16px;
        margin-top: 16px;
        flex: 0 0 100%;
      }

      ::ng-deep .data-card {
        justify-content: flex-start;

        .number-value {
          margin: auto;
        }
      }
    }

    .confirm-epc-details-section {
      border-top: 2px $separator-grey solid;
      padding-top: 25px;

      .epc-details-header {
        color: $focus-text-blue;
      }

      .epc-details-list {
        position: relative;
        left: 0;

        font-family: $font-family-light;
        margin: 0px 0px 0px 15px;
        padding: 15px 0px 5px 0px;

        ::ng-deep .epc-detail {
          margin-bottom: 15px;
        }
      }

      .confirm-epc-details {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 80px;
        background-color: $lighter-grey;
        left: 0;
        bottom: 0;
        border-top: 4px solid $separator-grey;
        z-index: 3;
        font-weight: bold;

        .confirm-epc-details-row {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex: 1 0 50%;
          padding: 80px 0;
        }
      }
    }

    .need-more-details-container {
      display: flex;
      flex-direction: column;

      .no-details {
        padding-bottom: 40px;
      }
    }
  }

  @include desktop() {

    .epc-section {
      display: flex;

      > * {
        flex: 0 0 33%;
        margin-bottom: 40px;

        ::ng-deep .data-card {
          justify-content: flex-start;

          .number-value {
            margin: auto;
          }
        }

        &:not(:last-child) {
          border-right: 2px solid $separator-grey;
        }
      }

      .epc-diagram-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
      }
    }

    .confirm-epc-details-section {
      padding: $section-break-margin 0;
      position: relative;
      display: flex;
      flex-direction: column;

      .confirm-epc-details-background {
        height: 100%;
        width: 100vw;
        position: absolute;
        background: white;
        left: -1 * (100vw - $component-width) / 2;
        top: 0;
      }
      .epc-details-header, .confirm-epc-details-body {
        z-index: 1;
      }

      .epc-details-header {
        font-size: 20px;
        line-height: 24px;
        color: $focus-text-blue;
        margin-bottom: 10px;
      }

      .confirm-epc-details-body {
        display: flex;
        flex-direction: row;
        align-items: stretch;
      }

      .epc-details-container {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;

        .epc-details-list {
          margin: 0;
          padding-left: 16px;

          .epc-detail {
            padding: 8px 0;
            color: #39393A;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .confirm-epc-details {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        justify-content: flex-end;
        padding-bottom: 12px;

        .confirm-epc-details-row {
          display: flex;
          align-items: center;
        }
      }
    }

    .need-more-details-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      .no-details {
        padding-bottom: 48px;
      }
    }
  }
}
