$left-column-width: 50%;
$right-column-width: 100% - $left-column-width;
$section-break-margin: 40px;
$epc-rating-width: 40px;
$epc-rating-margin: 40px;

.confirm-epc-question {
  display: flex;
  flex-direction: column;
  width: 100%;

  .horizontal-line {
    border-top: 1px solid black;
    width: 100%;
  }

  .epc-rating-container {
    display: flex;
    flex-direction: row;
    margin: $section-break-margin 0;

    .epc-rating-header, .epc-rating-description {
      flex-grow: 1;
    }

    .epc-rating-header {
      display: flex;
      flex-basis: calc(#{$right-column-width} - #{$epc-rating-width} - 2 * #{$epc-rating-margin});
    }

    .epc-rating {
      background-color: black;
      color: white;
      border-radius: 50%;
      font-size: 36px;
      font-weight: bold;
      padding: 4px;
      width: $epc-rating-width;
      height: $epc-rating-width;
      margin: 0 $epc-rating-margin;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .epc-rating-description {
      align-items: left;
      flex-basis: $right-column-width;
    }
  }

  .confirm-epc-details-section {
    margin: $section-break-margin 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .epc-details-container {
      display: flex;
      flex-direction: column;
      flex-basis: $left-column-width;

      .epc-details-header {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .epc-details-list {
        margin: 0;

        .epc-detail {
          margin: 10px 0;
        }
      }
    }

    .confirm-epc-details {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      flex-basis: $right-column-width;
      justify-content: space-between;

      .confirm-epc-details-row {
        display: flex;

        .confirm-epc-details-question {
          margin-right: 20px;
        }

        .confirm-epc-details-button {
          background: none;
          border: 1px solid black;
          height: 30px;
          width: 80px;
          border-radius: 15px;
          margin: 0 10px;
          cursor: pointer;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  .need-more-details-button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 40px 10px 20px;
    border: none;

    &:hover {
      box-shadow: 0 0 2px 2px grey;
    }
  }
}