<div class="boiler-regulation-card">
  <div class="box description">
    <div class="content">
      <span class="icon icon-heating"></span>
      <div class="explanation">
        <div class="headline">{{regulation.headline}}</div>
        <div class="summary">{{regulation.summary}}</div>
      </div>
    </div>
  </div>
  <div class="box efficiency">
    <div class="box-heading">Efficiency improvement</div>
    <div class="box-content percentage">{{regulation.efficiencyImprovement.toFixed(1)}}%</div>
  </div>
</div>