@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/page";

$efficiency-box-width: 220px;
$remaining-width: $content-max-width - $efficiency-box-width;

:host {
  display: block;
}

.boiler-regulation-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 16px 0;

  .box {
    box-sizing: border-box;

    &.description {
      flex: 1 1 auto;
      width: $remaining-width;
      background-color: white;
      border-left: 10px solid $lighter-medium-grey;
    }

    &.efficiency {
      flex: 0 0 auto;
      background-color: $dark-medium-blue;
      font-weight: bold;
      color: white;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 32px 48px;

      .box-heading {
        @include body-uppercase;
        font-weight: normal;
        text-align: center;
      }

      .box-content {
        @include focus-text;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .box.description {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    width: 100%;
    align-items: stretch;

    .content {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 16px;
      }

      .explanation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .headline {
          @include card-heading-font;
          color: $dark-medium-blue;
          margin-bottom: 16px;
        }

        .summary {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}


@include desktop() {
  .boiler-regulation-card {
    .box.efficiency .box-heading {
      height: 48px;
    }

    .box.description .content .explanation {
      .headline, .summary {
        width: 80%;
      }
    }
  }
}

@include tablet() {
  .boiler-regulation-card {
    .box.description {
      padding: 20px;

      .content .explanation {
        padding: 10px 40px 0 0;
      }
    }
  }
}

@include mobile-and-tablet() {
  .boiler-regulation-card {
    flex-direction: column;

    .box.efficiency {
      width: 100%;
      padding: 20px;
    }
  }
}

@include mobile() {
  .boiler-regulation-card {
    .box.efficiency {
      width: 100%;
    }

    .box.description {
      padding: 20px;

      .content {
        flex-direction: row-reverse;
        padding: 10px 0;

        .icon {
          align-self: flex-start;
          margin: 0;
        }
      }
    }
  }
}


