.bedrooms-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bedrooms-icons {
  max-width: 100%;
  padding-top: 48px;

  .icon-bed {
    padding: 0 8px;
  }
}