<div class="download-plan page-row">
    <div class="page-row-content">
        <div class="download-your-plan your-plan-action">
            <div class="action-details">
                <div class="header">Download your plan</div>
                <div class="description">Save your plan to your device so that you can return to it later</div>
            </div>
            <div class="download-button-container">
                <app-download-pdf-button [forLandlord]="false"></app-download-pdf-button>
            </div>
        </div>
        <div class="action-divider">
            <div>OR</div>
        </div>
        <div class="email-your-plan your-plan-action">
            <div class="header">Email your plan</div>
            <form class="email-form" (submit)="onEmailPdfClicked()">
                <input [(ngModel)]="emailAddress"
                       name="emailAddress"
                       class="email-input"
                       title="Enter your email address"
                       type="email"
                       email
                       required
                       [attr.aria-invalid]="emailIsError ? 'true' : 'false'">
                <button type="submit" class="send-email" [disabled]="emailIsLoading">GO</button>
            </form>
            <app-spinner-and-error-container [loading]="emailIsLoading"
                                             [error]="emailIsError"
                                             errorMessage="Please enter a valid email address.">
            </app-spinner-and-error-container>
        </div>
        <div class="share-your-plan your-plan-action">
            <div class="header">Share your plan</div>
            <div class="share-buttons">
                <button (click)="shareToFacebook()">
                    <img src="/dist/assets/images/icons/facebook.png" alt="Share to Facebook">
                </button>
                <button (click)="shareToTwitter()">
                    <img src="/dist/assets/images/icons/twitter.png" alt="Share to Twitter">
                </button>
            </div>
        </div>
    </div>
</div>
