@import "styles/var/colors";
@import "styles/mixins/font";
@import "../download-pdf-button/download-pdf-button.component";

// Component specific variables
$send-email-button-height: 40px;
$send-email-button-arrow-width: 10px;
$action-divider-circle-diameter: 40px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.download-plan.page-row {
  padding: 34px 0 27px 0;
  background-color: white;

  .page-row-content {
    display: flex;
    position: relative;

    .your-plan-action {
      display: flex;
      flex: 1 0 1px;
      justify-content: space-around;

      .header {
        @include plan-footer-header-font;
        width: 100%;
      }

      .description {
        @include plan-footer-description-font;
      }

      .loading-spinner-small {
        margin: 10px;
      }

      .download-button-container {
        flex: 0 0 $download-pdf-button-width;
        margin-left: 12px;
      }
    }

    .action-divider {
      position: relative;
      width: 0;
      border: none;
      > div {
        width: $action-divider-circle-diameter;
        height: $action-divider-circle-diameter;
        border: 1px solid $light-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: calc(50% - #{$action-divider-circle-diameter}/2);
        top: calc(50% - #{$action-divider-circle-diameter}/2);
        background-color: white;
      }
    }

    .email-your-plan {
      flex-direction: column;

      .email-form {
        height: $send-email-button-height;
        display: flex;
        align-items: stretch;

        .email-input {
          outline: none;
          border: none;
          margin: 0;
          background-color: $lighter-grey;
          padding: 10px;
          @include plan-footer-description-font;
          width: calc(100% - 60px);
          box-sizing: border-box;
        }

        .send-email {
          outline: none;
          border: none;
          margin: 0;
          padding: 0;
          position: relative;
          flex: 0 0 60px;
          background: $light-blue;
          color: $dark-blue;
          cursor: pointer;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -$send-email-button-arrow-width;
            width: 0;
            height: 0;
            border-left: $send-email-button-arrow-width solid $light-blue;
            border-top: $send-email-button-height/2 solid transparent;
            border-bottom: $send-email-button-height/2 solid transparent;
          }

          &:hover, &:focus, &:active {
            background-color: $dark-blue;
            color: $light-blue;
            &:after {
              border-left: $send-email-button-arrow-width solid $dark-blue;
            }
          }

          &:disabled {
            background-color: $dark-medium-grey;
            color: $light-grey;
            &:after {
              border-left: $send-email-button-arrow-width solid $dark-medium-grey;
            }
          }
        }
      }
    }

    .share-your-plan {
      flex-direction: column;
      .share-buttons {
        button {
          background: none;
          border: none;
          cursor: pointer;
          > img {
            height: 40px;
          }
        }
        button + button {
          margin-left: 20px;
        }
      }
    }
  }
}

// Breakpoint specific styling
.download-plan.page-row {
  @include mobile() {
    padding: 17px 0 14px 0;
    .page-row-content {
      flex-wrap: wrap;

      .download-your-plan {
        padding-right: 24px;
        border-right: 1px solid $light-grey;
      }

      .email-your-plan {
        padding-left: 24px;
      }

      .share-your-plan {
        flex: 0 0 100%;
        margin-top: 20px;
        .header {
          text-align: center;
        }
        .share-buttons {
          display: flex;
          justify-content: center;
        }
      }

      .your-plan-action {
        .header {
          font-weight: bold;
          margin-bottom: 12px;
        }

        .description {
          display: none;
        }

        .email-form {
          .email-input {
            width: calc(100% - 40px);
          }

          .send-email {
            flex: 0 0 40px;
          }
        }
      }
    }
  }

  @include tablet() {
    .page-row-content {
      .your-plan-action:not(:last-of-type) {
        padding-right: 38px;
        border-right: 1px solid $light-grey;
      }

      .your-plan-action:not(:first-of-type) {
        padding-left: 38px;
      }

      .your-plan-action {
        .header {
          margin-bottom: 10px;
          font-family: $font-family-light;
        }
      }
    }
  }

  @include desktop() {
    .page-row-content {
      & > * {
        border-left: 1px solid $light-grey;
      }

      & > :last-child {
        border-right: 1px solid $light-grey;
      }

      .your-plan-action {
        padding: 0 40px;

        .header {
          font-weight: bold;
          margin-bottom: 12px;
        }
      }
    }
  }
}