<div class="download-plan page-row">
    <div class="page-row-content">
        <div class="download-your-plan">
            <div class="action-details">
                <div class="header">Download your plan</div>
                <div class="description">Save your plan to your device so that you can return to it later</div>
            </div>
            <div class="download-button-container">
                <app-download-pdf-button [forLandlord]="false"
                                         [downloadEndpoint]="downloadEndpoint"
                                         [analyticsEventName]="'download-plan_clicked'"></app-download-pdf-button>
            </div>
        </div>
        <div class="action-divider">OR</div>
        <div class="email-your-plan">
            <div class="header">Email your plan</div>
            <form class="email-form" (submit)="onEmailPdfClicked()" *ngIf="!emailIsLoading && !emailIsError">
                <input [(ngModel)]="emailAddress"
                       name="emailAddress"
                       class="email-input"
                       title="Enter your email address"
                       type="email"
                       email
                       required >
                <button type="submit" class="send-email">GO</button>
            </form>
            <app-spinner-and-error-container [loading]="emailIsLoading"
                                             [error]="emailIsError">
            </app-spinner-and-error-container>
            <button *ngIf="emailIsError"
                    (click)="emailAddress = null; emailIsLoading = false; emailIsError = false">
                Reset
            </button>
        </div>
    </div>
</div>
