// Global styling classes.

@import "./styles/var/font";

@import './styles/mixins/buttons';

@import "./styles/icons";
@import './styles/questionnaire';

@import 'styles/_spinner';

html, body {
  width: calc(100vw - 32px);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: $font-family;
}