// Global styling classes.

@import "styles/mixins/font";

@import './styles/mixins/buttons';

@import "./styles/icons";
@import './styles/questionnaire';

@import 'styles/_spinner';
@import 'styles/_error';

html, body {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#main-content {
  width: calc(100vw - 32px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: $font-family;
}