<div class="question-component length-of-heating-on-question">
    <form class="questionnaire-form" (submit)="handleFormSubmit()">
        <app-number-question itemsName="length of heating on"
                             [(quantity)]="response"
                             [minQuantity]="0"
                             [maxQuantity]="24"
                             [step]="1"></app-number-question>
    </form>
    <div class="error" *ngIf="isInvalid">
        <div class="error-message">Please enter a valid value between 0 and 24 (inclusive).</div>
    </div>
</div>