<div class="progress-indicator-component">
    <div class="progress-indicator">
        <div class="pre-questionnaire-sections"></div>
        <div class="questionnaire-sections">
            <div class="questionnaire-section information-section">
                <span class="journey-heading" *ngIf="journeyHeading !== null">{{journeyHeading}}</span>
                <span class="clock" [inlineSVG]="'icons/timer.svg'"></span>
                <span class="time-needed">5 mins</span>
            </div>
            <div class="questionnaire-section"
                 *ngFor="let questionnaireSection of questionnaireSections"
                 [style.flex-basis]="getFlexBasis(questionnaireSection)">
                <div class="question-type-icon-container">
                    <div class="question-type-icon">
                        <div class="house" [inlineSVG]="'question-types/house.svg'" *ngIf="questionnaireSection.className === 'icon-house'"></div>
                        <div class="thermostat" [inlineSVG]="'question-types/thermostat.svg'" *ngIf="questionnaireSection.className === 'icon-thermostat'"></div>
                        <div class="person" [inlineSVG]="'question-types/person.svg'" *ngIf="questionnaireSection.className === 'icon-person'"></div>
                    </div>
                    <div class="horizontal-dashed-line"></div>
                </div>
                <div *ngFor="let question of questionnaireSection.questions" class="progress-indicator-step">
                    <button class="step-link"
                            [attr.title]="getTitleText(question)"
                            [attr.aria-label]="getTitleText(question)"
                            [disabled]="!isAvailable(question.questionIndex)"
                            [class.active]="question.questionIndex === currentQuestionIndex"
                            [class.not-applicable]="!isApplicable(question.questionIndex)"
                            (click)="clickedOnLink.emit(question.questionIndex)"></button>
                    <div class="horizontal-dashed-line"></div>
                </div>
            </div>
        </div>
        <div class="post-questionnaire-sections"></div>
    </div>
</div>