@import "styles/page";
@import 'styles/var/colours';

$progress-indicator-height: 40px;
$progress-indicator-border-width: 2px;

:host {
  background: white;
}

.progress-indicator-component {
  display: flex;
  height: $progress-indicator-height;
  padding: 4px 0;

  .arrow, .arrow-cover-up, .arrow-background-cover-up {
    position: absolute;
    left: calc(100% - 20px);
    top: 50%;
  }

  .arrow-background-cover-up {
    background-color: white;
    height: $progress-indicator-height;
    width: $progress-indicator-height + $progress-indicator-border-width;
    margin-top: (-0.5) * $progress-indicator-height;
  }

  .arrow {
    border: solid 0.5 * $progress-indicator-height + $progress-indicator-border-width transparent;
    border-left-color: $light-medium-grey;
    margin-top: (-0.5) * $progress-indicator-height - $progress-indicator-border-width;
  }

  .arrow-cover-up {
    border: solid 0.5 * $progress-indicator-height transparent;
    border-left-color: white;
    margin-top: (-0.5) * $progress-indicator-height;
  }

  .progress-indicator {
    display: flex;
    flex-grow: 1;

    .questionnaire-section {
      flex-grow: 1;
      display: flex;
      position: relative;
      align-items: center;

      .horizontal-dashed-line {
        border-bottom: 1px dashed $dark-medium-grey;
        flex: 1;
      }

      .question-type-icon-container, .progress-indicator-step {
        display: flex;
        align-items: center;
        z-index: 1;
      }

      .question-type-icon-container {
        flex: 1.5;

        .question-type-icon {
          padding: 5px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 0;
        }
      }

      .progress-indicator-step {
        flex: 1;

        .step-link {
          padding: 0;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          border: 1px solid black;
          background: none;

          &.active {
            background-color: black;
          }

          &:not(:disabled) {
            cursor: pointer;

            &:hover {
              background-color: black;
            }
          }

          &.not-applicable {
            background-color: $light-medium-grey;
          }
        }
      }

      &:last-child {
        .arrow-background-cover-up {
          height: $progress-indicator-height + 2 * $progress-indicator-border-width;
          margin-top: (-0.5) * $progress-indicator-height - $progress-indicator-border-width;
        }
      }
    }
  }
}