<div class="progress-indicator-component page-row-content">
    <div class="progress-indicator">
        <div class="questionnaire-section" *ngFor="let questionnaireSection of questionnaireSections"
             [style.flex-basis]="getFlexBasis(questionnaireSection)">
            <div class="question-type-icon-container">
                <div class="question-type-icon" [ngClass]="questionnaireSection.className"></div>
                <div class="horizontal-dashed-line"></div>
            </div>
            <div *ngFor="let question of questionnaireSection.questions" class="progress-indicator-step">
                <button class="step-link"
                        [attr.title]="getTitleText(question)"
                        [attr.aria-label]="getTitleText(question)"
                        [disabled]="!isAvailable(question.questionIndex)"
                        [class.active]="question.questionIndex === currentQuestionIndex"
                        [class.not-applicable]="!isApplicable(question.questionIndex)"
                        (click)="clickedOnLink.emit(question.questionIndex)"></button>
                <div class="horizontal-dashed-line"></div>
            </div>
        </div>
    </div>
</div>