@import "styles/page";
@import 'styles/var/colors';
@import "~mathsass/dist/_constants";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.progress-indicator {
  padding: 20px;

  .completion-percentage {
    margin-bottom: 10px;
  }

  .completion-bar {
    position: relative;
    background-color: $dark-grey;
    height: 6px;
    display: flex;
    align-content: flex-start;

    .completion-bar-content {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

// Breakpoint specific styling
.progress-indicator {
  @include mobile() {
  }

  @include tablet() {
    .completion-bar {
      width: 75vw;
    }
  }

  @include desktop() {
    .completion-bar {
      width: 50vw;
    }
  }
}