@import "styles/var/colors";
@import "styles/mixins/font";

// Component specific variables

// Component specific mixins
@mixin is-page-footer($padding, $icon-size) {
  .page-row-content {
    padding: $padding;

    .contact-us-details {
      .icon {
        width: $icon-size;
        height: $icon-size;
      }
    }
  }
}

@mixin has-horizontal-content($horizontal-spacing, $text-width) {
  .page-row-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .header {
      margin-right: $horizontal-spacing;
      flex: 0 0 $text-width;
    }
  }
}

@mixin has-vertical-content($vertical-spacing) {
  .page-row-content {
    .header {
      margin-bottom: $vertical-spacing;
    }
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
.footer {
  background-color: $darker-grey;

  .page-row-content {
    .header, .phone-number {
      color: white;
    }

    .header {
      @include footer-font;
    }

    .contact-us-details {
      display: flex;
      align-items: center;

      .icon {
        fill: $icon-blue;
        margin-right: 13px;
      }

      .phone-number {
        @include footer-phone-number-font;

        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .footer {
    @include is-page-footer(88px 0 84px 0, 20px);
    @include has-vertical-content(26px);
  }
}

@include tablet() {
  .footer {
    @include is-page-footer(88px 0 84px 0, 20px);
    @include has-horizontal-content(10%, 350px);
  }
}

@include desktop() {
  .footer {
    @include is-page-footer(88px 0 84px 0, 20px);
    @include has-horizontal-content(35px, 350px);
  }
}