@import "styles/mixins/font";

.living-room-temperature-question {
  .temperature-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      @include question-label-font;
      margin-bottom: 17px;
    }
  }
}
