@import "styles/mixins/font";
@import "styles/mixins/miscellaneous";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.installer-search {
  .page-heading {
    background-color: $light-blue;
    color: $dark-blue;

    .body-text {
      padding: 30px 0 0;
      font-family: $font-family-light;
    }
  }

  .selectors {
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 225px;

    .selector-container {
      display: flex;

      .field-container {
        @include is-flex-column;

        .field-heading {
          color: $dark-blue;
          font-size: 20px;
          font-family: $font-family;
          padding-bottom: 15px;
        }
      }

      .postcode-input {
        background-color: white;
        height: 72px;
        padding: 0 24px;
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        border: none;
        text-transform: uppercase;
      }

      .measure-name-input {
        background-color: white;
        height: 72px;
        padding: 0 24px;
        font-size: 16px;
        line-height: 29px;
        font-weight: bold;
        text-align: center;
        border: none;

        .measure {
          font-size: 16px;
          width: 100%;
        }
      }

      .search-button {
        background-color: $pink;
        &:hover, &:focus, &:active {
          background-color: $dark-medium-blue;
        }
        height: 72px;
        padding: 0 14px;
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }

  .before-submit {
    color: $dark-blue;
    margin: 50px 0;
  }

  .no-results {
    color: $dark-blue;
    margin: 50px 0;
  }

  .results {
    margin-bottom: 20px;
  
    .results-header {
      color: $dark-blue;
      font-size: 28px;
      font-weight: bold;
    }

    .map-panel {
      padding-bottom: 0;
    }

    .results-column {
      border-collapse: collapse;
      overflow: auto;
      text-align: center;
      width: 100%;
    }

    .results-navigation-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 25px;
      margin-top: 10px;
      align-items: stretch;

      .page-number {
        background: $dark-medium-blue;
        border: none;
        color: white;
        padding: 10px 0;
        margin: 0 2px;
        width: 30px;
        text-align: center;
      }

      .results-navigation-button {
        background-color: $dark-medium-blue;
        border: none;
        color: white;
        padding: 10px 0;
        margin: 0 0;
        width: 30px;

        &:hover {
          background-color: $pink;
        }

        &.disabled {
          pointer-events: none;
          background: $light-medium-grey;
        }
      }
    }

    .trustmark-credits {
      margin-top: 20px;
      background-color: $dark-blue;
      color: white;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      align-items: center;

      .trustmark-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 4px 0;
        }

        img {
          height: 40px;
        }
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .installer-search {
    .page-heading .page-row-content{
      padding: 25px 0;

      .heading-text {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selector-container {
      margin: 0 20px;
      flex-direction: column;
      width: 90%;

      .field-heading {
        padding-top: 15px;
      }

      .postcode {
        flex: 1 1 100%;
        display: flex;
      }

      .measure-name {
        flex: 1 1 100%;
      }

      .search-button {
        margin: 30px 0;
      }
    }

    .results {
      .results-display {
        @include is-flex-column;

        .results-panel {
          width: 100%;

          .results-column {
            height: 40vh;
          }
          .results-navigation-buttons {
            margin-bottom: 10px;
          }
        }

        .map-panel {
          width: 100%;
          height: 50vh;
        }
      }

      .trustmark-credits {
        flex-direction: column;
        padding: 15px 15px 0 15px;
      }
    }
  }
}

@include tablet() {
  .installer-search {
    .page-heading .page-row-content {
      padding: 60px 0;

      .heading-text {
        font-size: 48px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selector-container {
      align-items: flex-end;
      margin: 0 34px;

      .postcode {
        flex: 1 1 15%;

        .postcode-input {
          width: 150px;
        }
      }

      .measure-name {
        flex: 1 1 40%;
        margin: 0 30px;

        .measure-name-input {
          width: 100%;
        }
      }

      .search-button {
        width: 130px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 12px 0 0 auto;
      }
    }

    .results-display {
      @include is-flex-column;

      .results-panel {
        width: 50%;

        .results-column {
          height: 40vh;
        }
        .results-navigation-buttons {
          margin-bottom: 10px;
        }
      }

      .map-panel {
        width: 100%;
        height: 50vh;
      }
    }

    .trustmark-logo {
      margin: 0 20px;
    }
  }
}

@include desktop() {
  .installer-search {
    .page-heading .page-row-content {
      padding: 60px 0;

      .heading-text {
        font-size: 48px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selector-container {
      margin: 0 34px;
      justify-content: space-between;
      align-items: flex-end;

      .postcode {
        flex: 1 1 15%;
      }

      .measure-name {
        flex: 1 1 40%;
        margin: 0 30px;

        .measure-name-input {
          box-sizing: border-box;
          width: 100%;
        }
      }

      .search-button {
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 12px 0 0 auto;
      }
    }

    .results-display {
      @include is-flex-row;
      height: 80vh;

      .results-panel {
        @include is-flex-column;
        width: 30%;
      }

      .map-panel {
        width: 70%;
        margin-left: 20px;
      }
    }

    .trustmark-logo {
      margin: 0 20px;
    }
  }
}
