@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.installer-search {
  .page-heading {
    background-color: $light-blue;
    color: $dark-blue;

    .body-text {
      padding: 30px 0 0;
      font-family: $font-family-light;
    }
  }

  .selectors {
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;

    .selector-container {
      display: flex;

      .field-container {
        flex-direction: column;

        .field-heading {
          color: $dark-blue;
          font-size: 20px;
          font-family: $font-family;
          padding-bottom: 15px;
        }
      }

      .postcode {
        flex: 1 1 15%;
        //margin-right: 20px;
        box-sizing: border-box;

        .postcode-input {
          background-color: white;
          height: 72px;
          padding: 0 24px;
          font-size: 24px;
          line-height: 29px;
          font-weight: bold;
          border: none;
          text-transform: uppercase;
        }
      }

      .measure-name {
        flex: 1 1 40%;
        margin: 0 30px;
        box-sizing: border-box;

        .measure-name-input {
          background-color: white;
          height: 72px;
          width: 100%;
          padding: 0 24px;
          font-size: 16px;
          line-height: 29px;
          font-weight: bold;

          box-sizing: border-box;
          text-align: center;
          border: none;

          .measure {
            font-size: 16px;
            width: 5100%;
          }
        }
      }

      .search-button {
        background-color: $pink;
        height: 72px;
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;

        padding: 0 14px;
        margin: 12px 0 0 auto;
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }

  .results-section {

    .before-submit {
      color: $dark-blue;
      margin-top: 50px;
    }

    .results {
      .header {
        color: $dark-blue;
        font-size: 28px;
        font-weight: bold;
        padding: 50px 0 30px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 50px;

        th {
          background-color: $light-blue;
          color: $dark-blue;
          height: 45px;
          border-bottom: 10px solid white;
          text-align: left;
          padding: 0 15px;

        }

        td {
          padding: 15px;
          background-color: $lighter-grey;
          border: 3px solid white;
        }
      }
    }

    .no-results {
      color: $dark-blue;
      margin-top: 50px;
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .installer-search {
    .page-heading {
      .page-row-content {
        padding: 25px 0;
      }

      .heading-text {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selectors {
    }
  }
}

@include tablet() {
  .installer-search {
    .page-heading {
      .page-row-content {
        padding: 60px 0;
      }

      .heading-text {
        font-size: 48px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selectors {

    }
  }
}

@include desktop() {
  .installer-search {
    .page-heading {
      .page-row-content {
        padding: 60px 0;
      }

      .heading-text {
        font-size: 48px;
        line-height: 40px;
        font-weight: bold;
      }
    }

    .selectors {
      min-height: 225px;

      .selector-container {
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}