<div class="installer-search">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <h1 class="heading-text">Find an installer</h1>
            <div class="body-text">Troubleshooting your boiler or finding the best replacement</div>
        </div>
    </div>
    <div class="selector-container page-row">
        <div class="field-container postcode">
            <div class="field-heading">Postcode</div>
            <form>
                <input [(ngModel)]="postcode"
                       type="text" name="postcode" class="text-container postcode-input">
                <!--<button></button>-->
            </form>
        </div>
        <div class="field-container measure-name">
            <div class="field-heading">Measure Name</div>
                <select class='select-measure measure-name-input' [(ngModel)]='selectedMeasure' >
                    <option class='measure' *ngFor='let measure of measures' [ngValue]="measure">{{measure.acf.headline}}</option>
                </select>
            <button (click)="submit()"></button>
        </div>
    </div>
    <div class="page-row page-content">
        <p class="page-row-content">
            This page will soon contain a list of suitable installers
        </p>
    </div>
</div>