@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.installer-search {

  .page-heading {
    background-color: $light-blue;
    color: $dark-blue;

    .page-row-content {
      padding: 60px 0;
    }

    .heading-text {
      font-size: 48px;
      line-height: 40px;
      font-weight: bold;
    }

    .body-text {
      padding: 30px 0 0;
      font-family: $font-family-light;
    }
  }

  .selector-container {
    background-color: $light-grey;
    display: flex;
    justify-content: space-around;

    .field-container {
      flex-direction: column;

      .field-heading {
        color: $dark-medium-blue;
        font-size: 20px;
        font-family: $font-family;
        padding-bottom: 15px;
      }

      form {
        background-color: white;
        display: flex;

        .text-container {
          padding: 0 24px;
          height: 72px;
          font-size: 24px;
          line-height: 29px;
          font-weight: 700;
          border: none;

        }

        .measure-name-input {
          width: 500px;
        }

        .postcode-input {
          width: 200px;
        }

        button {
          width: 40px;
          height: 40px;
          background: crimson;
          border: none;
          cursor: pointer;
          font-size: 30px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

}


// Breakpoint specific styling
@include mobile() {
}

@include tablet() {
}

@include desktop() {
    .selector-container {
      //padding: 80px 0px 80px 0px;
      display: flex;
      min-height: 225px;
      align-items: center;
    }

}