<div class="installer-search">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <h1 class="heading-text">Find an installer</h1>
            <div class="body-text">Find a trustworthy installer in your area</div>
        </div>
    </div>
    <div class="selectors page-row">
        <form (submit)="updateSearchParametersWithFormValues(); loadInstallers();" class="selector-container page-row-content">
            <div class="field-container postcode">
                <label for="postcode" class="field-heading">Postcode</label>
                <input id="postcode" [(ngModel)]="formPostcode" (blur)="formPostcode = $event.target.value"
                       [ngModelOptions]="{standalone: true}"
                       type="text" name="postcode" class="postcode-input" autocomplete="postal-code">
            </div>
            <div class="field-container measure-name">
                <label for="measure" class="field-heading">Measure Name</label>
                <select id="measure" class="select-measure measure-name-input" [(ngModel)]="formSelectedMeasure"
                        [ngModelOptions]="{standalone: true}">
                    <option class='measure' *ngFor='let measure of measures' [ngValue]="measure">
                        {{measure.acf.headline}}
                    </option>
                </select>
            </div>
            <div class="field-container search">
                <button class="search-button" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="results-section page-row">
        <div class="page-row-content">
            <div class="before-submit" *ngIf="!searchHasBeenPerformed && !loading">
                Please enter your details above to find installers in your area.
            </div>
            <div aria-live="polite">
                <div class="no-results" *ngIf="searchHasBeenPerformed && !loading && installers.length === 0">
                    Sorry, we couldn't find any installers in your area. You may be able to find some on the Trustmark website.
                    <app-link-button
                            [linkUrl]="trustmarkLinkUrl"
                            [buttonText]="'Find installers on the Trustmark website'"
                            [openInNewTab]="true"
                    ></app-link-button>
                </div>
                <app-spinner-and-error-container [error]="getUserLatLngUnsuccessful && !loading &&  !errorMessage  && installers.length > 0" [errorMessage]="'Sorry, something went wrong. Your current location could not be displayed on the map.'"></app-spinner-and-error-container>
                <div class="results" *ngIf="searchHasBeenPerformed && !errorMessage && installers.length > 0">
                    <h2 class="results-header">Results</h2>
                    <div class="results-display" *ngIf="searchHasBeenPerformed && !errorMessage && installers.length > 0">
                        <div class="results-panel">
                            <div class="results-column">
                                <app-installer-card *ngFor="let installer of installers" [installerInfo]="installer" [selectedInstallerId]="selectedInstallerId" (mouseenter)="onInstallerCardMouseEnter(installer.id)" (mouseleave)="onInstallerCardMouseLeave()"></app-installer-card>
                                <div class="all-installers-card">
                                    <h3 class="title">Looking for more installers?</h3>
                                    <div class="description">You can find a more comprehensive list of installers on the Trustmark website</div>
                                    <app-link-button
                                            [linkUrl]="trustmarkLinkUrl"
                                            [buttonText]="'Find installers on the Trustmark website'"
                                            [openInNewTab]="true"
                                            [centred]="true"
                                    >
                                    </app-link-button>
                                </div>
                            </div>
                        </div>
                        <div class="map-panel">
                            <app-installer-map [installers]="installers" [postcode]="formPostcode" [hoveredInstallerCardId]="hoveredInstallerCardId" (getUserLatLngUnsuccessful)="onGetUserLatLngUnsuccessful()" (markerClick)="onMarkerClick($event)"></app-installer-map>
                        </div>
                    </div>
                    <div class="trustmark-credits">
                        <div class="trustmark-logo">
                            <p>Search powered by</p>
                            <img src="/dist/assets/images/logos/trustmark-logo-white-for-dark-background.png" title="Trustmark Logo" alt="Trustmark Logo">
                        </div>
                        <div>
                            <p>TrustMark is the Government Endorsed Quality Scheme that covers work a consumer chooses to have carried out in or around their home.</p>
                            <p>
                                When a consumer chooses a TrustMark Registered Business, they are engaging an organisation that 
                                has been thoroughly vetted to meet required standards, and has made a commitment to good customer service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <app-spinner-and-error-container [loading]="loading" [error]="!!errorMessage" [errorMessage]="errorMessage"></app-spinner-and-error-container>
        </div>
    </div>
</div>
