@import 'styles/mixins/buttons';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include with-no-spin-buttons;

input[type="number"] {
  width: 48px;
}

.increase-button {
  @include round-button(32px);
  font-size: 24px;
  margin: 0 16px;
}