@import 'styles/mixins/buttons';
@import "styles/var/colors";
@import "styles/mixins/font";
@import "styles/mixins/layout";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-question-component {
  @include with-no-spin-buttons;
  padding: 0 4px;

  .text-box-container {
    background: white;
    display: flex;

    height: 56px;
    box-sizing: border-box;
    margin: 0 20px;

    &:hover, &.text-box-focused {
      background: $light-grey;
    }

    &.text-box-focused {
      box-shadow: 0 0 10px 4px grey;
    }

    .prefix {
      @include question-number-font;

      display: flex;
      align-items: center;

      color: $focus-blue;
    }

    .text-box {
      box-sizing: border-box;
      width: 80px;

      border: none;
      outline: none;

      background: transparent;
      color: inherit;
      @include question-number-font;
      text-align: center;
    }
  }

  .delta-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    ::ng-deep svg circle {
      fill: $focus-blue;
    }

    &[disabled], &.inactive {
      background-color: transparent;
      color: $light-medium-grey;
    }

    &:not([disabled]) {
      &:hover, &:focus {
        ::ng-deep svg circle {
          fill: $darkened-blue;
        }
      }
    }
  }
}

// Breakpoint specific styling
.number-question-component {
  @include mobile() {
  }

  @include tablet() {
  }

  @include desktop() {
  }
}