@import 'styles/mixins/buttons';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-question-component {
  @include with-no-spin-buttons;
  border: 1px solid black;
  border-radius: 33px;
  width: 160px;
  padding: 0 4px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    margin: 0 8px;
    width: 1px;
    flex-grow: 1;
    background: transparent;

    &:hover, &:focus {
      background: white;
    }
  }

  .increase-button {
    @include round-button(40px);
    font-size: 36px;
    line-height: 0;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: transparent;
    color: black;

    &[disabled], &.inactive {
      background-color: transparent;
      color: $light-medium-grey;
    }

    &:not([disabled]) {
      &:hover, &:focus {
        background-color: $light-medium-grey;
        border-color: transparent;
      }
    }
  }
}