<div class="form-element">
    <button type="button" (click)="increaseQuantity(-step)" [disabled]="isInvalid || !isValidForMinimum(quantity)"
            class="increase-button">-</button>
    <input class="text-input" type="number" [(ngModel)]="quantity" (ngModelChange)="updateQuantity()"
           aria-labelledby="question-heading" [min]="minQuantity" [max]="maxQuantity">
    <button type="button" (click)="increaseQuantity(step)" [disabled]="isInvalid || !isValidForMaximum(quantity)"
            class="increase-button">+</button>
</div>
<div *ngIf="isInvalid" class="error">
    Please enter a valid amount of {{itemsName}}.
</div>