.roof-space-question .roof-space-options {
  display: flex;

  .roof-space-option {
    flex: 0 0 auto;
    width: calc((100% - 80px - 1px) / 4);

    &:not(:last-child) {
      margin-right: 20px;
    }

    .roof-space-button {
      white-space: nowrap;
      width: 100%;
    }

    .help-text {
      font-size: 14px;
      margin-top: 16px;
      text-align: center;
    }
  }
}