<div class="page-heading page-row">
    <div class="page-row-content">
        <h1 class="heading-text">Simple savings</h1>
        <div class="body-text">There are often a few very easy things you can do to cut 
            your energy use straight away, and without spending lots of money. Here are
            a few things you might want to look at.
        </div>
    </div>
</div>
<app-spinner-and-error-container [loading]="isLoading" [error]="isError" [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="measures page-row">
    <div class="page-row-content measures-list">
        <div class="measure-cards" *ngFor="let measure of measures">
            <div class="measure-card">
                <div class="icon" [inlineSVG]="getMeasureIcon(measure)"></div>
                <div class="headline">{{measure.acf.headline}}</div>
                <div class="summary">{{measure.acf.summary}}</div>
                <a class="link" routerLink="/measures/{{measure.slug}}">READ MORE</a>
            </div>
        </div>
    </div>
</div>
