@import "styles/mixins/font";
@import "styles/var/colours";

$grant-cards-per-row: 4;
$grant-card-margin: 24px;

.results-page {

  width: 100%;

  h2 {
    @include page-heading;
  }

  .subheading {
    @include page-subheading;
    margin-bottom: 8px;
  }

  > .page-row {
    padding: 48px 0;
    &.potentials-container {
      padding: 0;
    }
    &.recommendations-container {
      padding-bottom: 0;
    }

    .page-row-content {
      display: block;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .heading-text {
      flex-shrink: 0;
      margin: 0 32px 0 0;
    }

    .heading-explanation {
      flex-shrink: 1;
      font-size: 14px;
    }
  }

  .potentials-container {
    background-color: $lighter-grey;
    .potentials {
      width: 100%;
    }
  }

  .recommendations.page-row-content {
    display: block;
    padding-bottom: 32px;
    border-bottom: 1px solid $lighter-medium-grey;

    .recommendation-cards {
      margin-top: 24px;
    }

    .further-actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      .see-more {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        background: none;
        border: none;
        cursor: pointer;

        .see-more-text {
          font-size: 20px;
          font-weight: bold;
        }

        .icon-caret-down {
          margin-left: 8px;
          margin-top: 6px;
        }
      }

      .further-questions {
        float: right;
        flex: 0 0 auto;
        padding: 16px 32px;

        background: $lighter-grey;
        border: none;
        cursor: pointer;
      }
    }
  }

  .grants.page-row-content {
    .local-authority {
      @include body-uppercase;
    }

    .grant-cards {
      margin-top: 32px;
      flex-wrap: wrap;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .grant-card {
        flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
        margin-bottom: $grant-card-margin;
        &:not(:nth-child(#{$grant-cards-per-row}n)) {
          margin-right: $grant-card-margin;
        }
      }
    }
  }

  .whats-next {
    background-color: $lighter-grey;

    .latest-news-cards {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: stretch;

      & > * {
        flex: 1 0 1px;
      }

      > :not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}