@import "styles/mixins/font";
@import "styles/var/colours";

$recommendation-cards-per-row: 4;
$recommendation-card-margin: 24px;

$grant-cards-per-row: 4;
$grant-card-margin: 24px;

.results-page {

  width: 100%;

  h2 {
    @include page-heading;
  }

  .subheading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  > :not(:first-child) {
    padding: 48px 0;
    &.potentials-container {
      padding: 0;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .heading-text {
      flex-shrink: 0;
      margin: 0 32px 0 0;
    }

    .heading-explanation {
      flex-shrink: 1;
      font-size: 14px;
    }
  }

  .potentials-container {
    background-color: $lighter-grey;
    .potentials {
      width: 100%;
    }
  }

  .recommendations.page-row-content {
    display: block;
  }

  .grants {
    .grant-cards {
      margin-top: 32px;
      flex-wrap: wrap;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .grant-card {
        flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
        margin-bottom: $grant-card-margin;
        &:not(:nth-child(#{$grant-cards-per-row}n)) {
          margin-right: $grant-card-margin;
        }
      }
    }
  }

  .suggestions {

    background-color: $lighter-medium-grey;

    .suggestion-cards {
      margin-top: 32px;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .suggestion-card {
        flex: 1 0 1px;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
}