@import "../recommendation-tags/_recommendation-tags.scss";
@import "styles/var/colors";

.recommendation-filter-control {
  display: flex;

  .tags {

    .tag {
      cursor: pointer;
      outline: none;
      border: none;

      &.deselected:not(:hover) {
        background-color: white;
        color: $light-medium-grey;
      }

      &.deselected:not(:focus) {
        background-color: white;
        color: $light-medium-grey;
      }

      // TODO:BEISDEAS-169 Add a focus style for keyboard accessibility

      &.clear-filters {
        background-color: $dark-medium-grey;
      }
    }
  }
}