@import "../recommendation-tags/_recommendation-tags.scss";
@import "styles/var/colors";

.recommendation-filter-control {
  display: flex;

  .tags {
    .tag {
      cursor: pointer;
      outline: none;
      border: none;

      &.deselected:not(:hover) {
        background-color: white;
        color: $light-medium-grey;
      }

      &:focus {
        box-shadow: 1px 1px 1px $dark-grey;
      }

      &.clear-filters {
        background-color: $dark-medium-grey;
      }
    }
  }
}