@import "../recommendation-tags/_recommendation-tags.scss";
@import "styles/var/colours";

.recommendation-filter-control {
  display: flex;

  .tags {
    .tag {
      opacity: 0.4;
      cursor: pointer;
      outline: none;
      border: none;

      &:focus, &:hover {
        box-shadow: 2px 2px 4px black;
      }

      &.selected {
        opacity: 1;
      }

      &.clear-filters {
        background-color: $dark-medium-grey;
      }
    }
  }
}