<div #searchContainer class="search-container" [ngClass]="{focussed: shouldDisplaySearchDetailsDropdown}">
    <form class="search-form" (submit)="search()">
        <input #searchInput class="search-input" aria-label="Search text" name="search-text" type="text"
               [(ngModel)]="searchText" (focus)="handleSearchBoxFocussed()"
               (input)="handleInputChange()" />
        <button class="icon" [inlineSVG]="'controls/search.svg'" aria-label="Search" title="Search" type="submit"></button>
    </form>
    <div class="search-details-dropdown" [ngClass]="{expanded: shouldDisplaySearchDetailsDropdown}">
        <div class="search-results-container">
            <div class="search-empty" *ngIf="searchState === searchStates.Initial">
                <div class="hint">To search, type in the box above</div>
            </div>
            <app-spinner-and-error-container [loading]="searchState === searchStates.Loading" [error]="searchState === searchStates.Error" [errorMessage]="errorMessage"></app-spinner-and-error-container>
            <ul class="search-results" *ngIf="searchState === searchStates.Results">
                <li class="text-row" *ngFor="let result of searchResults" [routerLink]="result.route"
                   [tabindex]="shouldDisplaySearchDetailsDropdown ? null : -1" [innerHtml]="result.title"
                   (click)="collapseSearchBox(); sendEventToAnalytics('search-result_clicked', result.route)"
                   (keypress)="goToRouteOnEnterPress($event, result.route)"
                ></li>
            </ul>
            <div class="search-no-results" *ngIf="searchState === searchStates.NoResults">
                <div class="hint">We can't find any matching pages. Please try a different search.</div>
            </div>
        </div>
    </div>
</div>
