.electricity-tariff-question .electricity-tariff-options {
  display: flex;

  .electricity-tariff-option {
    flex: 0 0 auto;
    width: calc((100% - 20px - 1px) / 2);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}