<div class="electricity-tariff-question question-component">
    <div class="multiple-choice-options buttons">
        <button id="standardButton" class="multiple-choice-option tariff-button" [class.selected]="response === ElectricityTariff.Standard" (click)="response = ElectricityTariff.Standard; notifyOfCompletion()">Standard</button>
        <button id="offPeakButton" class="multiple-choice-option tariff-button" [class.selected]="response === ElectricityTariff.OffPeak" (click)="response = ElectricityTariff.OffPeak; notifyOfCompletion()">Off Peak</button>
    </div>
</div>