@import "styles/mixins/font";

:host {
  display: block;
}

.grant-card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  padding: 16px;
  border: 2px solid black;
  box-sizing: border-box;

  .heading, .description, .read-more {
    max-width: 100%;
  }

  .heading {
    @include card-heading;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .description {
    font-size: 20px;
    margin: 16px 0;
  }

  .read-more {
    @include body-uppercase;
  }
}