<app-spinner-and-error-container
        [loading]="isLoading"
        [error]="isError"
        [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="measure-page" *ngIf="!isLoading && !isError">
    <div class="page-row heading-section">
        <div class="page-row-content">
            <h1 class="title">{{measureData.title}}</h1>
            <div class="summary">{{measureData.summary}}</div>
        </div>
    </div>
    <div class="page-row benefits-section" *ngIf="measureData.advantages && measureData.advantages.length">
        <div class="page-row-content">
            <div class="benefits">
                <div class="benefits-title">Benefits</div>
                <div class="benefit-text" *ngFor="let advantage of measureData.advantages">{{advantage}}</div>
            </div>
        </div>
    </div>
    <div class="page-row contents-section" *ngIf="measureData.steps && measureData.steps.length > 1">
        <div class="page-row-content">
            <app-contents-table
                    [headings]="getHeadings()"
                    (onHeadingClicked)="scrollToStep($event)">
            </app-contents-table>
        </div>
    </div>
    <div class="page-row steps-section" *ngIf="measureData.steps && measureData.steps.length">
        <div class="page-row-content">
            <div class="step" *ngFor="let step of measureData.steps; let i = index" id="step-{{i}}">
                <div class="step-title">{{step.headline}}</div>
                <div class="step-content">
                    <div class="step-text">
                        <div class="step-description">{{step.description}}</div>
                        <div class="step-read-more" [innerHTML]="step.readMore"></div>
                    </div>
                    <div class="step-links" *ngIf="step.moreInfoLinks && step.moreInfoLinks.length">
                        <ng-container *ngFor="let moreInfoLink of step.moreInfoLinks">
                            <a class="step-link" *ngIf="!moreInfoLink.linkProps.isRelativeURL" target="_blank" [href]="moreInfoLink.linkProps.route">
                                <div class="step-link-text">{{moreInfoLink.buttonText}}</div>
                                <div class="step-link-icon-container">
                                    <div class="step-link-icon" [inlineSVG]="'controls/new-window.svg'"></div>
                                </div>
                            </a>
                            <a class="step-link" *ngIf="moreInfoLink.linkProps.isRelativeURL" [routerLink]="moreInfoLink.linkProps.route">
                                <div class="step-link-text">{{moreInfoLink.buttonText}}</div>
                                <div class="step-link-icon-container">
                                    <div class="step-link-icon" [inlineSVG]="'controls/main-arrow.svg'"></div>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-row latest-news-section">
        <app-latest-news-section tag="tag_general"></app-latest-news-section>
    </div>
</div>
