@import "styles/mixins/layout";
@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.measure-page {
  .heading-section {
    background-color: $light-blue;

    .title {
      @include measures-page-heading-font;
      color: $dark-blue;
    }

    .summary {
      color: $dark-blue;
      font-family: $font-family-light;
    }
  }

  .benefits-section {
    background-color: $lighter-grey;

    .benefits-title {
      color: $dark-medium-blue;
      font-weight: bold;
      padding-bottom: 20px;
    }

    .benefit-text {
      @include page-body-font;
      list-style-type: disc;
      display: list-item;
      margin-left: 1em;
    }
  }

  .contents-section {
    border-bottom: 4px solid $light-grey;
  }

  .steps-section {
    .step:not(:last-child) {
      border-bottom: 1px solid $dark-medium-blue;
    }

    .step-title {
      @include measures-page-subheading-font;
      color: $dark-medium-blue;
    }

    .step-description {
      @include measures-page-step-description-font;
      color: $dark-medium-blue;
    }

    .step-read-more {
      @include page-body-font;
    }

    .step-link {
      width: 100%;
      color: white;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      min-height: 60px;

      .step-link-text {
        background-color: $light-blue;
        color: $dark-blue;
        @include more-info-button-font;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
      }

      .step-link-icon-container {
        background-color: $dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .step-link-icon {
          width: 15px;
          height: 23px;
          stroke: $light-blue;
          fill: $light-blue;
          display: block;
          line-height: 0;
        }
      }

      &:hover {
        .step-link-text {
          background-color: $dark-blue;
          color: $light-blue;
        }

        .step-link-icon-container {
          background-color: $light-blue;

          .step-link-icon {
            stroke: $dark-blue;
            fill: $dark-blue;
          }
        }
      }
    }
  }

  .latest-news-section {
    background-color: $light-grey;
  }
}

// Breakpoint specific styling
.measure-page {
  @include mobile() {
    .heading-section {
      padding: 25px 0;

      .title {
        padding-bottom: 15px;
      }
    }

    .benefits-section {
      padding: 28px 0 44px;
    }

    .contents-section {
      padding: 28px 0 44px;
    }

    .steps-section {
      padding: 0;

      .step {
        padding: 60px 0;
      }

      .step-description {
        padding-top: 20px;
      }

      .step-read-more {
        padding-top: 25px;
      }

      .step-content {
        .step-links {
          @include is-grid($margin-compensation: 60px);
          padding-top: 46px;

          .step-link {
            @include is-grid-item($number-of-items: 1, $margin: 60px);
          }
        }
      }
    }

  }
  @include tablet() {
    .heading-section {
      padding: 41px 0;

      .title {
        padding-bottom: 25px;
      }
    }

    .benefits-section {
      padding: 33px 0 40px;
    }

    .contents-section {
      padding: 33px 40px;
    }

    .steps-section {
      padding: 0;

      .step {
        padding: 60px 0;
      }

      .step-description {
        padding-top: 14px;
      }

      .step-read-more {
        padding-top: 25px;
      }

      .step-content {
        .step-links {
          @include is-grid($margin-compensation: 75px);
          padding-top: 54px;

          .step-link {
            @include is-grid-item($number-of-items: 2, $margin: 75px);
          }
        }
      }
    }
  }
  @include desktop() {
    .heading-section {
      padding: 55px 0;

      .title {
        padding-bottom: 20px;
      }
    }

    .benefits-section {
      padding: 30px 0;
    }

    .contents-section {
      padding: 30px 0;
    }

    .steps-section {
      padding: 0;

      .step {
        padding: 60px 0;
      }

      .step-description {
        padding-top: 14px;
      }

      .step-read-more {
        padding-top: 18px;
      }

      .step-content {
        display: flex;
        justify-content: space-between;

        .step-text {
          flex: 0 0 65%;
        }

        .step-links {
          flex: 0 0 25%;
          @include is-grid($margin-compensation: 44px);
          display: block;

          .step-link {
            @include is-grid-item($number-of-items: 1, $margin: 44px);
          }
        }
      }
    }
  }
}