<div class="grant-card darkblue-theme">
    <div class="heading-container">
        <h3 class="heading">National grants</h3>
        <div class="description" *ngIf="hasLocalGrants">
            As well as these local grants, you may be eligible for some national grants,
            such as the Renewable Heat Incentive.
        </div>
        <div class="description" *ngIf="!hasLocalGrants">
            Although we couldn’t find any local grants available to you,
            you may still be eligible for some national grants,
            such as the Renewable Heat Incentive.
        </div>
    </div>
    <div class="extra-info-container">
        <div class="find-out-more-container">
            <button class="find-out-more-link">
                Find out more
                <span class="icon" [inlineSVG]="'controls/caret-down.svg'"></span>
            </button>
        </div>
    </div>
</div>
