// noinspection CssUnknownTarget
@import '~styles/page';

$search-container-height: 24px;
$search-container-vertical-padding: 10px;
$animation-duration-horizontal: 0.5s;
$animation-duration-vertical: 0.5s;

.header {

  .page-row-content {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logos {
      display: flex;
      margin-right: 20px;
      align-items: center;

      .vertical-line {
        border-left: 1px solid black;
        margin: 0 20px;
        height: 50px;
      }
    }

    .search-container {
      background-color: lightgrey;
      padding: $search-container-vertical-padding;
      display: flex;
      align-items: center;
      height: $search-container-height;
      position: relative;
      max-width: 150px;
      transition: max-width $animation-duration-horizontal;
      transition-delay: $animation-duration-vertical;
      flex-grow: 1;
      width: 100%;

      .search-input {
        background: none;
        outline: none;
        border: none;
        padding: 0;
        font-size: 16px;
        width: 100%;
      }

      &.focussed {
        box-shadow: 3px 3px 6px black;
        max-width: 0.4 * $content-max-width;
        transition-delay: 0s;
      }

      .icon-search {
        height: 20px;
        width: 20px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        padding: 0;

        &:focus {
          height: 24px;
          width: 24px;
        }
      }

      .search-suggestions-container {
        background-color: white;
        width: 100%;
        max-height: 0;
        position: absolute;
        top: 0;
        margin-top: $search-container-height + 2 * $search-container-vertical-padding;
        left: 0;
        transition: max-height $animation-duration-vertical ease-in-out;
        transition-delay: 0s;
        display: flex;
        overflow: hidden;
        z-index: 10;

        &.expanded {
          display: flex;
          max-height: 300px;
          transition-delay: $animation-duration-horizontal;
        }

        .results, .popular-searches {
          width: 50%;
          display: flex;
          flex-direction: column;
          font-size: 12px;
          padding: 20px;

          & > :not(:last-child) {
            margin-bottom: 10px;
          }

          .header {
            font-weight: bold;
          }

          .see-all {
            text-transform: uppercase;
            font-weight: bold;
          }

          .text-row, .see-all {
            text-align: left;
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            padding: 0;
            flex-shrink: 0;

            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}