@import "styles/var/colors";
@import "styles/boiler";

:host {
  display: block;
}

.make-and-model {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .body-text {
    width: calc(50% - 108px);
    margin-bottom: 12px;
  }

  .selection {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-select, .dont-know {
      flex: 0 0 50%;
      padding: 24px 0;
    }

    .search-select {
      padding-right: 108px;
      border-right: 1px solid $light-medium-grey;
    }

    .dont-know {
      padding-left: 108px;
    }
  }

  .boiler-input {
    width: 100%;
    height: 72px;
    display: flex;

    .boiler-input-text {
      background-color: white;
      outline: none;
      border: none;

      flex: 1 1 auto;
      padding: 0 24px;

      font-size: 24px;
      font-weight: bold;
    }

    .boiler-input-submit {
      background: $pink url('/assets/images/controls/chevron-right-white.svg') no-repeat center;

      flex: 0 0 72px;
      border: none;
      cursor: pointer;

      font-size: 30px;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .loading-spinner {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
  }

  .boiler-select {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .boiler-dropdown {
      flex: 1 1 auto;
      width: calc(100% - 50px);
      padding: 8px;
      box-sizing: border-box;
      font-size: 16px;
      &.placeholder {
        font-size: 20px;
      }
      font-weight: bold;
      text-align: center;

      .boiler-option {
        font-size: 16px;
      }
    }

    .go-button {
      background-color: $pink;
      color: white;

      flex: 0 0 50px;
      border: none;
      cursor: pointer;

      font-size: 18px;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dont-know {
    .link-button {
      height: 70px;
      width: 50%;
    }
  }
}