<div class="installer-card" [id]="'installer-card-' + installerInfo.id" [class.selected-installer]="selectedInstallerId===installerInfo.id || showDetailsOverride">
    <div class="header">
        <div class="logo" *ngIf="installerInfo.logoUrl else defaultIcon">Show logo</div>
        <ng-template #defaultIcon>
            <div class="icon-home-improve"></div>
        </ng-template>
        <h2 class="name">{{installerInfo.registeredName}}</h2>
    </div>
    <div class="footer">
        <div class="distance">
            <div class="icon-inactive-marker"></div>
            <p><b>{{installerInfo.distanceInMiles | number: '1.0-1'}} miles</b></p>
        </div>
        <a class="details-button-arrow" (click)="toggleClicked()"> Details </a>
        <div class="add-quote">
            <h4 class="header">Add quote to plan</h4>
            <div><span class="tel-prefix">Tel:</span> 020 7925 0918</div>
            <div class="quote-form">
                <div class="currency-input">£<input type="text" class="quote-input"/></div>
                <button type="submit" class="add-quote-button">GO</button>
            </div>
        </div>
    </div>
</div>