@import 'styles/mixins/buttons';
@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/mixins/miscellaneous";

$send-email-button-height: 40px;
$send-email-button-arrow-width: 10px;
$action-divider-circle-diameter: 40px;

.installer-card {
  background-color: $lighter-grey;
  text-decoration: none;
  color: $dark-medium-blue;
  padding: 30px 50px 20px 20px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  align-items: stretch;
  justify-content: space-between;
  flex: auto;
  @include is-flex-column;

  .header {
    @include is-flex-row;
    align-items: flex-end;

    .name {
      @include installer-card-header-font;
      margin-left: 0.5em;
      margin-bottom: 1px;
    }
  }

  .content {
    @include card-body-font;
  }

  .details-button-arrow {
    @include blue-arrow-button(10px, 40px);
    padding-left: 10px;
    text-decoration: none;

    &:focus, &:hover {
      color: white;
    }
  }

  .footer {
    @include is-flex-column;

    .icon-inactive-marker:before {
      margin-right: 4px;
    }

    .distance {
      @include is-flex-row;
      align-items: center;
    }
  }

  .add-quote {
    display: none;
  }
}

.installer-card.selected-installer {
  background: $dark-medium-blue;
  color: $lighter-grey;

  .header .name {
    color: $lighter-grey;
  }
  .details-button-arrow {
    &:focus, &:hover {
      background-color: $pink;

      &:after {
        border-left-color: $pink;
      }
    }
  }

  .add-quote {
    display: block;
  }
}

.add-quote {
  margin-top: 10px;
}

.quote-form {
  height: $send-email-button-height;
  display: flex;
  align-items: stretch;
  margin-top: 10px;

  .currency-input {
    background-color: $lighter-grey;
    @include plan-footer-description-font;
    padding-left: 10px;
    width: calc(100% - 80px);

    .quote-input {
      background-color: $lighter-grey;
      @include plan-footer-description-font;
      outline: none;
      border: none;
      margin: 0;
      padding: 10px;
      width: calc(100% - 80px);
      box-sizing: border-box;
    }
  }



  .add-quote-button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 0 60px;
    background: $light-blue;
    color: $dark-blue;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -$send-email-button-arrow-width;
      width: 0;
      height: 0;
      border-left: $send-email-button-arrow-width solid $light-blue;
      border-top: $send-email-button-height/2 solid transparent;
      border-bottom: $send-email-button-height/2 solid transparent;
    }

    &:hover, &:focus, &:active {
      background-color: $dark-blue;
      color: $light-blue;
      &:after {
        border-left-color: $dark-blue;
      }
    }

    &:disabled {
      background-color: $dark-medium-grey;
      color: $light-grey;
      &:after {
        border-left-color: $dark-medium-grey;
      }
    }
  }
}

.tel-prefix {
  font-weight: bold;
}
