<div class="installer-card" [id]="'installer-card-' + installerInfo.id" [class.selected-installer]="selectedInstallerId===installerInfo.id">
    <div class="header">
        <div class="logo" *ngIf="installerInfo.logoUrl else defaultIcon">Show logo</div>
        <ng-template #defaultIcon>
            <div class="icon-home-improve"></div>
        </ng-template>
        <h3 class="name">{{installerInfo.registeredName}}</h3>
    </div>
    <div class="footer">
        <div class="distance">
            <div class="icon-inactive-marker"></div>
            <p><b>{{installerInfo.distanceInMiles | number: '1.0-1'}} miles</b></p>
        </div>
        <div class="phone">
            <p *ngIf="installerInfo.phoneNumber"><span class="contact-prefix">Tel:</span> {{installerInfo.phoneNumber}}</p>
        </div>
        <a class="details-button-arrow" [href]="installerInfo.publicBranchUrl" target="_blank" (click)="sendAnalyticsEvent()"> Details </a>
    </div>
</div>
