@import 'styles/mixins/buttons';
@import "styles/mixins/font";
@import "styles/var/colors";

@mixin is-flex-column {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex: auto;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
}

.installer-card {
  background-color: $lighter-grey;
  text-decoration: none;
  color: $dark-medium-blue;
  padding: 30px 50px 20px 20px;
  @include is-flex-column;

  &.selected-installer {
    background: $light-medium-grey;
  }

  .header {
    .name {
      @include installer-card-header-font;
    }
  }

  .content {
    @include card-body-font;
  }

  .details-button-arrow {
    @include blue-arrow-button(20px, 40px);
    padding-left: 10px;
    text-decoration: none;

    &:focus, &:hover {
      color: white;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;

    .icon-location:before {
      margin-right: 4px;
    }

    .distance {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

