@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";

.water-tank-question .water-tank-options {
  .water-tank-option {
    .water-tank-button {
      white-space: nowrap;
      width: 100%;
    }

    .help-text {
      font-size: 14px;
      margin-top: 16px;
      text-align: center;
    }
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .water-tank-question .water-tank-options {
    .water-tank-option {
      @include is-grid-item($number-of-items: 3, $margin: 20px);
    }
  }
}