.water-tank-question .water-tank-options {
  display: flex;

  .water-tank-option {
    flex: 0 0 auto;
    width: calc((100% - 40px - 1px) / 3);

    &:not(:last-child) {
      margin-right: 20px;
    }

    .water-tank-button {
      white-space: nowrap;
      width: 100%;
    }

    .help-text {
      font-size: 14px;
      margin-top: 16px;
      text-align: center;
    }
  }
}