<div class="grants-landing-page">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <div class="heading-text">Home energy grants</div>
        </div>
    </div>
    <div class="national-grants page-row">
        <div class="page-row-content">
            <div class="grants-row">
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-heating"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Energy Company Obligation</div>
                        <div class="grant-subheading">Grants for energy efficiency home improvements</div>
                        <div class="grant-description">
                            You might be able to get help for energy-saving improvements to your home if you live in
                            social
                            housing, or if you live in private housing and claim certain benefits. You may get help with
                            the
                            cost of insulation work, replacing or repairing your boiler, or other upgrades to your
                            heating.
                        </div>
                    </div>
                    <div class="grant-info-column">
                        <button class="link-button" (click)="enterHomeImprovementsJourney()">
                            See if you could get a grant for improvements to your home
                        </button>
                    </div>
                </div>
            </div>
            <div class="grants-row">
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-boiler"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Renewable Heat Incentive</div>
                        <div class="grant-description">
                            Get cash if you install or have already installed an eligible renewable heating technology.
                        </div>
                        <button class="link-button" (click)="enterBoilerJourney()">
                            Find out if renewable heating technology might be right for you
                        </button>
                    </div>
                </div>
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-heating"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Feed-In Tariff</div>
                        <div class="grant-description">
                            Get paid for creating your own green energy.
                        </div>
                        <button class="link-button" (click)="enterHomeImprovementsJourney()">
                            See if you could get paid for generating energy
                        </button>
                    </div>
                </div>
            </div>
            <div class="grants-row">
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-grant"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Winter Fuel Payments</div>
                        <div class="grant-description">
                            If you were born on or before 5 August 1953 you could get between £100 and £300 to help you
                            pay your heating bills.
                        </div>
                        <button class="link-button">
                            Find out more
                        </button>
                    </div>
                </div>
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-grant"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Warm Home Discount</div>
                        <div class="grant-description">
                            If you're receiving certain benefits, you could get £140 off your electricity bill for
                            winter 2017 to 2018.
                        </div>
                        <button class="link-button">
                            Find out more
                        </button>
                    </div>
                </div>
                <div class="grant-card">
                    <div class="grant-info-column icon">
                        <div class="icon-grant"></div>
                    </div>
                    <div class="grant-info-column">
                        <div class="grant-heading">Cold Weather Payments</div>
                        <div class="grant-description">
                            If you're receiving certain benefits, you may get a payment when the weather is cold.
                        </div>
                        <button class="link-button">
                            Find out more
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="postcode-row page-row">
        <div class="page-row-content">
            <div class="postcode-input">
                <span class="enter-postcode-text">Enter your postcode to see other grants that might be available in your area</span>
                <form class="postcode-input" (ngSubmit)="onPostcodeSubmit()">
                    <input class="postcode-input-text" [(ngModel)]="postcodeInput" spellcheck="false" type="text"
                           name="postcode-input" aria-label="Enter your postcode" title="Enter your postcode">
                    <button class="postcode-input-submit" type="submit"
                            title="Submit" aria-label="Submit">></button>
                </form>
            </div>
            <div class="validation-error" *ngIf="validationError">Please enter a valid UK postcode</div>
            <div class="loading-grants" *ngIf="isLoading"></div>
            <div class="network-error" *ngIf="isError">
                Something went wrong and we can't load this information right now. Please try again later.
            </div>
        </div>
    </div>
    <div class="local-grants page-row">
        <div class="page-row-content">
        </div>
    </div>
</div>