@import "styles/mixins/font";
@import "styles/mixins/spinner";
@import "styles/var/colors";

$grant-cards-per-row: 2;
$grant-card-margin: 24px;

// Component specific variables

// Component specific mixins
@mixin is-section-title {
  color: $dark-medium-blue;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
}

@mixin is-summary {
  @include page-summary-font;
  font-weight: bold;
  color: $dark-medium-blue;
  margin: 24px 0;
}

@mixin has-blue-border-top {
  border: 0;
  border-top: 1px solid #ccc;
  padding: 30px 0px;
  width: 100%;
}

// General styling (shouldn't contain many widths/sizes etc.)
.grants-landing-page {

  .page-row-content {
    padding: 48px 0;
  }

  .page-heading {
    background-color: $light-blue;

    .page-row-content {
      padding: 73px 0;

      .heading-text {
        @include page-heading-font;
        color: $dark-blue;
      }
    }
  }

  .national-grants {
    .page-row-content {
      display: flex;
      flex-direction: column;

      .heading {
        @include page-subheading-font;
        margin-bottom: 16px;
      }

      .section-title {
        @include is-section-title();
      }

      .summary {
        @include is-summary();
      }

      p:not(.summary) {
        @include page-body-font;
      }

      .grants-row {
        display: flex;

        .grant-info-title-bills {
          @include has-blue-border-top;
          display: block;
          height: 1px;
          margin: 1em 0;
        }

        .grant-info-title-efficiency {
          @include has-blue-border-top;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }

        .grant-card {
          background-color: $lighter-grey;
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          text-decoration: none;

          .grant-heading {
            @include focus-text;
            color: $dark-medium-blue;
          }

          .grant-description {
            color: $dark-medium-blue;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
          }

          &:hover, &:focus {
            .link-button {
              background-color: $light-blue;
              color: $dark-blue;
            }

            .link-button-arrow:after, .link-button-arrow:after {
              border-left: 20px solid $light-blue;
            }
          }

          .link-button {
            @include body-uppercase;
            color: $dark-medium-blue;
            text-align: left;
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;

            cursor: pointer;
            border: none;
            background-color: white;

            padding: 24px 16px;
            box-sizing: border-box;
          }

          .link-button-arrow {
            position: relative;
          }

          .link-button-arrow:after {
            content: '';

            position: absolute;
            right: -20px;
            top: 0;

            width: 0;
            height: 0;
            border-top: 30.5px solid transparent;
            border-bottom: 30.5px solid transparent;

            border-left: 20px solid white;
          }

          .grant-info-column {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;

            .icon {
              width: 36px;
              height: 36px;
            }

            &.icon {
              padding-top: 20px;
              justify-content: left;

              & > * {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .local-grants {
    background-color: $lighter-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .postcode-input {
        display: flex;
        align-items: center;
        flex-direction: row;

        height: 150px;

        .enter-postcode-text {
          @include page-subheading-font;
          display: flex;
          flex-direction: column;
          color: $dark-grey;

          width: 700px;

          h2 {
            @include page-subheading-font;
          }
          p {
            font-family: Gotham, Arial, sans-serif;;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
          }
        }

        .enter-postcode-form {
          display: flex;
          height: 250px;

          ::ng-deep .address-dropdown-wrapper {
            border-right: 0px;
          }

          form {

            input {
              background-color: white;
              outline: none;
              border: none;

              width: 250px;
              padding: 0 24px;

              font-size: 24px;
              font-weight: bold;
              text-transform: uppercase;
            }

            input::placeholder {
              color: #898989;
              text-transform: none;
            }
          }
        }
      }

      .validation-error, .network-error {
        margin-top: 20px;
        background-color: $red;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        color: white;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-bottom: 45px;
      }

      .loading-grants {
        @include spinner(20px);
        align-self: center;
      }

      .grants-container {
        .local-grants, .no-local-grants {
          margin-top: 20px;
        }

        .local-grants {
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .grant-cards {
            margin-top: 20px;
            flex-wrap: wrap;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

          }
        }

        .local-authority-update-message {
          margin-top: 20px;
          @include small-print-font();
        }
      }
    }
  }
}

.validation-error, .network-error {
  margin-top: 20px;
  background-color: $red;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 45px;
}

// Breakpoint specific styling
@include mobile() {
  .grants-landing-page {
    .local-grants {
      height: auto;
      .page-row-content {
        .postcode-input {
          height: auto;
          flex-direction: column;
          .enter-postcode-text {
            width: auto;
          }
          .enter-postcode-form {
            height: auto;
          }
        }

        .grants-container {
          .grant-cards {
            & > :not(:first-child) {
              margin-top: 20px;
            }
          }
        }
      }
    }
    .national-grants {
      .grants-row {
        flex-direction: column;
        .grant-card {
          padding: 20px 60px 20px 20px;
          flex: auto;
          margin-top: 10px;

          .description-link-container {
            .grant-description {
              margin-top: 5px;
            }
            .link-button {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

@include tablet() {
  .grants-landing-page {
    .local-grants {
      .page-row-content {
        .postcode-input {
          height: 175px;
          margin: 0 34px;

          .enter-postcode-text {
            padding-right: 60px;
          }

          .enter-postcode-form {
            align-items: center;
          }
        }

        .grants-container {
          margin: 20px 34px;

          .grant-cards {
            & > :not(:first-child) {
              margin-top: 20px;
            }
          }
        }
      }
    }
    @media (min-width: (600px)) and (max-width: 700px) {
      .local-grants {
        height: auto;
        .page-row-content {
          .postcode-input {
            height: auto;
            flex-direction: column;
            .enter-postcode-text {
              width: auto;
            }
            .enter-postcode-form {
              height: auto;
            }
          }

          .grants-container {
            .grant-cards {
              & > :not(:first-child) {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }

    .national-grants {
      .grants-row {
        flex-direction: column;
        .grant-card {
          padding: 40px;
          flex: auto;
          margin-top: 10px;
          .grant-info-column {
            min-width: 1px;

            & > :not(:first-child) {
              margin-top: 20px;
            }

            .description-link-container {
              display: flex;
              flex-direction: row;
              align-items: center;

              .grant-description {
                width: 60%;
                padding-right: 40px;
                border-right: 1px solid $separator-grey;
              }

              .link-button {
                width: 30%;
                margin-left: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@include desktop() {
  .grants-landing-page {
    .local-grants {
      .page-row-content {
        .postcode-input {
          justify-content: space-between;

          .enter-postcode-text {
            margin-right: 60px;
          }

          .enter-postcode-form {
            align-items: center;
          }
        }

        .grants-container {
          .local-grants {
            .grant-cards {
              .grant-card {
                flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
                margin-bottom: $grant-card-margin;
                &:not(:nth-child(#{$grant-cards-per-row}n)) {
                  margin-right: $grant-card-margin;
                }
              }
            }
          }
        }
      }
    }
    .national-grants {
      .grants-row {
        .grant-card {
          padding: 20px 60px 20px 20px;
          flex: 1 0 1px;

          &:not(:first-child) {
            margin-left: 20px;
          }
          .grant-info-column {
            min-width: 1px;

            &:not(:first-child) {
              margin-left: 10px;
            }

            & > :not(:first-child) {
              margin-top: 20px;
            }

            .description-link-container {
              .link-button {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
