@import "styles/mixins/font";
@import "styles/mixins/spinner";
@import "styles/var/colors";

$grant-cards-per-row: 2;
$grant-card-margin: 24px;

.grants-landing-page {

  .page-row-content {
    padding: 48px 0;
  }

  .page-heading {
    background-color: $primary-blue;

    .page-row-content {
      padding: 60px 0;

      .heading-text {
        @include page-heading-font;
        color: $focus-blue;
      }
    }
  }

  .national-grants {
    .page-row-content {
      display: flex;
      flex-direction: column;

      .heading {
        @include page-subheading-font;
        margin-bottom: 16px;
      }

      .grants-row {
        display: flex;



        .grant-info-title-bills{
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #ccc;
          margin: 1em 0;
          padding: 30px 0px;
          width: 100%;

          color: $darkened-blue;
          font-size: 28px;
          font-weight: bold;
          line-height: 32px;
        }

        .grant-info-title-efficiency {
          color: $darkened-blue;
          font-size: 28px;
          font-weight: bold;
          line-height: 32px;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }

        .grant-card {
          background-color: $lighter-grey;
          flex: 1 0 1px;
          display: flex;
          align-items: stretch;
          padding: 20px 60px 20px 20px;
          justify-content: space-between;

          &:not(:first-child) {
            margin-left: 20px;
          }

          .grant-heading {
            @include focus-text;
            color: $darkened-blue;
          }

          .grant-description{
            color: $darkened-blue;

            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
          }

          .link-button {
            @include body-uppercase;
            color: $darkened-blue;
            text-align: left;
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;

            cursor: pointer;
            border: none;
            background-color: white;
            &:hover, &:focus {
              background-color: $primary-blue;
              color: $focus-blue;
            }

            padding: 24px 16px;
            box-sizing: border-box;
          }

          .link-button-arrow {
            position: relative;
          }

          .link-button-arrow:after{
            content: '';

            position: absolute;
            right: -20px;
            top: 0;

            width: 0;
            height: 0;
            border-top: 30.5px solid transparent;
            border-bottom: 30.5px solid transparent;

            border-left: 20px solid white;
          }

          .link-button-arrow:hover:after{
            border-left: 20px solid $primary-blue;
          }

          .link-button-arrow:focus:after{
            border-left: 20px solid $primary-blue;
          }

          .grant-info-column {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;
            min-width: 1px;

            .icon{
              width: 36px;
              height: 36px;
            }

            &:not(:first-child) {
              margin-left: 10px;
            }

            & > :not(:first-child) {
              margin-top: 20px;
            }

            &.icon {
              padding-top: 20px;
              justify-content: left;

              & > * {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .local-grants {
    background-color: $lighter-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .postcode-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        height: 150px;

        .enter-postcode-text {
          @include page-subheading-font;
          display: flex;
          flex-direction: column;
          color: $dark-grey;

          width: 700px;

          h3{
            @include page-subheading-font;
          }
          p{
            font-family: Gotham, Arial, sans-serif;;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
          }
        }

        .enter-postcode-form{
          display: flex;
          height: 250px;

          ::ng-deep .address-dropdown-wrapper {
            border-right: 0px;
          }

          form {

            input {
              background-color: white;
              outline: none;
              border: none;

              width: 250px;
              padding: 0 24px;

              font-size: 24px;
              font-weight: bold;
              text-transform: uppercase;
            }

            input::placeholder{
              color: #898989;
              text-transform: none;
            }
          }
        }
      }

      .validation-error, .network-error {
        margin-top: 20px;
        background-color: $red;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        color: white;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-bottom: 45px;
      }

      .loading-grants {
        @include spinner(20px);
        align-self: center;
      }

      .grants-container {
        .local-grants, .no-local-grants {
          margin-top: 20px;
        }

        .local-grants {
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .grant-cards {
            margin-top: 20px;
            flex-wrap: wrap;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .grant-card {
              flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
              margin-bottom: $grant-card-margin;
              &:not(:nth-child(#{$grant-cards-per-row}n)) {
                margin-right: $grant-card-margin;
              }
            }
          }
        }
      }
    }
  }
}

.validation-error, .network-error {
  margin-top: 20px;
  background-color: $red;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 45px;
}