.page-error-container {
  display: flex;
  justify-content: center;
  padding-top: 10vw;

  .error {
    margin-top: 20px;
    background-color: crimson;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    color: white;

    .error-header {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}