//noinspection CssUnknownTarget
.icon-tree::before {
  content: url('/assets/images/icons/tree.svg');
}

//noinspection CssUnknownTarget
.icon-home-storeys::before {
  content: url('/assets/images/icons/home-storeys.svg');
}

//noinspection CssUnknownTarget
.icon-bed::before {
  content: url('/assets/images/icons/bedrooms.svg');
}

//noinspection CssUnknownTarget
.icon-house::before {
  content: url('assets/images/question-types/house.svg');
}

//noinspection CssUnknownTarget
.icon-person::before {
  content: url('assets/images/question-types/person.svg');
}

//noinspection CssUnknownTarget
.icon-thermostat::before {
  content: url('assets/images/question-types/thermostat.svg');
}