//noinspection CssUnknownTarget
.icon-tree::before {
  content: url('/assets/images/icons/tree.svg');
}

//noinspection CssUnknownTarget
.icon-home-storeys::before {
  content: url('/assets/images/icons/home-storeys.svg');
}

//noinspection CssUnknownTarget
.icon-bed::before {
  content: url('/assets/images/icons/bedrooms.svg');
}

//noinspection CssUnknownTarget
.icon-house::before {
  content: url('assets/images/question-types/house.svg');
}

//noinspection CssUnknownTarget
.icon-person::before {
  content: url('assets/images/question-types/person.svg');
}

//noinspection CssUnknownTarget
.icon-thermostat::before {
  content: url('assets/images/question-types/thermostat.svg');
}

//noinspection CssUnknownTarget
.icon-behaviour::before {
  content: url('assets/images/topics/behaviour.svg');
}

//noinspection CssUnknownTarget
.icon-doors::before {
  content: url('assets/images/topics/doors.svg');
}

//noinspection CssUnknownTarget
.icon-flooring::before {
  content: url('assets/images/topics/flooring.svg');
}

//noinspection CssUnknownTarget
.icon-heating::before {
  content: url('assets/images/topics/heating.svg');
}

//noinspection CssUnknownTarget
.icon-home::before {
  content: url('assets/images/topics/home.svg');
}

//noinspection CssUnknownTarget
.icon-occupancy::before {
  content: url('assets/images/topics/occupancy.svg');
}

//noinspection CssUnknownTarget
.icon-roofing::before {
  content: url('assets/images/topics/roofing.svg');
}

//noinspection CssUnknownTarget
.icon-thermometer::before {
  content: url('assets/images/topics/thermometer.svg');
}

//noinspection CssUnknownTarget
.icon-walls::before {
  content: url('assets/images/topics/walls.svg');
}

//noinspection CssUnknownTarget
.icon-windows::before {
  content: url('assets/images/topics/windows.svg');
}

//noinspection CssUnknownTarget
.icon-search::before {
  content: url('assets/images/controls/search.svg');
}

//noinspection CssUnknownTarget
.icon-phone::before {
  content: url('assets/images/controls/phone.svg');
}

//noinspection CssUnknownTarget
.icon-house-layers::before {
  content: url('assets/images/icons/house-layers.svg');
}

//noinspection CssUnknownTarget
.icon-timer::before {
  content: url('assets/images/icons/timer.svg');
}

//noinspection CssUnknownTarget
.icon-boiler::before {
  content: url('assets/images/icons/boiler.svg');
}

//noinspection CssUnknownTarget
.icon-video-play::before {
  content: url('assets/images/page-type/video-play.svg');
}

//noinspection CssUnknownTarget
.icon-infographic::before {
  content: url('assets/images/page-type/infographic.svg');
}

//noinspection CssUnknownTarget
.icon-checklist::before {
  content: url('assets/images/page-type/checklist.svg');
}

//noinspection CssUnknownTarget
.icon-grant::before {
  content: url('assets/images/page-type/grant.svg');
}