$side-margin: 40px;
$content-max-width: 1180px;

.page-row {
  width: 100%;
  display: flex;
  justify-content: center;

  .page-row-content {
    width: 100%;
    margin: 0 $side-margin;
    max-width: $content-max-width;
  }
}