// noinspection CssUnknownTarget
@import "~styles/mixins/spinner";

.page-loading-container {
  display: flex;
  justify-content: center;
  padding-top: 10vw;
}

.loading-spinner {
  @include spinner(80px);
}

.loading-spinner-small {
  @include spinner(20px);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}