@import "mixins/font";
@import "var/colors";

.page-row:not(.page-heading) {
  padding: 80px 0;
}

.heading {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;

  color: $primary-blue;
}

.large-heading {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;

  color: $darkened-blue;
}

.small-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;

  color: $primary-blue;
}

.body-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.body-large {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}

.page-heading {
  padding: 48px 0;
  .heading-text {
    font-size: 48px;
    line-height: 62px;
    font-weight: bold;

    color: $darkened-blue;
  }
}
