@import './var/_font';

.questionnaire-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-family;

  .questionnaire-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-header {
    font-size: 36px;
    font-weight: bold;
    padding: 4px;
    margin-bottom: 40px;
  }

  .form-element {
    display: flex;
    flex-direction: row;
  }

  .text-input {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
  }

  .submit-button {
    display: none;
  }

  .submit-icon {
    cursor: pointer;
    margin-left: 10px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 36px;
  }

  .validation-error-message {
    margin-top: 20px;
    background-color: crimson;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
  }
}