@import "styles/var/colors";
@import "styles/mixins/font";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  display: block;
}

.large-video-card {
  height: 100%;

  > * {
    box-sizing: border-box;
    min-height: inherit;
  }

  .video-icon-container {
    background-color: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    .video-text {
      @include browse-video-text-font();
    }

    .title {
      @include browse-video-title-font();
    }
  }
}

// Breakpoint specific styling
.large-video-card {
  @include mobile() {
    min-height: 220px;

    > * {
      padding: 20px;
    }

    .text-container {
      .title {
        padding: 32px 0;
      }
    }
  }

  @include tablet() {
    min-height: 237px;

    > * {
      padding: 24px;
    }

    .video-icon-container {
      min-height: 400px;
    }

    .text-container {
      .title {
        padding: 20px 0;
      }
    }
  }

  @include desktop() {
    display: flex;
    min-height: 300px;

    > * {
      flex: 1 1 50%;
      padding: 32px;
    }

    .text-container {
      .title {
        padding: 32px 0;
        max-width: 80%;
      }
    }
  }
}