@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
  }

  .tag-quick-win {
    background-color: #FF0066;
  }

  .tag-small-spend {
    background-color: $amber;
  }

  .tag-longer-term {
    background-color: #52CEA8;
  }

  .tag-grant {
    background-color: $darkened-blue;
  }

  .tag-top-recommendations {
    background-color: #E50046;
  }
}

// Breakpoint specific styling
.tags {
  @include mobile() {
    @include is-grid($margin-compensation: 14px);

    .tag {
      @include is-grid-item($number-of-items: 2, $margin: 14px);
      height: 28px;
      border-radius: 28px;
    }
  }

  @include tablet() {
    @include is-grid($margin-compensation: 20px);

    .tag {
      @include is-grid-item($number-of-items: 4, $margin: 20px);
      height: 28px;
      border-radius: 28px;
    }

  }

  @include desktop() {
    & > :not(:first-child) {
      margin-left: 10px;
    }

    .tag {
      width: 116px;
      height: 20px;
      border-radius: 20px;
    }
  }
}