<a class="grant-card">
    <div class="heading-container">
        <div class="heading">{{grant.name}}</div>
        <div class="description">{{grant.description}}</div>
    </div>
    <div class="extra-info-container">
        <div class="eligibility-criteria" *ngIf="grant.eligibilityCriteria">
            <span class="eligibility-text">Eligibility: </span>{{grant.eligibilityCriteria}}
        </div>
        <div class="find-out-more-container" *ngIf="grant.websiteUrl || grant.phoneNumber">
            <a class="find-out-more-link" *ngIf="grant.websiteUrl" [href]="grant.websiteUrl" target="_blank">
                Find out more
            </a>
            <ng-container *ngIf="!grant.websiteUrl && grant.phoneNumber">
                <div class="find-out-more-text">Find out more</div>
                <a class="phone-number" href="tel:{{getPhoneNumberForLink()}}">
                    {{grant.phoneNumber}}
                </a>
            </ng-container>
        </div>
    </div>
</a>