@import "styles/mixins/_font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  display: block;
}

.grant-card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  background-color: $lighter-grey;
  box-sizing: border-box;

  .heading, .description, .read-more {
    max-width: 100%;
  }

  .heading {
    @include card-heading-small;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .description {
    @include card-body;
  }

  .read-more {
    @include card-more-info-link;
  }
}

// Breakpoint specific styling
.grant-card {
  @include mobile() {
    padding: 26px 24px;

    .description {
      margin: 16px 0 26px;
    }
  }

  @include tablet() {
    padding: 25px;

    .description {
      margin: 16px 0 40px;
    }
  }

  @include desktop() {
    padding: 25px 20px;

    .description {
      margin: 16px 0 44px;
    }
  }
}