<div class="storeys-question question-component">
  <div class="form-element">
    <button (click)="increaseStoreys(-1)" [disabled]="storeys <= 1" class="increase-button"><span>-</span></button>
    <input class="text-input" type="number" [(ngModel)]="storeys" (ngModelChange)="updateStoreys()" [attr.aria-label]="question.heading">
    <button (click)="increaseStoreys(1)" class="increase-button">+</button>
  </div>
  <div *ngIf="isInvalid" class="validation-error-message">
    Please enter a valid number of storeys.
  </div>
  <div class="storeys-icons">
    <i class="icon-tree"></i>
    <i class="icon-home-storeys"></i>
    <i class="icon-tree"></i>
  </div>
</div>
