@import "~styles/var/font";

:host {
  display: block;
}

.potentials {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .body-uppercase {
    @include body-uppercase;
  }

  .savings, .epc {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    > :not(:first-child) {
      margin-left: 80px;
    }
  }

  .savings {
    justify-content: flex-start;
    border-right: 1px solid black;

    .headline-figure {
      font-size: 64px;
      font-weight: bold;
    }
  }

  .epc {
    justify-content: flex-end;

    .epc-rating {
      width: 64px;
      height: 64px;
      border-radius: 64px;
      margin: 8px;

      font-size: 42px;
      font-weight: bold;
      background-color: black;
      color: white;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .current-epc, .potential-epc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}