@import "styles/var/colors";
@import "styles/mixins/font";

// Component specific variables

// Component specific mixins
@mixin is-horizontal-static-measures-card() {
  display: flex;

  .card-section {
    &:not(:last-child) {
      border-right: 2px solid $lighter-grey;
    }
  }

  .basic-info {
    flex: 0 0 40%;
    display: flex;

    .recommendation-icon {
      display: flex;
      justify-content: space-around;
      flex: 0 0 80px;
    }

    .value {
      flex: 0 0 120px;
    }
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
.static-measure-card {
  background-color: white;

  .heading {
    @include card-heading-font;
  }

  .card-section {
    border-bottom: 2px solid $lighter-grey;
  }

  .basic-info {
    color: $headline-dark-blue;

    .recommendation-icon {
      display: none;
      padding-top: 12px;

      .icon {
        width: 36px;
      }
    }

    .value {
      @include static-measure-value-font();
    }

    .heading {
      color: $headline-dark-blue;
    }
  }

  .recommendation-basic-details {
    .summary-row {
      @include static-measures-summary-font();
    }
  }

  app-data-card {
    padding-right: 16px;

    ::ng-deep .data-card .number-value {
      margin: 0;
    }
  }
}

// Breakpoint specific styling
.static-measure-card {
  @include mobile() {
    .card-section {
      padding: 18px 22px 14px;

      &:not(:last-child) {
        padding-bottom: 56px;
      }
    }

    .basic-info {
      .heading {
        padding-top: 8px;
      }
    }

    .recommendation-basic-details {
      .summary-row {
        padding-top: 20px;
      }
    }
  }

  @include tablet() {
    .card-section {
      padding: 48px 22px 14px;

      &:not(:last-child) {
        padding-bottom: 32px;
      }
    }

    .basic-info {
      .heading {
        padding-top: 8px;
      }
    }

    .recommendation-basic-details {
      .summary-row {
        padding-top: 20px;
      }
    }
  }

  @include desktop() {
    @include is-horizontal-static-measures-card();

    .card-section {
      padding: 48px 0 32px;
    }

    .basic-info {
      .heading {
        padding-top: 4px;
        padding-right: 32px;
      }
    }

    .recommendation-basic-details {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}