@import "styles/var/colors";
@import "styles/boiler";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.boiler-replacement-page {
  .page-heading {
    background-color: $primary-blue;
  }
}
// Breakpoint specific styling
.boiler-replacement-page {
  @include mobile() {
    .get-started {
      padding: 20px 0;

      .body-text {
        padding: 20px 0;
      }

      .link-button {
        display: flex;
      }
    }

    .boiler-types {
      background-color: $lighter-grey;
      padding: 20px 0;

      .body-text {
        padding: 20px 0;
      }
    }
  }

  @include tablet() {
    .get-started {
      background-color: white;

      .page-row-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
          flex: 1 1 auto;
          margin-right: 60px;

          .heading {
            margin-bottom: 8px;
          }
        }

        .link-button {
          flex: 0 0 300px;
          height: 70px;
        }
      }
    }

    .boiler-types {
      background-color: $lighter-grey;

      .heading {
        margin-bottom: 8px;
      }

      .boiler-replacement-cards {
        margin-top: 48px;

        .replacement-card:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include desktop() {
  .get-started {
    background-color: $lighter-grey;

    .page-row-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .content {
        flex: 1 1 auto;
        margin-right: 60px;

        .heading {
          margin-bottom: 8px;
        }
      }

      .link-button {
        flex: 0 0 300px;
        height: 70px;
      }
    }
  }

  .boiler-types {
    background-color: white;

    .heading {
      margin-bottom: 8px;
    }

    .boiler-replacement-cards {
      margin-top: 48px;

      .replacement-card:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}


