<app-spinner-and-error-container [loading]="loading" [error]="error" [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="boiler-replacement-page" *ngIf="!loading && !error">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <h1 class="heading-text">Replacing your boiler</h1>
            <div class="body-text">We can help find the right option for your home or you can review all
                the different types below.</div>
        </div>
    </div>
    <div class="checkEPC page-row">
        <div class=" page-row-content">
            <div class="heading">Check to see if my boiler needs replacing</div>
            <div class="body-text">We can try your postcode to see if the Energy Performance Certificate (EPC) for
                your home has any information on your boiler
            </div>
            <app-postcode-lookup class="postcode-epc input-white"
                                 (postcodeSelected)="onPostcodeSelected($event)"></app-postcode-lookup>
            <app-epc-lookup class="postcode-epc input-white"
                            [postcode]="postcode"
                            (epcSelected)="onEpcSelected($event)"></app-epc-lookup>
        </div>
    </div>
    <div class="page-row boiler-types">
        <div class="page-row-content">
            <div class="heading">Different types of boilers and heating systems</div>
            <div class="body-text">
                There are many different types of boilers and heating systems available. Browse through the options
                below to compare the specifications
            </div>
            <div class="boiler-replacement-cards">
                <app-boiler-replacement-card *ngFor="let boiler of boilers"
                                             class="replacement-card"
                                             [boilerType]="boiler"></app-boiler-replacement-card>
            </div>
        </div>
    </div>
</div>