<app-spinner-and-error-container [loading]="loading" [error]="error"></app-spinner-and-error-container>
<div class="boiler-replacement-page" *ngIf="!loading && !error">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <div class="heading-text">Replacing your boiler</div>
        </div>
    </div>
    <div class="page-row get-started">
        <div class="page-row-content">
            <div class="content">
                <div class="heading">Let's find the right boiler for you</div>
                <div class="body-text">
                    Answering the following questions helps us to make the best recommendations for your home
                </div>
            </div>
            <app-boiler-link-button class="link-button"
                                    text="Let's get started"
                                    path="/boiler/questionnaire"></app-boiler-link-button>
        </div>
    </div>
    <div class="page-row boiler-types">
        <div class="page-row-content">
            <div class="heading">Different types of boilers and heating systems</div>
            <div class="body-text">
                There are many different types of boilers and heating systems available. Browse through the options
                below to compare the specifications
            </div>
            <div class="boiler-replacement-cards">
                <app-boiler-replacement-card *ngFor="let boiler of boilers"
                                             class="replacement-card"
                                             [boilerType]="boiler"></app-boiler-replacement-card>
            </div>
        </div>
    </div>
</div>