@import "styles/var/colors";
@import "styles/boiler";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.page-heading {
  background-color: $light-blue;
  color: white;

  .heading-text {
    margin-bottom: 20px;
    color: white;
  }
}

.checkEPC {
  background-color: $lighter-grey;

  .page-row-content {
    box-sizing: border-box;
    text-align: center;

    .heading {
      margin-bottom: 20px;
    }
  }
}

.boiler-types {
  background-color: white;
}

// Breakpoint specific styling
.boiler-replacement-page {
  @include mobile() {

    .checkEPC {
      .page-row-content {
        padding: 0 25px;
      }
    }

    .boiler-types {
      padding: 20px 0;

      .body-text {
        padding: 20px 0;
      }
    }
  }

  @include tablet() {
    .checkEPC {
      .page-row-content {
        padding: 0 75px;
      }
    }

    .boiler-types {
      .heading {
        margin-bottom: 8px;
      }

      .boiler-replacement-cards {
        margin-top: 48px;

        .replacement-card:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include desktop() {
  .checkEPC {
    .page-row-content {
      box-sizing: border-box;
      padding: 0 225px;
      text-align: center;

      .heading {
        margin-bottom: 20px;
      }
    }
  }

  .boiler-types {
    .heading {
      margin-bottom: 8px;
    }

    .boiler-replacement-cards {
      margin-top: 48px;

      .replacement-card:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}


