@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import "styles/mixins/font";

.fridge-freezer-question {
  .answer-input {
    .name {
      @include question-label-font;
      text-align: center;
      margin-bottom: 17px;
    }
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .fridge-freezer-question {
    .answer-input {
      @include is-grid-item($number-of-items: 3, $margin: 20px);
      margin: 0;
      padding: 0 36px;

      &:not(:first-child) {
        border-left: 1px solid $separator-grey;
      }
    }
  }
}