@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  display: block;
}

.article-card {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-sizing: border-box;

  background-color: white;

  .title {
    @include article-title-font;
  }

  .summary {
    @include article-summary-font;
  }

  .read-more-link {
    color: black;
    padding-top: 10px;
  }
}

// Breakpoint specific styling
.article-card {
  @include mobile() {
    padding: 18px;

    .icon {
      margin-bottom: 20px;
      width: 28px;
      height: 32px;
    }

    .title {
      margin-bottom: 24px;
    }

    .summary {
      margin-bottom: 20px;
    }
  }

  @include tablet() {
    padding: 28px 24px 40px;

    .icon {
      margin-bottom: 28px;
      width: 28px;
      height: 32px;
    }

    .title {
      margin-bottom: 32px;
    }

    .summary {
      margin-bottom: 0;
    }
  }

  @include desktop() {
    padding: 32px;

    .icon {
      margin-bottom: 32px;
      width: 44px;
      height: 44px;
    }

    .title {
      margin-bottom: 32px;
    }
  }
}