<div class="header page-row">
    <div class="page-row-content">
        <a routerLink="/" class="logos">
            <img class="site-logo" src="/dist/assets/images/logos/ehc-tag.png" alt=""/>
            <img class="site-logo--small" src="/dist/assets/images/logos/ehc-mobile-tag.png" alt=""/>
            <div class="phase-tag">BETA</div>
        </a>
        <div class="ui-elems">
            <button class="mobile-menu-icon" [inlineSVG]="'controls/menu.svg'" aria-label="Menu" (click)="toggleMobileNav()"></button>
            <button #mobileSearchButton class="tablet-search-icon" [inlineSVG]="'controls/search.svg'" aria-label="Search" (click)="toggleSearchTabletBox()"></button>
            <div #searchBarContainer class="searchBarContainer">
                <app-search-bar></app-search-bar>
            </div>
            <app-need-help></app-need-help>
        </div>
    </div>
</div>
