<div class="header page-row">
    <div class="page-row-content">
        <a routerLink="/" class="logos">
            <img class="ehc-logo" src="/dist/assets/images/logos/ehc.png" alt="Each Home Counts logo"/>
            <img class="ehc-logo--small" src="/dist/assets/images/logos/ehc-small.png" alt="Each Home Counts logo"/>
            <div class="phase-tag">BETA</div>
        </a>
        <div class="ui-elems">
            <div class="mobile-menu-icon" [inlineSVG]="'controls/menu.svg'" aria-label="Menu" (click)="toggleMobileNav()"></div>
            <div #mobileSearchButton class="tablet-search-icon" [inlineSVG]="'controls/search.svg'" aria-label="Search" (click)="toggleSearchTabletBox()"></div>
            <div #searchBarContainer class="searchBarContainer">
                <app-search-bar></app-search-bar>
            </div>
            <app-need-help tabindex="0"></app-need-help>
        </div>
    </div>
</div>
