@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";

$benefit-font-size-desktop-tablet: 18px;

.benefits-question {
  display: flex;
  flex-direction: column;
  align-items: center;

  .benefits {
    margin-bottom: 40px;
    width: 100%; // For IE

    .benefit {
      margin: 10px 0;
    }
  }
}

@include mobile() {
}

@include tablet() {
  .benefits-question {

    .benefits .benefit {
      font-size: $benefit-font-size-desktop-tablet;
    }
  }
}

@include desktop() {
  .benefits-question {

    .benefits .benefit {
      font-size: $benefit-font-size-desktop-tablet;
    }
  }
}