@import "~styles/var/colours";

.footer {
  background-color: $dark-grey;

  .page-row-content {
    padding: 30px 0 30px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .contact-us, .supported-by {
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: bold;

      .header {
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 20px;
      }
    }

    .contact-us {
      .contact-us-details {
        display: flex;
        align-items: center;

        .icon-phone {
          margin-right: 10px;
        }

        .phone-number {
          font-size: 20px;
          text-decoration: none;
          color: white;
          outline: none;

          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .supported-by {
    .supported-by-logos {
      display: flex;
      align-items: flex-end;

      > :not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}