<div class="home-age-question">
    <div #timeline class="home-age-timeline">
        <div #option class="home-age-option" *ngFor="let homeAgeOption of homeAgeOptions"
             (click)="selectResponse(homeAgeOption.value)">
            <div class="home-age-timeline-section"></div>
            <button class="home-age-option-button">{{homeAgeOption.name}}</button>
        </div>
        <div #slider class="home-age-timeline-slider" [style.left.px]="sliderLeftPosition"
             [class.selected]="isSliderSelected"></div>
    </div>
</div>