.postcode-epc-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .select-address {
    margin: 20px 0;
  }

  .address-not-listed {
    margin: 20px 0;
  }
}