<div class="question-component postcode-epc-question">
    <form class="questionnaire-form" (submit)="handlePostcodeEntered()">
        <div class="form-element">
            <input class="text-input" id="postcode-input" name="postcode-input" type="text" spellcheck="false"
                   [(ngModel)]="postcodeInput">
            <button id="submit-postcode" type="submit" class="submit-button"></button>
            <label title="Search" for="submit-postcode" class="submit-icon">►</label>
        </div>
    </form>
    <div class="error" *ngIf="error">
        <div *ngIf="error.heading" class="error-header">{{error.heading}}</div>
        <div *ngIf="error.message" class="error-message">{{error.message}}</div>
    </div>
    <div class="loading-spinner" *ngIf="shouldDisplayLoadingSpinner"></div>
    <div *ngIf="(allEpcsForPostcode) as epcs">
        <div class="list-select" *ngIf="epcs.length">
            <div class="input-label">Please select your address:</div>
            <div class="list-select-option" [class.selected]="isSelected(epc)"
                 *ngFor="let epc of epcs" (click)="continueWithEpc(epc)">{{epc.getDisplayAddress()}}</div>
            <div class="list-select-option" [class.selected]="isNoEpcSelected"
                 (click)="continueWithoutEpc()">My address is not listed</div>
        </div>
    </div>
</div>