<div class="garden-question question-component">
    <div class="answer-grid multiple-choice-options garden-options">
        <div *ngFor="let option of accessibilityOptions; let i = index" class="garden-option multiple-choice-option-container">
            <input [id]="'option-' + i" type="radio" name="garden"
                   [checked]="accessibility === option.value"
                   (click)="handleOptionClicked(option.value)">
            <label [for]="'option-' + i" class="multiple-choice-option garden-option"
                   [class.selected]="accessibility === option.value">
                {{option.name}}
            </label>
        </div>
    </div>
    <div class="slider" *ngIf="accessibility === ACCESSIBLE">
        <nouislider [config]="SLIDER_CONFIG" [(ngModel)]="size"></nouislider>
        <div class="size-hint">About the size of {{getTennisCourts()}} tennis court{{getTennisCourts() === '1' ? '' : 's'}}</div>
    </div>
</div>
