.garden-question {
  .garden-options {
    display: flex;

    .garden-option {
      flex: 0 0 auto;
      width: calc((100% - 40px - 1px) / 3);

      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .slider {
    margin-top: 96px;
  }

  .size-hint {
    text-align: center;
    font-size: 14px;
    margin-top: 32px;
  }
}