@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";


.garden-question {
  .slider {
    margin-top: 96px;
  }

  .size-hint {
    text-align: center;
    font-size: 14px;
    margin-top: 32px;
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .garden-question {
    .garden-options {
      .garden-option {
        @include is-grid-item($number-of-items: 3, $margin: 20px);
        white-space: nowrap;
      }
    }
  }
}
