.main-content-wrapper {
  // IE requires the flex containers parent to also have display: flex;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  // IE11 requires a height on a flex-container to facilitate flex-grow
  height: 100%;
  width: 100%;

  .page-component {
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    outline: none;
  }

  & > :last-child {
    margin-top: auto;
  }
}