<!--The content below is only a placeholder and can be replaced.-->
<div id="main-content">
    <h1>
        Welcome to {{title}}!
    </h1>
    <ul>
        <li>
            <a routerLink="/sample-page">sample Wordpress page, loaded from the Wordpress API by Angular</a>
        </li>
        <li>
            <a routerLink="/calculator">sample non-Wordpress, Angular page</a>
        </li>
        <li>
            <a routerLink="/postcode-epc">demo of EPC data retrieval</a>
        </li>
        <li>
            <a routerLink="/ocr">demo of OCR</a>
        </li>
        <li>
            <a routerLink="/questionnaire">energy efficiency questionnaire</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>

