<div class="eco-suppliers-page">
    <div class="heading-row page-row">
        <div class="page-row-content">
            <h1 class="title">ECO Suppliers</h1>
            <div class="summary">
                All of the companies below provide support through ECO, but the support they offer and the households they support will be different.
            </div>
        </div>
    </div>
    <div class="page-row">
        <div class="page-row-content">
            <div class="supplier-list-title"> Click on the links below to see what each of these companies is offering at the moment.</div>
            <div *ngIf="!hasCompletedQuestionnaire" class="supplier-list-summary">
                If you’re not sure what energy improvements your home might need, why not use
                <a routerLink="/energy-efficiency/reduce-bills">our tool</a>
                to find out, before you contact any ECO suppliers?
            </div>
            <app-spinner-and-error-container [loading]="loading" [error]="error" errorMessage="errorMessage"></app-spinner-and-error-container>
            <div class="supplier-list" *ngIf="!loading && !error && suppliers">
                <a class="supplier" *ngFor="let supplier of suppliers" [href]="supplier.link" target="_blank">
                    <img [src]="supplier.logo_image_src"
                         [alt]="supplier.name"/>
                </a>
            </div>
        </div>
    </div>
</div>