<div class="eco-suppliers-page">
    <div class="heading-row page-row">
        <div class="page-row-content">
            <h1 class="title">ECO Suppliers</h1>
            <div class="summary">We can help you find the right option for your home or you can review all the different suppliers below.</div>
        </div>
    </div>
    <div class="page-row">
        <div class="page-row-content">
            <div class="supplier-list-title">Select an energy supplier to find out more</div>
            <div class="supplier-list-summary">
                Below is a list of all of the energy suppliers participating in the Energy Company Obligation (ECO).
            </div>
            <app-spinner-and-error-container [loading]="loading" [error]="error" errorMessage="errorMessage"></app-spinner-and-error-container>
            <div class="supplier-list" *ngIf="!loading && !error && suppliers">
                <a class="supplier" *ngFor="let supplier of suppliers" [href]="supplier.link" target="_blank">
                    <img [src]="supplier.logo_image_src"
                         [alt]="supplier.name"/>
                </a>
            </div>
        </div>
    </div>
</div>