@import "styles/var/_colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/font";
@import "../../_energy-efficiency-page-sizes";
@import "~mathsass/dist/_math";
@import "~mathsass/dist/_constants";

// Component specific variables
$graph-height-pixels: 140;
$graph-width-pixels: 2 * $data-card-width / 1px;
$graph-line-width: 2px;

$graph-angle-radians: atan($graph-height-pixels / $graph-width-pixels);
$graph-diagonal-length-pixels: sqrt(pow($graph-width-pixels, 2) + pow($graph-height-pixels, 2));

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.break-even-component {
  display: flex;
  flex-direction: column;

  .header-row {
    display: flex;
    margin-bottom: 20px;

    .lifespan, .break-even-point {
      display: flex;
      flex: 1 0 1px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      .data-name {
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 10px;
        color: $dark-blue;
      }

      .data-value {
        @include break-even-data-value-font;
      }
    }
  }

  .graph {
    height: $graph-height-pixels * 1px;
    box-sizing: content-box;
    border-left: 2px solid $light-medium-grey;
    border-bottom: 2px solid $light-medium-grey;
    position: relative;

    .annual-savings-line {
      border-top: $graph-line-width solid $light-medium-grey;
      height: 0;
      width: $graph-diagonal-length-pixels * 1px;
      position: absolute;
      top: 50%;
      right: -3%;
      transform: rotate(-$graph-angle-radians * 1rad);
    }

    .upfront-investment {
      width: 100%;
      background-color: $light-grey;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .break-even-point-line {
      height: 100%;
      width: 0;
      position: absolute;
      border-left: $graph-line-width dashed $light-medium-grey;
      top: 0;
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  :host {
    flex: 0 0 100%;
  }

  .break-even-component {
    .header-row {
      flex: 0 0 100%;
      flex-wrap: wrap;
      margin: 0;

      .lifespan, .break-even-point {
        flex: 0 0 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border-top: 2px solid $lighter-grey;
        padding: 20px 0;
        color: $dark-blue;
      }
    }

    .graph {
      display: none;
    }
  }
}

@include tablet() {
  :host {
    flex: 0 0 100%;
    margin-top: 20px;
    border-top: 2px solid $light-grey;
  }

  .break-even-component {
    .header-row {
      flex: 0 0 100%;
      margin: 0;

      .lifespan, .break-even-point {
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 20px 0 0;
      }

      .lifespan {
        padding-right: 20px;
      }
    }

    .graph {
      display: none;
    }
  }
}

@include desktop() {
  :host {
    margin-left: 20px;
    margin-right: $add-to-plan-column-width;
    flex: 0 0 $graph-width-pixels * 1px;
  }
}