@import "styles/var/_colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/font";
@import "../../_energy-efficiency-page-sizes";
@import "~mathsass/dist/_math";
@import "~mathsass/dist/_constants";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.break-even-component {
  display: flex;
  flex-direction: column;

  .header-row {
    display: flex;
    margin-bottom: 20px;

    .lifespan, .break-even-point {
      flex: 1 0 1px;
      display: flex;

      &:not(:last-child) {
        margin-right: 40px;
      }

      .data-name {
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 10px;
        color: $dark-blue;
      }

      .data-value {
        @include break-even-data-value-font;
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .break-even-component {
    .header-row {
      flex: 0 0 auto;
      flex-wrap: wrap;
      margin: 0;

      .lifespan, .break-even-point {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border-top: 2px solid $lighter-grey;
        padding: 20px 0;
        color: $dark-blue;
      }
    }
  }
}

@include tablet() {
  .break-even-component {
    .header-row {
      flex: 0 0 auto;

      .lifespan, .break-even-point {
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 20px 0 0;
      }

      .lifespan {
        padding-right: 20px;
      }
    }
  }
}

@include desktop() {
  .break-even-component {
    .header-row {
      .lifespan, .break-even-point {
        flex-direction: column;

        .data-name {
          margin-bottom: 10px;
        }
      }
    }
  }
}