@import "styles/var/colors";
@import "styles/mixins/font";

// Component specific variables

// Component specific mixins
@mixin is-latest-news-card($image-height, $text-container-min-height, $text-container-padding, $heading-padding) {
  .latest-news-icon-container {
    height: $image-height;
  }

  .text-container {
    min-height: $text-container-min-height;
    padding: $text-container-padding;

    .heading {
      padding: $heading-padding;
    }
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
.latest-news-card {
  display: flex;
  flex-direction: column;
  background: $lighter-grey;
  height: 100%;
  border: none;
  outline: none;
  text-decoration: none;

  .latest-news-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;

    &.no-image {
      background-color: $dark-medium-grey;
    }
  }

  .text-container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heading {
      @include card-heading-font;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .read-more {
      @include read-more-font;
    }
  }

  &:hover {
    .text-container {
      .heading, .read-more {
        text-decoration: underline;
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .latest-news-card {
    @include is-latest-news-card(
      $image-height: 184px,
      $text-container-min-height: 160px,
      $text-container-padding: 25px,
      $heading-padding: 0 0 40px
    );
  }
}

@include tablet() {
  .latest-news-card {
    @include is-latest-news-card(
      $image-height: 185px,
      $text-container-min-height: 160px,
      $text-container-padding: 20px 24px 27px,
      $heading-padding: 0 0 40px
    );
  }
}

@include desktop() {
  .latest-news-card {
    @include is-latest-news-card(
      $image-height: 236px,
      $text-container-min-height: 160px,
      $text-container-padding: 25px 20px 27px 20px,
      $heading-padding: 0 0 40px
    );
  }
}