$darker-grey: #333333;
$dark-grey: #4A4A4A;
$dark-medium-grey: #5A5959;
$light-medium-grey: #9fa0a2;
$lighter-medium-grey: #cccccc;
$light-grey: #eeeeee;
$lighter-grey: #f5f5f5;

$focus-blue: #00abce;
$primary-blue: #01abce;
$darkened-blue: #29759b;

$pink: #e50046;

$focus-text-blue: #149BC3;
$action-button-blue: #01ABCE;
$headline-dark-blue: #216289;
$button-dark-blue: #29759B;

$red: crimson;
$amber: #F5A623;
$green: #7ED321;

$separator-grey: #DDDDDD;