$darker-grey: #333333;
$dark-grey: #4A4A4A;
$dark-medium-grey: #5A5959;
$light-medium-grey: #9fa0a2;
$lighter-medium-grey: #cccccc;
$light-grey: #eeeeee;
$lighter-grey: #f5f5f5;

$pink: #e50046;

$red: crimson;
$amber: #F5A623;
$green: #7ED321;

$ghg-primary-tag: #263F0A;
$ghg-secondary-tag: #4C7F14;

$separator-grey: #DDDDDD;

$govuk-blue: #005EA5;

// Theme colours
$dark-blue: #1A485F;
$dark-medium-blue: #006280;
$icon-blue: #01ABCE;
$light-blue: #BEE8F1;
$dark-green: #355F43;
$light-green: #def1c8;
$ghg-banner-green: #b8ff69;

$cookie-banner: #7d4052;
