<div class="house-storeys-question question-component">
    <form class="questionnaire-form" (submit)="handleFormSubmit()">
        <app-number-question itemsName="storeys"
                             [(quantity)]="response"
                             [minQuantity]="1"
                             [maxQuantity]="10"></app-number-question>
    </form>
    <div class="storeys-icons">
        <span class="icon-tree" aria-label="tree"></span>
        <span class="icon-home-storeys" aria-label="house with storeys"></span>
        <span class="icon-tree" aria-label="tree"></span>
    </div>
</div>
