@import "styles/mixins/font";
@import "styles/var/colors";

.page-heading {
  @include page-heading-font;
  color: $dark-blue;
  background-color: $light-blue;

  .page-row-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

p {
  @include page-subheading-font;
  color: $dark-medium-blue;
}

// Breakpoint specific styling
@include mobile() {
  h1, p {
    padding: 25px 0 20px;
    padding-bottom: 28px;
  }
}

@include tablet() {
  h1, p {
    padding: 47px 0 36px;
  }
}

@include desktop() {
  h1, p {
    height: 208px;
  }
}