<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/" />
    <meta charset="UTF-8"/>
    <title>Energy Saving Advice Service</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // These values are duplicated in angular/src/config.ts so that we can have a strongly typed config object;
        // if you change these or add more properties, please make the same change to that file.
        window.CONFIG = {
            apiRoot: [[${apiRoot}]],
            environment: [[${environment}]],
            buildTimestamp: [[${buildTimestamp}]],
            buildGitCommit: [[${buildGitCommit}]],
            buildJenkinsUrl: [[${buildJenkinsUrl}]],
            buildJenkinsNumber: [[${buildJenkinsNumber}]]
        };
        /*]]>*/
    </script>
    <link rel="icon" type="image/png" href="/dist/assets/images/logos/ehc-small.png" />
    <th:block th:utext="${angularHeadContent}" />
</head>
<body th:utext="${angularBodyContent}">
</body>
</html>
