<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/" />
    <meta charset="UTF-8"/>
    <title>Save Energy</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // These values are duplicated in angular/src/config.ts so that we can have a strongly typed config object;
        // if you change these or add more properties, please make the same change to that file.
        window.CONFIG = {
            apiRoot: [[${apiRoot}]],
            springProfiles: [[${springProfiles}]],
            spaceName: [[${spaceName}]],
            phoneNumber: [[${phoneNumber}]],
            buildTimestamp: [[${buildTimestamp}]],
            buildGitCommit: [[${buildGitCommit}]],
            buildUrl: [[${buildUrl}]],
            buildNumber: [[${buildNumber}]],
            publicRootUrl: [[${publicRootUrl}]]
        };
        /*]]>*/
    </script>
    <link rel="icon" type="image/png" href="/dist/assets/images/logos/ehc-small.png" />
    <th:block th:utext="${angularHeadContent}" />

    <!-- Google tracking -->
    <script type="text/javascript" th:src="@{https://www.googletagmanager.com/gtag/js(id=${gaId})}"></script>
    <script type="text/javascript" th:inline="javascript">
        var gaId = [[${gaId}]];

        // Google Analytics tracking code
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', gaId, { 'send_page_view': false });
    </script>
    <!-- Social Meta Tags -->
    <meta property="og:title" content="Simple Energy Advice" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:description" th:content='${savings != null ? "My energy saving plan could save me " + savings + " per year and benefit the environment!" : "Government endorsed advice about energy for homeowners, renters and landlords."}' />
    <meta property="og:site_name" content="Simple Energy Advice" />
    <meta property="og:image" th:content='${publicRootUrl + "/dist/assets/images/open-graph/share.jpg"}' />
    <meta property="og:image:secure_url" th:content='${publicRootUrl + "/dist/assets/images/open-graph/share.jpg"}' />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
</head>
<body th:utext="${angularBodyContent}">
</body>
</html>
