<div class="postcode-lookup">
    <form class="postcode-input" (ngSubmit)="onPostcodeSubmit()">
        <input class="postcode-input-text" spellcheck="false" type="text" [(ngModel)]="postcodeInput"
            name="postcode-input" aria-label="Enter your postcode" title="Enter your postcode">
        <button class="postcode-input-submit" type="submit"
            title="Submit" aria-label="Submit"></button>
    </form>
    <div class="loading-spinner" *ngIf="loading"></div>
    <div class="validation-error" *ngIf="validationError">Please enter a valid UK postcode</div>
    <div class="validation-error" *ngIf="lookupError">Oh no! The postcode lookup has failed.</div>
    <div class="scottish-postcode" *ngIf="scottishPostcode">We do not think this service is suitable/accurate for you (as your home is in Scotland)</div>
</div>