<div class="postcode-lookup">
    <form class="postcode-input" (ngSubmit)="onPostcodeSubmit()">
        <input class="postcode-input-text" spellcheck="false" type="text" [(ngModel)]="postcodeInput"
            name="postcode-input" aria-label="Enter your postcode" title="Enter your postcode" autocomplete="postal-code"
            [attr.aria-invalid]="error ? 'true' : 'false'">
        <button class="postcode-input-submit" type="submit"
            title="Submit" aria-label="Submit"></button>
    </form>
    <app-spinner-and-error-container *ngIf="country === Country.Scotland" class="spinner-and-error" [loading]="loading" [error]="error" [errorMessage]="errorMessage">
        Residents of Scotland can get help from
        <a href="http://www.energysavingtrust.org.uk/scotland/home-energy-scotland">Home Energy Scotland</a>
    </app-spinner-and-error-container>
    <app-spinner-and-error-container *ngIf="country !== Country.Scotland" class="spinner-and-error" [loading]="loading" [error]="error" [errorMessage]="errorMessage">
    </app-spinner-and-error-container>
    <div class="loading-spinner" *ngIf="loading"></div>
</div>
