@import "styles/var/colors";

:host {
  display: block;
}

.postcode-epc {
  width: 100%;
  min-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .postcode-input {
    width: 100%;
    height: 72px;
    display: flex;
    margin-top: 48px;

    .postcode-input-text {
      background-color: $lighter-grey;
      outline: none;
      border: none;

      flex: 1 1 auto;
      padding: 0 24px;
      min-width: 0;

      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .postcode-input-submit {
      background: $pink url('/assets/images/controls/chevron-right-white.svg') no-repeat center;

      flex: 0 0 72px;
      border: none;
      cursor: pointer;

      font-size: 30px;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .loading-spinner {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
  }

  .address-select {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .address-dropdown {
      flex: 1 1 auto;
      padding: 8px;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      min-width: 0;

      .address-option {
        font-size: 18px;
      }
    }
  }

  .go-button {
    background-color: black;
    color: white;

    flex: 0 0 50px;
    border: none;
    cursor: pointer;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .validation-error {
    margin-top: 20px;
    background-color: crimson;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    color: white;

    width: 300px;
    float: right;
    position: relative;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}