<div class="optional-property-question question-component">
    <div class="answer-grid multiple-choice-options optional-property-question-options">
        <button id="yes-option"
                class="multiple-choice-option optional-property-question-option"
                [class.selected]="response === true"
                (click)="response = true">
            Yes, continue
        </button>
        <button id="no-option"
                class="multiple-choice-option optional-property-question-option"
                [class.selected]="response === false"
                (click)="response = false">
            No, skip to heating
        </button>
    </div>
</div>