@import 'styles/mixins/buttons';

.optional-property-question {
  .optional-property-question-options {
    margin-top: 64px;

    .optional-property-question-option {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: 240px;
      height: 120px;
      border-radius: 32px;
      border: 1px solid black;

      padding: 20px 50px;
      box-sizing: border-box;

      font-size: 24px;
      font-weight: bold;

      &:not(:last-child) {
        margin-right: 64px;
      }
    }
  }
}