<app-spinner-and-error-container [loading]="isLoading" [error]="isError"></app-spinner-and-error-container>
<div class="page-row" *ngIf="!isLoading && !isError">
    <div class="page-row-content page-component" *ngIf="pageData as page">
        <div class="title" [innerHTML]="page.title?.rendered"></div>
        <div class="video-embed" *ngIf="page.acf.video_embed" [innerHTML]="page.acf.video_embed | safe"></div>
        <div class="content" [innerHTML]="page.content?.rendered"></div>
    </div>
</div>