@import "styles/mixins/font";
@import "styles/var/colors";

.page-component {
  .header-row {
    background-color: $primary-blue;

    h1 {
      @include page-heading-font;
      color: white;
      margin: 0;
    }
  }

  .main-row {
    h2 {
      @include page-summary-font;
      color: $primary-blue;
      margin: 24px 0;
    }

    h3 {
      border-top: 1px solid $primary-blue;
      padding-top: 24px;
      margin: 24px 0;
      color: $primary-blue;
      @include page-section-heading-font;
    }

    ul {
      padding-left: 1em;
    }

    .beis-button {
      color: white;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      min-height: 60px;
      max-width: 300px;
      margin: 16px 0;

      .beis-button-text {
        background-color: $button-dark-blue;
        @include more-info-button-font;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
      }

      .beis-button-icon-container {
        background-color: $action-button-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .beis-button-icon {
          width: 15px;
          line-height: 23px;
          font-size: 23px;
          font-weight: bold;
          color: white;
          display: block;
        }
      }
    }

    p, ul, a {
      @include page-body-font;
    }
  }
}

.page-component {
  @include mobile() {
    .header-row {
      padding: 25px 0;
    }

    .main-row {
      padding: 28px 0 44px;

      .youtube-video {
        height: 225px;
        width: 300px;
      }
    }
  }

  @include tablet() {
    .header-row {
      padding: 40px 0;
    }

    .main-row {
      padding: 33px 0 40px;

      .youtube-video {
        height: 450px;
        width: 600px;
      }
    }
  }

  @include desktop() {
    .header-row {
      padding: 70px 0;
    }

    .main-row {
      padding: 30px 0;

      .youtube-video {
        height: 450px;
        width: 600px;
      }
    }
  }
}