<app-spinner-and-error-container [loading]="isLoading" [error]="isError" [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="page-row" *ngIf="!isLoading && !isError">
    <div class="page-row-content page-component" *ngIf="pageData">
        <div class="title" [innerHTML]="pageData.title"></div>
        <div class="video-embed" *ngIf="pageData.videoEmbed" [innerHTML]="pageData.videoEmbed | safe"></div>
        <div class="content" [innerHTML]="pageData.content"></div>
    </div>
</div>