@import "styles/mixins/font";
@import "styles/mixins/buttons";
@import "styles/var/colors";

$aspect-ratio: 9/16;

.page-component {
  .header-row {
    background-color: $light-blue;

    h1 {
      @include page-heading-font;
      color: $dark-blue;
      margin: 0;
    }
  }

  .contents-section {
    border-bottom: 4px solid $light-grey;
  }

  .main-row {
    .summary {
      @include page-summary-font;
      font-weight: bold;
      color: $dark-medium-blue;
      margin: 24px 0;
    }

    h2 {
      border-top: 1px solid $dark-medium-blue;
      padding-top: 24px;
      margin: 24px 0;
      color: $dark-medium-blue;
      @include page-section-heading-font;
    }

    ul {
      padding: 0px 10px 0px 2em;
    }

    .beis-button {
      @include beis-button();
    }

    p:not(.summary), ul, a {
      @include page-body-font;
    }

    .youtube-video {
      height: calc(#{$aspect-ratio} * 70vw);
      width: 70vw;
    }
  }
}

.page-component {
  @include mobile() {
    .header-row {
      padding: 25px 0;
    }

    .contents-section {
      padding: 28px 0 44px;
    }

    .main-row {
      padding: 28px 0 44px;

      .page-row-content {
        p, h2, h3 {
          padding: 0px 10px;
        }
      }
    }
  }

  @include tablet() {
    .header-row {
      padding: 40px 0;
    }

    .contents-section {
      padding: 33px 40px;
    }

    .main-row {
      padding: 33px 0 40px;
    }
  }

  @include desktop() {
    .header-row {
      padding: 73px 0;
    }

    .contents-section {
      padding: 30px 0;
    }

    .main-row {
      padding: 30px 0;
    }
  }
}