<div class="benefits-question question-component">
    <div class="answer-grid multiple-choice-options benefits-options">
        <button *ngFor="let option of options"
                class="multiple-choice-option benefits-option"
                id="benefits-checkbox-{{Benefits[option.value]}}"
                [name]="Benefits[option.value]"
                [class.selected]="isBenefitSelected(option)"
                (click)="toggleBenefit(option)">
            {{option.name}}
        </button>
    </div>
</div>