@import "styles/page";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import 'styles/mixins/buttons';
@import 'styles/mixins/font';
@import "styles/var/colors";

// Component specific variables
$mobile-homepage-link-margin: 20px;
$tablet-homepage-link-margin: 16px;
$desktop-homepage-link-margin: 16px;
$mobile-quick-link-margin: 6px;
$tablet-quick-link-margin: 4px;
$desktop-quick-link-margin: 4px;
$arrow-width: 20px;
$arrow-height: 48px;

// Component specific mixins


// General styling (shouldn't contain many widths/sizes etc.)
.home-page {
  background: white;

  .heading-section {
    background: url('/assets/images/home-page/background.jpg') right bottom;
    background-size: cover;

    .heading-text {
      @include page-heading-large-font();
      color: white;
    }

    .landing-page-links {
      .landing-page-link {
        background: white;
        color: $dark-grey;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:focus, &:hover {
          background: $primary-blue;
          color: white;
        }

        .link-text {
          @include large-link-font();
        }
      }
    }
  }

  .quick-links {
    .quick-link {
      position: relative;
      background: $light-grey;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &:focus, &:hover {
        .arrow-button {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }

      .heading {
        @include quick-link-heading-font;
        color: $primary-blue;
        box-sizing: border-box;
      }

      .description {
        @include quick-link-font;
        color: $darkened-blue;
        box-sizing: border-box;
      }

      .arrow-button {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: auto;
        @include quick-link-font;

        background: white;
        color: $primary-blue;

        &:after {
          position: absolute;
          right: -$arrow-width;
          top: 0;
          content: " ";
          border: ($arrow-height / 2) solid transparent;
          border-right-width: 0;
          border-left: $arrow-width solid white;
        }
      }

      .calculator-image:after {
        background: url("/assets/images/home-page/home-calc.svg") no-repeat;
        background-size: 100%;
        position: absolute;
        content: "";
      }

      .grants-image:after {
        background: url('/assets/images/home-page/grants-globe.svg') no-repeat;
        background-size: 100%;
        position: absolute;
        content: "";
      }

      .boiler-image:after {
        background: url('/assets/images/home-page/boiler-flame.svg') no-repeat;
        background-size: 100%;
        position: absolute;
        content: "";
      }
    }
  }

  .other-things {
    margin-top: 58px;

    .heading {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      color: $primary-blue;

      margin-bottom: 24px;
    }

    .spinner-container {
      display: flex;
      justify-content: center;
    }

    .latest-news-cards {
      display: flex;
      align-items: stretch;
      margin-bottom: 60px;

      & > * {
        flex: 1;
      }

      > :not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .home-page {
    .heading-section {

      padding: 53px 0 20px 0;

      .heading-text {
        width: 100%;
        margin-bottom: 64px;
        min-height: 212px;
      }

      .landing-page-links {
        @include is-grid($margin-compensation: $mobile-homepage-link-margin);

        .landing-page-link {
          @include is-grid-item($number-of-items: 2, $margin: $mobile-homepage-link-margin);
          height: 80px;
          padding: 0 20px;

          .link-text {
            width: 100%;
          }
        }
      }
    }

    .quick-links {
      @include is-grid($margin-compensation: $mobile-quick-link-margin);

      .quick-link {
        @include is-grid-item($number-of-items: 1, $margin: $mobile-quick-link-margin);
        padding: 60px 0 44px 20px;

        .heading {
          padding-right: 82px;
          margin-bottom: 20px;
        }

        .description {
          padding-right: 130px;
          margin-bottom: 42px;
        }

        .arrow-button {
          height: $arrow-height;
          width: 85%;
          padding-left: 20px;
        }

        .calculator-image:after {
          right: 18px;
          top: 150px;
          height: 90px;
          width: 109px;
        }

        .grants-image:after {
          right: 24px;
          top: 161px;
          height: 95px;
          width: 103px;
        }

        .boiler-image:after {
          right: 33px;
          top: 0;
          height: 251px;
          width: 77px;
        }
      }
    }
  }
}

@include tablet() {
  .home-page {
    .heading-section {
      padding: 74px 0 96px 0;

      .heading-text {
        width: 620px;
        margin-bottom: 57px;
      }

      .landing-page-links {
        @include is-grid($margin-compensation: $tablet-homepage-link-margin);

        .landing-page-link {
          @include is-grid-item($number-of-items: 2, $margin: $tablet-homepage-link-margin);
          height: 157px;
          padding: 0 22px;

          .link-text {
            width: 100%;
          }
        }
      }
    }

    .quick-links {
      @include is-grid($margin-compensation: $tablet-quick-link-margin);

      .quick-link {
        @include is-grid-item($number-of-items: 3, $margin: $tablet-quick-link-margin);
        padding: 70px 0 40px 40px;

        .heading {
          padding-right: 196px;
          margin-bottom: 38px;
        }

        .description {
          padding-right: 196px;
          margin-bottom: 48px;
        }

        .arrow-button {
          height: $arrow-height;
          width: 50%;
          padding-left: 18px;
        }

        .calculator-image:after {
          right: 48px;
          top: 156px;
          height: 109px;
          width: 132px;
        }

        .grants-image:after {
          right: 52px;
          top: 36px;
          height: 136px;
          width: 126px;
        }

        .boiler-image:after {
          right: 53px;
          top: 0;
          height: 266px;
          width: 103px;
        }
      }
    }
  }
}

@include desktop() {
  .home-page {
    .heading-section {
      padding: 74px 0 96px 0;

      .heading-text {
        width: 620px;
        margin-bottom: 57px;
      }

      .landing-page-links {
        @include is-grid($margin-compensation: $desktop-homepage-link-margin);

        .landing-page-link {
          @include is-grid-item($number-of-items: 4, $margin: $desktop-homepage-link-margin);
          height: 157px;
          padding: 0 22px;

          .link-text {
            width: 60%;
          }
        }
      }
    }

    .quick-links {
      @include is-grid($margin-compensation: $desktop-quick-link-margin);

      .quick-link {
        @include is-grid-item($number-of-items: 3, $margin: $desktop-quick-link-margin);
        padding: 70px 0 40px 40px;

        .heading {
          padding-right: 196px;
          margin-bottom: 38px;
        }

        .description {
          padding-right: 196px;
          margin-bottom: 48px;
        }

        .arrow-button {
          height: $arrow-height;
          width: 50%;
          padding-left: 18px;
        }

        .calculator-image:after {
          right: 48px;
          top: 156px;
          height: 109px;
          width: 132px;
        }

        .grants-image:after {
          right: 52px;
          top: 36px;
          height: 136px;
          width: 126px;
        }

        .boiler-image:after {
          right: 53px;
          top: 0;
          height: 266px;
          width: 103px;
        }
      }
    }
  }
}