<div class="home-page">
    <div class="heading page-row">
        <div class="page-row-content">
            <div class="heading-text">
                Impartial and independent advice to help you...
            </div>
        </div>
    </div>
    <div class="landing-page-links page-row">
        <div class="page-row-content">
            <a routerLink="/js/reduce-bills" class="landing-page-link">Reduce your energy bills</a>
            <a routerLink="/js/home-improvements" class="landing-page-link">Plan home improvements</a>
            <a routerLink="/js/carbon-footprint" class="landing-page-link">Reduce your home carbon footprint</a>
        </div>
    </div>
    <div class="page-row">
        <div class="quick-links page-row-content">
            <a class="quick-link calculator-button" (click)="onEnergyCalculatorButtonClick()" tabindex="0">
                <div class="text">
                    <div class="content">
                        <div class="heading">Try our energy efficiency calculator</div>
                        <div class="subheading icon-timer"> It takes about 5 minutes to complete</div>
                    </div>
                    <div class="arrow-button">Receive personalised recommendations now</div>
                </div>
                <div class="quick-link-icon center">
                    <div class="icon-house-layers"></div>
                </div>
            </a>
            <a class="quick-link grants-button" (click)="onGrantsButtonClick()" tabindex="0">
                <div class="text">
                    <div class="content">
                        <div class="heading">Learn about home energy grants</div>
                        <div class="subheading">
                            You might be eligible for help with your energy bills or making your home more energy
                            efficient
                        </div>
                    </div>
                    <div class="arrow-button">Find out more</div>
                </div>
            </a>
            <a class="quick-link" (click)="onBoilerButtonClick()" tabindex="0">
                <div class="text">
                    <div class="content">
                        <div class="heading">Let's talk boilers</div>
                        <div class="subheading">Troubleshooting your boiler or finding the best replacement</div>
                    </div>
                    <div class="arrow-button">Discover your options</div>
                </div>
                <div class="quick-link-icon top">
                    <div class="icon-boiler"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="page-row">
        <div class="latest-news page-row-content">
            <div class="subheading">Latest news you might be interested in</div>
            <div class="latest-news-cards" *ngIf="latestNews; else latestNewsSpinner">
                <app-latest-news-card *ngFor="let page of latestNews; let idx = index"
                                      [iconClassName]="pageIcons[idx]"
                                      [page]="page"></app-latest-news-card>
            </div>
            <ng-template #latestNewsSpinner>
                <div class="spinner-container">
                    <div class="loading-spinner"></div>
                </div>
            </ng-template>
        </div>
    </div>
</div>