@import "styles/page";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import 'styles/mixins/buttons';
@import 'styles/mixins/font';
@import "styles/var/colors";

// Component specific variables
$mobile-homepage-link-margin: 20px;
$tablet-homepage-link-margin: 16px;
$desktop-homepage-link-margin: 16px;
$quick-link-margin: 4px;

// Component specific mixins


// General styling (shouldn't contain many widths/sizes etc.)
.home-page {
  background: white;

  .heading-section {
    background: url('/assets/images/home-page/background.jpg') center bottom;
    background-size: cover;

    .heading-text {
      @include page-heading-large-font();
      color: white;
    }

    .landing-page-links {
      .landing-page-link {
        background: white;
        color: $dark-grey;
        text-decoration: none;

        &:focus, &:hover {
          background: $primary-blue;
          color: white;
        }

        .link-text {
          @include large-link-font();
        }
      }
    }
  }

  .quick-links {
    width: 100%;
    display: flex;

    .quick-link {
      position: relative;
      flex: 0 0 auto;
      box-sizing: border-box;
      width: calc((100% - #{2 * $quick-link-margin - 1px}) / 3);
      &:not(:last-child) {
        margin-right: $quick-link-margin;
      }

      background: $light-grey;
      padding: 70px 0 40px 40px;

      cursor: pointer;

      &:focus, &:hover {
        .arrow-button {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }

      .heading {
        font-size: 36px;
        line-height: 38px;
        font-weight: bold;
        color: $primary-blue;

        height: 114px;
        padding-right: 196px;
        box-sizing: border-box;
        margin-bottom: 38px;
      }

      .description {
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: $darkened-blue;
        text-transform: uppercase;

        height: 48px;
        max-width: 500px;
        padding-right: 196px;
        box-sizing: border-box;
        margin-bottom: 48px;
      }

      .arrow-button {
        position: relative;
        height: 48px;
        width: 50%;
        box-sizing: border-box;
        padding-left: 18px;

        display: flex;
        align-items: center;

        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        text-transform: uppercase;

        background: white;
        color: $primary-blue;

        &:after {
          position: absolute;
          right: -20px;
          top: 0;
          content: " ";

          border: 24px solid transparent;
          border-right-width: 0;
          border-left: 20px solid white;
        }
      }

      .calculator-image:after {
        content: url('/assets/images/home-page/home-calc.svg');
        position: absolute;
        right: 48px;
        top: 156px;
      }

      .grants-image:after {
        content: url('/assets/images/home-page/grants-globe.svg');
        position: absolute;
        right: 64px;
        top: 52px;
      }

      .boiler-image:after {
        content: url('/assets/images/home-page/boiler-flame.svg');
        position: absolute;
        right: 48px;
        top: 0;
      }
    }
  }

  .other-things {
    margin-top: 58px;

    .heading {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      color: $primary-blue;

      margin-bottom: 24px;
    }

    .spinner-container {
      display: flex;
      justify-content: center;
    }

    .latest-news-cards {
      display: flex;
      align-items: stretch;
      margin-bottom: 60px;

      & > * {
        flex: 1;
      }

      > :not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .home-page .heading-section {
    padding: 53px 0 20px 0;

    .heading-text {
      width: 100%;
      margin-bottom: 64px;
      min-height: 212px;
    }

    .landing-page-links {
      @include is-grid($margin-compensation: $mobile-homepage-link-margin);

      .landing-page-link {
        @include is-grid-item($number-of-items: 2, $margin: $mobile-homepage-link-margin);
        height: 80px;
        padding: 0 20px;

        .link-text {
          width: 100%;
        }
      }
    }
  }
}

@include tablet() {
  .home-page .heading-section {
    padding: 74px 0 96px 0;

    .heading-text {
      width: 620px;
      margin-bottom: 57px;
    }

    .landing-page-links {
      @include is-grid($margin-compensation: $tablet-homepage-link-margin);

      .landing-page-link {
        @include is-grid-item($number-of-items: 2, $margin: $tablet-homepage-link-margin);
        height: 157px;
        padding: 0 22px;

        .link-text {
          width: 100%;
        }
      }
    }
  }
}

@include desktop() {
  .home-page .heading-section {
    padding: 74px 0 96px 0;

    .heading-text {
      width: 620px;
      margin-bottom: 57px;
    }

    .landing-page-links {
      @include is-grid($margin-compensation: $desktop-homepage-link-margin);

      .landing-page-link {
        @include is-grid-item($number-of-items: 4, $margin: $desktop-homepage-link-margin);
        height: 157px;
        padding: 0 22px;

        .link-text {
          width: 60%;
        }
      }
    }
  }
}