<div class="home-page">
    <div class="heading-section page-row">
        <div class="page-row-content">
            <div class="heading-text">Impartial and independent advice to help you...</div>
            <div class="landing-page-links">
                <a routerLink="/energy-efficiency/reduce-bills" class="landing-page-link reduce-bills"
                    (click)="sendEventToAnalytics('reduce-bills_clicked')">
                    <span class="link-text">Reduce your energy bills</span>
                </a>
                <a routerLink="/energy-efficiency/warmer-home" class="landing-page-link warmer-home"
                   (click)="sendEventToAnalytics('warmer-home_clicked')">
                    <span class="link-text">Make your home warmer</span>
                </a>
                <a routerLink="/energy-efficiency/home-improvements" class="landing-page-link home-improvements"
                   (click)="sendEventToAnalytics('home-improvements_clicked')">
                    <span class="link-text">Plan home improvements</span>
                </a>
                <a routerLink="/energy-efficiency/greener-home" class="landing-page-link greener-home"
                   (click)="sendEventToAnalytics('greener-home_clicked')">
                    <span class="link-text">Make your home greener</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-row quick-links">
        <a class="quick-link calculator" (click)="onEnergyCalculatorButtonClick()" tabindex="0">
            <div class="heading">Try our energy efficiency calculator</div>
            <div class="description">
                <!-- TODO:BEIS-164 Once the branch which introduces inline-svg is merged, put a timer icon here-->
                It takes 5 minutes to complete to receive your recommendations
            </div>
            <div class="arrow-button">Try now</div>
            <span class="calculator-image"></span>
        </a>
        <a class="quick-link grants" (click)="onGrantsButtonClick()" tabindex="0">
            <div class="heading">Learn about home energy grants</div>
            <div class="description">
                You might be eligible for help with your energy bills or making your home more energy efficient
            </div>
            <div class="arrow-button">Discover your options</div>
            <span class="grants-image"></span>
        </a>
        <a class="quick-link boiler" (click)="onBoilerButtonClick()" tabindex="0">
            <div class="heading">Boilers and heating systems</div>
            <div class="description">
                Troubleshooting your boiler or finding the perfect replacement
            </div>
            <div class="arrow-button">Find out more</div>
            <span class="boiler-image"></span>
        </a>
    </div>
    <div class="page-row">
        <app-latest-news-section googleAnalyticsCategory="home-page"></app-latest-news-section>
    </div>
</div>