<div class="eco-self-referral-done-page">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <h1 class="heading-text">
                Thanks for completing the questionnaire.
            </h1>
        </div>
    </div>
    <div class="page-row more-information">
        <div class="page-row-content">
            <div class="body-text">
                <p>
                    We’ve saved your responses and will attempt to put you in contact with a company able to make
                    improvements to your property under the ECO scheme.
                </p>
                <p>
                    Please be aware that we cannot guarantee that you will receive any help under the ECO scheme.
                </p>
                <p>
                    You do not need to do anything more at this stage.
                </p>
                <app-link-button linkUrl="/" buttonText="Done"></app-link-button>
                <a routerLink="/pages/energy-company-obligation" class="eco-info-link">
                    Find out more on the ECO page
                </a>
            </div>
        </div>
    </div>
</div>
