@import '../var/colors';
@import './font';

$border-width: 1px;

@mixin default-button($width, $height) {
  cursor: pointer;
  border: $border-width solid transparent;
  background-color: black;
  color: white;
  width: $width;
  height: $height;
  font-weight: bold;

  &[disabled], &.inactive {
    background-color: $light-medium-grey;
    cursor: default;
  }

  &:not([disabled]) {
    &:hover, &:focus {
      background-color: white;
      border-color: black;
      color: black;
    }
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin round-button($size) {
  @include default-button($size, $size);
  border-radius: 50%;
}

@mixin capsule-button() {
  cursor: pointer;
  border-radius: 1000000px;
  font-weight: bold;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
}

@mixin arrow-button($width, $height) {
  @include default-button($width, $height);
  position: relative;
  box-sizing: content-box;
  padding: 0;
  overflow: visible;

  &:after {
    right: -$height - 3 * $border-width;
    top: -$border-width;
    content: " ";
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-left-color: black;
    border-width: 0.5 * $height + $border-width;
  }

  &:not([disabled]) {
    &:hover, &:focus {
      border-right-color: white;

      &:before {
        right: -$height -$border-width;
        top: 0;
        content: " ";
        position: absolute;
        border-style: solid;
        border-color: transparent;
        border-left-color: white;
        border-width: 0.5 * $height;
        z-index: 1;
      }
    }
  }
}
@mixin blue-arrow-button($arrow-width, $height) {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: auto;
  @include more-info-button-font;
  background-color: white;
  color: $focus-text-blue;
  height: $height;
  margin-right: $arrow-width;

  &:after {
    position: absolute;
    right: -$arrow-width;
    top: 0;
    content: " ";
    border: ($height / 2) solid transparent;
    border-right-width: 0;
    border-left: $arrow-width solid white;
  }

  &:focus, &:hover {
    color: white;
    background-color: $primary-blue;

    &:after {
      border-left-color: $primary-blue;
    }
  }
}

// Hide the up and down spin buttons in <input> with type 'number'
@mixin with-no-spin-buttons {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}