@import "styles/mixins/layout";

@mixin is-other-things-section-with-parameters($top-margin, $bottom-margin, $heading-margin-bottom, $grid-margin, $number-of-items-in-row) {
  margin-top: $top-margin;
  margin-bottom: $bottom-margin;

  .heading {
    margin-bottom: $heading-margin-bottom;
  }

  .latest-news-cards {
    @include is-grid($margin-compensation: $grid-margin);

    > * {
        @include is-grid-item($number-of-items: $number-of-items-in-row, $margin: $grid-margin);
    }
  }
}

@mixin is-other-things-section() {
  .heading {
    @include page-section-heading-font;
    color: $primary-blue;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
  }

  @include mobile() {
    @include is-other-things-section-with-parameters(
        $top-margin: 56px,
        $bottom-margin: 20px,
        $heading-margin-bottom: 60px,
        $grid-margin: 18px,
        $number-of-items-in-row: 1
    );
  }

  @include tablet() {
    @include is-other-things-section-with-parameters(
        $top-margin: 58px,
        $bottom-margin: 60px,
        $heading-margin-bottom: 24px,
        $grid-margin: 20px,
        $number-of-items-in-row: 2
    );
  }

  @include desktop() {
    @include is-other-things-section-with-parameters(
      $top-margin: 58px,
      $bottom-margin: 60px,
      $heading-margin-bottom: 24px,
      $grid-margin: 20px,
      $number-of-items-in-row: 4
    );
  }
}