@import "styles/mixins/breakpoints";
@import "styles/var/colors";

$font-family: Gotham, Arial, sans-serif;
$font-family-light: GothamLight, Gotham, Arial, sans-serif;

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-medium-webfont.woff') format('woff'),
       url('/assets/fonts/GothamMedium.ttf') format('treutype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-medium-webfont.woff') format('woff'),
       url('/assets/fonts/GothamMedium.ttf') format('treutype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-bold-webfont.woff') format('woff'),
       url('/assets/fonts/GothamBold.ttf') format('treutype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-light-webfont.woff') format('woff'),
       url('/assets/fonts/GothamLight.ttf') format('treutype');
  font-weight: normal;
  font-style: normal;
}

@mixin has-font-sizes-at-breakpoints(
  $desktop-font-size,
  $desktop-line-height,
  $tablet-font-size,
  $tablet-line-height,
  $mobile-font-size,
  $mobile-line-height
) {
  @include mobile() {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
  }
  @include tablet() {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
  @include desktop() {
    font-size: $desktop-font-size;
    line-height: $desktop-line-height;
  }
}

@mixin page-heading-large-font {
  @include has-font-sizes-at-breakpoints(60px, 62px, 48px, 52px, 40px, 40px);
  font-weight: bold;
}

@mixin measures-page-heading-font {
  @include has-font-sizes-at-breakpoints(60px, 62px, 36px, 40px, 32px, 36px);
  font-weight: bold;
}

@mixin page-heading-font {
  @include has-font-sizes-at-breakpoints(48px, 62px, 36px, 40px, 32px, 34px);
  font-weight: bold;
}

@mixin page-heading-small-font {
  @include has-font-sizes-at-breakpoints(40px, 42px, 36px, 40px, 32px, 34px);
  font-weight: bold;
}

@mixin page-subheadline-small-font {
  @include has-font-sizes-at-breakpoints(13px, 16px, 16px, 22px, 13px, 16px);
  color: $dark-grey;
  font-family: $font-family-light;
}

@mixin measures-page-subheading-font {
  @include has-font-sizes-at-breakpoints(32px, 36px, 32px, 36px, 24px, 28px);
  font-weight: bold;
}

@mixin page-subheading-font {
  @include has-font-sizes-at-breakpoints(28px, 32px, 28px, 32px, 24px, 26px);
  font-weight: bold;
}

@mixin page-summary-font {
  @include has-font-sizes-at-breakpoints(24px, 28px, 20px, 24px, 16px, 22px);
  font-family: $font-family-light;
}

@mixin measures-page-step-description-font {
  @include has-font-sizes-at-breakpoints(20px, 28px, 20px, 28px, 20px, 28px);
  font-family: $font-family-light;
}

@mixin page-body-font {
  @include has-font-sizes-at-breakpoints(16px, 22px, 16px, 22px, 16px, 22px);
  font-family: $font-family-light;
}

@mixin need-help-font {
  @include has-font-sizes-at-breakpoints(16px, 22px, 16px, 22px, 16px, 22px);
  font-family: $font-family-light;
}

@mixin popup-text-font {
  @include has-font-sizes-at-breakpoints(24px, 28px, 24px, 28px, 16px, 20px);
}

@mixin large-link-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 16px, 19px, 16px, 19px);
  font-weight: bold;
}

@mixin quick-link-heading-font {
  @include has-font-sizes-at-breakpoints(36px, 38px, 36px, 40px, 32px, 32px);
  font-weight: bold;
}

@mixin quick-link-font {
  @include has-font-sizes-at-breakpoints(13px, 16px, 13px, 16px, 13px, 16px);
  font-weight: 500;
  text-transform: uppercase;
}

@mixin recommendations-sub-heading-font {
  @include has-font-sizes-at-breakpoints(13px, 16px, 14px, 20px, 14px, 20px);
  font-family: $font-family-light;
}

@mixin page-section-heading-font {
  @include has-font-sizes-at-breakpoints(24px, 32px, 24px, 32px, 20px, 20px);
  font-weight: bold;
}

@mixin card-heading-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 20px, 24px, 20px, 24px);
  font-weight: bold;
  color: $dark-grey;
}

@mixin card-body-font {
  @include has-font-sizes-at-breakpoints(16px, 19px, 16px, 19px, 16px, 19px);
  font-family: $font-family-light;
}

@mixin read-more-font {
  @include has-font-sizes-at-breakpoints(11px, 13px, 11px, 13px, 11px, 13px);
  font-weight: 500;
  color: $dark-medium-blue;
  text-transform: uppercase;
}

@mixin footer-font {
  @include has-font-sizes-at-breakpoints(12px, 14px, 12px, 14px, 12px, 14px);
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin more-info-button-font {
  @include has-font-sizes-at-breakpoints(12px, 14px, 12px, 14px, 12px, 14px);
  text-transform: uppercase;
}

@mixin footer-phone-number-font {
  @include has-font-sizes-at-breakpoints(28px, 34px, 28px, 34px, 28px, 34px);
  font-weight: bold;
  text-decoration: none;
  color: white;
  outline: none;
}

@mixin postcode-dropdown-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 18px, 22px, 14px, 16px);
  font-weight: bold;
}

@mixin postcode-options-font {
  @include has-font-sizes-at-breakpoints(18px, 20px, 18px, 20px, 14px, 16px);
  font-weight: 500;
}

@mixin postcode-input-font {
  @include has-font-sizes-at-breakpoints(24px, 29px, 20px, 24px, 20px, 24px);
  font-weight: bold;
  text-transform: uppercase;
}

@mixin static-measures-body-font {
  @include has-font-sizes-at-breakpoints(16px, 20px, 16px, 20px, 14px, 17px);
  font-weight: 300;
}

@mixin static-measures-summary-font {
  @include has-font-sizes-at-breakpoints(13px, 15px, 13px, 15px, 13px, 15px);
  font-weight: 300;
}

@mixin static-measure-value-font {
  @include has-font-sizes-at-breakpoints(48px, 58px, 48px, 58px, 52px, 62px);
  font-weight: bold;
}

@mixin data-card-heading-font {
  @include has-font-sizes-at-breakpoints(11px, 14px, 11px, 14px, 11px, 15px);
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: bold;
}

@mixin data-card-value-font {
  @include has-font-sizes-at-breakpoints(36px, 36px, 36px, 36px, 36px, 36px);
  font-weight: bold;
}

@mixin browse-video-title-font {
  @include has-font-sizes-at-breakpoints(28px, 32px, 28px, 32px, 24px, 26px);
  font-weight: bold;
}

@mixin browse-video-text-font {
  @include has-font-sizes-at-breakpoints(16px, 34px, 16px, 34px, 16px, 34px);
  font-weight: bold;
  color: $dark-medium-blue;
}

@mixin article-title-font {
  @include has-font-sizes-at-breakpoints(32px, 32px, 24px, 26px, 24px, 26px);
  font-weight: bold;
}

@mixin article-summary-font {
  @include has-font-sizes-at-breakpoints(14px, 18px, 13px, 15px, 13px, 15px);
  font-family: $font-family-light;
  font-weight: 300;
}

@mixin question-heading-font {
  @include has-font-sizes-at-breakpoints(36px, 38px, 24px, 32px, 20px, 24px);
  font-size: 36px;
  font-weight: bold;
  color: $dark-medium-blue;
}

@mixin question-button-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 16px, 22px, 14px, 20px);
  color: $dark-grey;
  font-weight: bold;
}

@mixin question-reason-header-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 16px, 22px, 14px, 20px);
  color: $dark-grey;
  font-weight: bold;
}

@mixin question-reason-font {
  @include has-font-sizes-at-breakpoints(14px, 18px, 14px, 18px, 14px, 18px);
  font-family: $font-family-light;
}

@mixin question-label-font {
  @include has-font-sizes-at-breakpoints(16px, 20px, 14px, 20px, 14px, 20px);
  font-family: $font-family-light;
}

@mixin question-number-font {
  @include has-font-sizes-at-breakpoints(24px, 28px, 20px, 24px, 20px, 24px);
  font-weight: bold;
}

@mixin question-text-input-font {
  @include has-font-sizes-at-breakpoints(24px, 28px, 18px, 22px, 16px, 20px);
  text-transform: uppercase;
  font-weight: bold;
}

@mixin break-even-data-value-font {
  @include has-font-sizes-at-breakpoints(32px, 34px, 32px, 24px, 28px, 32px);
  font-weight: bold;
}

@mixin step-title-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 16px, 19px, 14px, 17px);
  font-weight: bold;
}

@mixin plan-footer-header-font {
  @include has-font-sizes-at-breakpoints(20px, 22px, 16px, 22px, 14px, 16px);
  color: $dark-grey;
}

@mixin plan-footer-description-font {
  @include has-font-sizes-at-breakpoints(16px, 20px, 14px, 20px, 14px, 20px);
  color: $dark-grey;
  font-family: $font-family-light;
}

@mixin phase-font {
  @include has-font-sizes-at-breakpoints(16px, 20px, 16px, 20px, 14px, 16px);
  color: white;
  background-color: $govuk-blue;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin eligibility-font {
  @include has-font-sizes-at-breakpoints(13px, 18px, 13px, 18px, 13px, 18px);
  font-family: $font-family-light;
}

@mixin grant-phone-number-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 18px, 22px, 14px, 16px);
  font-weight: bold;
}

// TODO:BEIS-164 Convert the below rules to match the same format as the above rules
@mixin focus-text {
  font-size: 32px;
  font-weight: bold;
}

@mixin headline-figure {
  font-size: 56px;
  font-weight: bold;
}

@mixin card-heading-small {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: $dark-grey;
}

@mixin card-expand-drawer {
  font-size: 11px;
  line-height: 13px;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin body-uppercase {
  font-size: 13px;
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin navbar-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
