@import "styles/var/colors";

$font-family: "nta", Arial, sans-serif;

@mixin page-heading {
  font-size: 56px;
  font-weight: bold;
}

@mixin page-heading-small {
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  color: $dark-blue;
  text-transform: capitalize;
}

@mixin page-subheadline-small {
  font-size: 13px;
  line-height: 16px;
  color: $dark-grey;
}

@mixin page-subheading {
  font-size: 28px;
  font-weight: bold;
}

@mixin focus-text {
  font-size: 32px;
  font-weight: bold;
}

@mixin headline-figure {
  font-size: 56px;
  font-weight: bold;
}

@mixin title-text {
  font-size: 32px;
  font-weight: bold;
}

@mixin card-heading {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: $dark-grey;
}

@mixin card-body {
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey;
}

@mixin card-more-info-link {
  font-size: 13px;
  line-height: 16px;
  color: $focus-blue;
  text-transform: uppercase;
}

@mixin body-uppercase {
  font-size: 13px;
  text-transform: uppercase;
}

@mixin navbar-item {
  font-size: 14px;
  font-weight: bold;
}