@import "styles/mixins/breakpoints";
@import "styles/var/colors";

$font-family: Gotham, Arial, sans-serif;
$font-family-light: GothamLight, Gotham, Arial, sans-serif;

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-medium-webfont.woff') format('woff'),
       url('/assets/fonts/GothamMedium.ttf') format('treutype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-medium-webfont.woff') format('woff'),
       url('/assets/fonts/GothamMedium.ttf') format('treutype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-bold-webfont.woff') format('woff'),
       url('/assets/fonts/GothamBold.ttf') format('treutype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/gotham-light-webfont.woff') format('woff'),
       url('/assets/fonts/GothamLight.ttf') format('treutype');
  font-weight: normal;
  font-style: normal;
}

@mixin has-font-sizes-at-breakpoints(
  $desktop-font-size,
  $desktop-line-height,
  $tablet-font-size,
  $tablet-line-height,
  $mobile-font-size,
  $mobile-line-height
) {
  @include mobile() {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
  }
  @include tablet() {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
  @include desktop() {
    font-size: $desktop-font-size;
    line-height: $desktop-line-height;
  }
}

@mixin page-heading-large-font {
  @include has-font-sizes-at-breakpoints(60px, 62px, 60px, 62px, 40px, 40px);
  font-weight: bold;
}

@mixin large-link-font {
  @include has-font-sizes-at-breakpoints(20px, 24px, 16px, 19px, 16px, 19px);
  font-weight: bold;
}

@mixin quick-link-heading-font {
  @include has-font-sizes-at-breakpoints(36px, 38px, 36px, 38px, 32px, 32px);
  font-weight: bold;
}

@mixin quick-link-font {
  @include has-font-sizes-at-breakpoints(13px, 16px, 13px, 16px, 13px, 16px);
  font-weight: 500;
  text-transform: uppercase;
}

// TODO Convert the below rules to match the same format as the above rules
@mixin page-heading {
  font-size: 56px;
  font-weight: bold;
}

@mixin page-heading-small {
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
}

@mixin page-subheadline-small {
  font-size: 13px;
  line-height: 16px;
  color: $dark-grey;
  font-family: $font-family-light;
}

@mixin page-subheading {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

@mixin focus-text {
  font-size: 32px;
  font-weight: bold;
}

@mixin headline-figure {
  font-size: 56px;
  font-weight: bold;
}

@mixin title-text {
  font-size: 32px;
  font-weight: bold;
}

@mixin card-heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: $dark-grey;
}

@mixin card-heading-small {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: $dark-grey;
}

@mixin card-body {
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey;
  font-family: $font-family-light;
}

@mixin card-expand-drawer {
  font-size: 11px;
  line-height: 13px;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin card-more-info-link {
  font-size: 13px;
  line-height: 16px;
  color: $focus-text-blue;
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin body-uppercase {
  font-size: 13px;
  text-transform: uppercase;
  font-family: $font-family-light;
}

@mixin navbar-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
