@mixin is-grid($margin-compensation: 0) {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -($margin-compensation / 2);
  width: calc(100% + #{$margin-compensation})
}

@mixin is-grid-item($number-of-items, $margin) {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: calc((100% / #{$number-of-items}) - #{$margin});
  margin: $margin / 2;
}