// These mixins are to add a gap (gutter) between items in a flex grid
// In the future, we may be able to use "row-gap"
// See https://www.w3.org/TR/css3-grid-layout/#gutters
// and https://github.com/w3c/csswg-drafts/issues/592
@mixin is-grid($margin-compensation: 0) {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -($margin-compensation / 2);
  width: calc(100% + #{$margin-compensation})
}

@mixin is-grid-item($number-of-items, $margin: 0) {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: calc((100% / #{$number-of-items}) - #{$margin} - 1px); // 1px offset accounts for browser rounding
  margin: $margin / 2;
  @if $margin == 0 {
    width: calc((100% / #{$number-of-items}));
    margin: 0;
  }
}

@mixin has-children-side-by-side() {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}