@mixin is-grid($margin-compensation: 0) {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -($margin-compensation / 2);
}

@mixin is-grid-item($number-of-items, $margin) {
  -webkit-flex: 1;
  -ms-flex: 1;
  display: -webkit-flex;
  -webkit-align-items: stretch;
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: calc((100% / #{$number-of-items}) - #{$margin});
  margin: $margin / 2;
}