@mixin arrow-bullet-list {
  position: relative;
  list-style: none;
  li {
    margin: 10px 0;
    &::before {
      content: '\25B6\FE0E'; /* ▶ forced to render as text, not emoji. */
      position: absolute;
      left: 0;
    }
  }
}
