@import "styles/mixins/breakpoints";

@mixin isTag($background-color) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  background-color: $background-color;
  height: 28px;
  max-width: 190px;
  padding: 15px 0;

  @include mobile() {
    border-radius: 28px;
  }

  @include tablet() {
    border-radius: 28px;
  }

  @include desktop() {
    border-radius: 20px;
  }
}
