@import 'styles/mixins/buttons';
@import "styles/var/colors";

.heating-cost-question {
  .question-content {
    display: flex;

    .questionnaire-form {
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid $separator-grey;
    }

    .do-not-know-button {
      @include capsule-button();
      font-size: 20px;
      background-color: white;
      color: $dark-grey;
      border: none;
      outline: none;
      padding: 12px 36px;

      &:hover, &:focus {
        background-color: $lighter-medium-grey;
      }
    }
  }
}

