@import 'styles/mixins/buttons';
@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/font";
@import "styles/mixins/layout";

.heating-cost-question {
  .question-content {
    display: flex;

    .do-not-know-button {
      @include capsule-button();
      @include question-button-font;
      background-color: white;
      border: none;
      outline: none;
      padding: 12px 36px;

      &:hover, &:focus {
        background-color: $lighter-medium-grey;
      }
    }
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .heating-cost-question {
    .question-content > * {
      @include is-grid-item($number-of-items: 2, $margin: 20px);
    }

    .questionnaire-form {
      padding-right: 30px;
      border-right: 1px solid $separator-grey;
    }
  }
}

