.options {
  display: flex;
  align-items: flex-start;

  .option {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 32px;
    margin: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
      background-color: #7777DD;
    }
  }
}
