<div class="admin-page">
    <div class="page-row heading-section">
        <div class="page-row-content">
            <div class="heading">Admin Page</div>
            <div class="help-text">Enter the user's reference below to be taken into their session</div>
        </div>
    </div>
    <div class="page-row">
        <div class="page-row-content">
            <form (submit)="handleFormSubmit()" #adminForm="ngForm">
                <label for="sessionReference">Reference:</label>
                <input id="sessionReference" type="text" name="sessionReference" [(ngModel)]="sessionReference" required>
                <button type="submit" [disabled]="!adminForm.form.valid">Go</button>
            </form>
            <app-spinner-and-error-container [loading]="loading" [error]="error" [errorMessage]="errorMessage"></app-spinner-and-error-container>
        </div>
    </div>
</div>