.income-question.question-component {
  // TODO:BEISDEAS-127 Remove when deprecated fully
  ::ng-deep .number-question-component .text-input {
    border-radius: 16%/50%;

    .text-box {
      min-width: 126px;
    }
  }
}