<div class="question-component">
    <div class="multiple-choice-options home-type-options">
        <div class="baseline"></div>
        <div class="multiple-choice-option" *ngFor="let option of homeTypeOptions">
            <div class="icon-container">
                <button [ngClass]="option.className" [class.selected]="response === option.value" (click)="response = option.value; notifyOfCompletion()"></button>
            </div>
            <span class="name">{{option.name}}</span>
        </div>
    </div>
</div>