@import '~styles/var/colours';

//noinspection CssUnknownTarget
.home-type-options {

  .baseline {
    position: absolute;
    width: 100%;
    top: 144px;
    box-sizing: border-box;
    border-bottom: 1px solid $grey;
  }

  .multiple-choice-option {

    .icon-container {
      height: 150px;

      .detached-house::before {
        content: url('/assets/images/home-types/detached-house.svg');
      }

      .semi-detached-house::before {
        content: url('/assets/images/home-types/semi-detached-house.svg');
      }

      .end-terrace-house::before {
        content: url('/assets/images/home-types/end-terrace-house.svg');
      }

      .mid-terrace-house::before {
        content: url('/assets/images/home-types/mid-terrace-house.svg');
      }

      .ground-floor-flat::before {
        content: url('/assets/images/home-types/ground-floor-flat.svg');
      }

      .mid-floor-flat::before {
        content: url('/assets/images/home-types/mid-floor-flat.svg');
      }

      .top-floor-flat::before {
        content: url('/assets/images/home-types/top-floor-flat.svg');
      }

      .bungalow-attached::before {
        content: url('/assets/images/home-types/bungalow-attached.svg');
      }

      .bungalow-detached::before {
        content: url('/assets/images/home-types/bungalow-detached.svg');
      }

      .park-home::before {
        content: url('/assets/images/home-types/park-home.svg');
      }
    }

    .name {
      max-width: 100px;
    }
  }
}