.multiple-choice-options .multiple-choice-option .icon-container {
  &.detached-house::after {
    content: url('../../../../assets/images/home-types/detached-house.svg');
    line-height: 0;
  }

  &.semi-detached-house::after {
    content: url('../../../../assets/images/home-types/semi-detached-house.svg');
    line-height: 0;
  }

  &.end-terrace-house::after {
    content: url('../../../../assets/images/home-types/end-terrace-house.svg');
    line-height: 0;
  }

  &.mid-terrace-house::after {
    content: url('../../../../assets/images/home-types/mid-terrace-house.svg');
    line-height: 0;
  }

  &.ground-floor-flat::after {
    content: url('../../../../assets/images/home-types/ground-floor-flat.svg');
    line-height: 0;
  }

  &.mid-floor-flat::after {
    content: url('../../../../assets/images/home-types/mid-floor-flat.svg');
    line-height: 0;
  }

  &.top-floor-flat::after {
    content: url('../../../../assets/images/home-types/top-floor-flat.svg');
    line-height: 0;
  }

  &.bungalow-attached::after {
    content: url('../../../../assets/images/home-types/bungalow-attached.svg');
    line-height: 0;
  }

  &.bungalow-detached::after {
    content: url('../../../../assets/images/home-types/bungalow-detached.svg');
    line-height: 0;
  }

  &.park-home::after {
    content: url('../../../../assets/images/home-types/park-home.svg');
    line-height: 0;
  }
}