.construction-question.question-component {
  .questionnaire-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .insulation-type-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .question {
        font-size: 22px;
        width: 300px;
        margin-right: 64px;
      }

      .dropdown-input {
        flex-grow: 1;
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}