<div class="construction-question question-component">
    <form class="questionnaire-form" (submit)="complete.emit()">
        <div class="insulation-type-row">
            <span class="question">What type of roof insulation?</span>
            <select name="roof-type" class="dropdown-input text-input" aria-labelledby="question-heading" [(ngModel)]="roofType">
                <option *ngFor="let roofType of roofTypes" [ngValue]="roofType.value">{{roofType.name}}</option>
            </select>
        </div>
        <div class="insulation-type-row">
            <span class="question">What type of wall insulation?</span>
            <select name="wall-type" class="dropdown-input text-input" aria-labelledby="question-heading" [(ngModel)]="wallType">
                <option *ngFor="let wallType of wallTypes" [ngValue]="wallType.value">{{wallType.name}}</option>
            </select>
        </div>
        <div class="insulation-type-row">
            <span class="question">What sort of glazing?</span>
            <select name="glazing-type" class="dropdown-input text-input" aria-labelledby="question-heading" [(ngModel)]="glazingType">
                <option *ngFor="let glazingType of glazingTypes" [ngValue]="glazingType.value">{{glazingType.name}}</option>
            </select>
        </div>
    </form>
</div>