<div class="construction-question question-component">
    <form class="questionnaire-form" (submit)="complete.emit()">
        <div class="insulation-type-input">
            <label id="roof-type-label" class="question">What type of roof insulation?</label>
            <select name="roof-type" class="dropdown-input text-input roof-type" aria-labelledby="roof-type-label" [(ngModel)]="roofType">
                <option *ngFor="let roofType of roofTypes" [ngValue]="roofType.value">{{roofType.name}}</option>
            </select>
        </div>
        <div class="insulation-type-input">
            <label id="wall-type-label" class="question">What type of wall insulation?</label>
            <select name="wall-type" class="dropdown-input text-input wall-type" aria-labelledby="wall-type-label" [(ngModel)]="wallType">
                <option *ngFor="let wallType of wallTypes" [ngValue]="wallType.value">{{wallType.name}}</option>
            </select>
        </div>
        <div class="insulation-type-input">
            <label id="glazing-type-label" class="question">What sort of glazing?</label>
            <select name="glazing-type" class="dropdown-input text-input glazing-type" aria-labelledby="glazing-type-label" [(ngModel)]="glazingType">
                <option *ngFor="let glazingType of glazingTypes" [ngValue]="glazingType.value">{{glazingType.name}}</option>
            </select>
        </div>
    </form>
</div>