<div class="construction-question question-component">
    <form class="answer-grid questionnaire-form" (submit)="complete.emit()">
        <div class="insulation-type-input">
            <label id="roof-type-label" for="roof-type-select" class="question">What type of roof insulation?</label>
            <select id="roof-type-select" name="roof-type" class="dropdown-input text-input roof-type"
                    aria-labelledby="roof-type-label" [(ngModel)]="roofType">
                <option *ngFor="let type of roofTypes" [ngValue]="type.value">{{type.name}}</option>
            </select>
        </div>
        <div class="insulation-type-input">
            <label id="wall-type-label" for="wall-type-select" class="question">What type of wall insulation?</label>
            <select id="wall-type-select" name="wall-type" class="dropdown-input text-input wall-type"
                    aria-labelledby="wall-type-label" [(ngModel)]="wallType">
                <option *ngFor="let type of wallTypes" [ngValue]="type.value">{{type.name}}</option>
            </select>
        </div>
        <div class="insulation-type-input">
            <label id="floor-type-label" for="floor-type-select" class="question">What sort of floor insulation?</label>
            <select id="floor-type-select" name="floor-type" class="dropdown-input text-input floor-type"
                    aria-labelledby="floor-type-label" [(ngModel)]="floorType">
                <option *ngFor="let type of floorTypes" [ngValue]="type.value">{{type.name}}</option>
            </select>
        </div>
    </form>
</div>
