@import "styles/var/colors";
@import "styles/mixins/font";

$grant-cards-per-row: 4;
$grant-card-margin: 10px;

.your-plan-page {

  .your-plan-header {

    .page-row-content {
      padding: 20px 0;
      display: flex;

      & > * {
        border-right: 1px solid $light-grey;
      }

      .heading-container {
        padding: 20px 20px 20px 0;
        display: flex;
        flex-direction: column;
        flex: 1 0 1px;

        .heading {
          @include page-heading-small-font;
          color: $headline-dark-blue;
          margin-bottom: 10px;
        }

        .subheading {
          @include page-subheadline-small;
        }
      }
    }
  }

  .recommendations {
    background-color: $lighter-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;
      padding: 20px 0;

      & > :not(:last-child) {
        border-bottom: 1px solid $light-grey;
      }

      .recommendation-steps-card {
        display: flex;
        flex-direction: column;
        padding: 40px 0;

        .headline {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 10px;
        }

        .description {
          @include page-subheadline-small;
          margin-bottom: 20px;
        }
      }
    }
  }

  .local-authority-grants.page-row {
    padding: 48px 0;

    .page-row-content {
      display: flex;
      flex-direction: column;
    }

    .subheading {
      @include page-subheading-font;
    }

    .local-authority {
      @include page-subheadline-small;
      margin-bottom: 4px;
    }

    .grant-cards {
      margin-top: 32px;
      flex-wrap: wrap;
      display: flex;

      align-items: stretch;
      justify-content: space-between;

      .grant-card {
        flex-basis: calc((100% - #{$grant-cards-per-row - 1} * #{$grant-card-margin} - 1px) / #{$grant-cards-per-row});
        margin-bottom: $grant-card-margin;
        &:not(:nth-child(#{$grant-cards-per-row}n)) {
          margin-right: $grant-card-margin;
        }
      }
    }
  }
}