<!--
This is the Angular template for the Plan page.

There is a server-side version of this page, at energySavingPlan/plan.html
which is used to render a plan to PDF.

If you change anything here, please consider whether anything needs changing there.

-->
<app-spinner-and-error-container [error]="isError" [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="your-plan-page" *ngIf="!isError">
    <div class="your-plan-content">
        <div class="your-plan-header page-row">
            <div class="page-row-content">
                <div class="heading-container">
                    <h1 class="heading">Your plan</h1>

                    <p class="subheading" *ngIf="numberOfRecommendations === 1">
                        You have added 1 recommendation to your plan. You'll find all the steps and things you need to
                        consider to implement this measure.
                    </p>
                    <p class="subheading" *ngIf="numberOfRecommendations > 1">
                        You have added {{numberOfRecommendations}} recommendations to your plan. You'll find all the
                        steps and things you need to consider to implement those measures.
                    </p>
                    <app-your-plan-summary></app-your-plan-summary>
                </div>
            </div>
        </div>
        <div class="ghg-context page-row" *ngIf="shouldShowGhgContext">
            <div class="page-row-content">
                <h2>Fund improvements with the Green Homes Grant</h2>
                <p>
                    You have added {{numberOfPrimaryRecommendations}} primary measure{{numberOfPrimaryRecommendations === 1 ? '' : 's'}}
                    and {{numberOfSecondaryRecommendations}} secondary measure{{numberOfSecondaryRecommendations === 1 ? '' : 's'}}
                    to your plan. Under the Green Homes Grant, you may be eligible for funding {{ghgDiscountProportion}}
                    of the total cost, up to £{{ghgMaximumAmount}}.
                </p>
                <h3 class="subheading">What are the next steps?</h3>
                <p>
                    Download your plan and contact installers to get quotes for the improvements that you have selected.
                    You should get at least 3 quotes to make sure you are getting the best value for money.
                </p>
                <p>Keep a record of these quotes, as you will need to submit them as part of the application process.</p>
            </div>
        </div>
        <div class="recommendations user-recommendations page-row">
            <div class="page-row-content">
                <div class="recommendation-steps-card-container" *ngFor="let recommendation of userRecommendations">
                    <app-recommendation-with-steps-card
                            [recommendation]="recommendation"
                            [shouldShowGhgContext]="shouldShowGhgContext"
                    >
                    </app-recommendation-with-steps-card>
                </div>
            </div>
        </div>
        <div class="local-authority-grants page-row" *ngIf="localAuthorityGrants && localAuthorityGrants.length > 0">
            <div class="page-row-content">
                <div class="subheading">Local Authority grants</div>
                <div class="local-authority">As part of your energy efficiency measures you might be eligible for local
                    grants. You live in {{localAuthorityName}} so we've found the following:
                </div>
                <div class="grant-cards">
                    <app-local-grant-card class="grant-card"
                                    *ngFor="let grant of localAuthorityGrants"
                                    [grant]="grant"
                                    theme="grey">
                    </app-local-grant-card>
                </div>
            </div>
        </div>
        <div class="recommendations page-row" *ngIf="landlordRecommendations.length">
            <div class="page-row-content">
                <div class="recommendations-header">
                    <div class="recommendations-title">
                        Recommendations for your landlord
                    </div>
                    <div class="download-button-container">
                        <app-download-pdf-button [forLandlord]="true"></app-download-pdf-button>
                    </div>
                </div>
                <div class="recommendation-steps-card-container" *ngFor="let recommendation of landlordRecommendations">
                    <app-recommendation-with-steps-card [recommendation]="recommendation"></app-recommendation-with-steps-card>
                </div>
            </div>
        </div>
        <div class="ghg-context page-row" *ngIf="shouldShowGhgContext">
            <div class="ghg-next-steps page-row-content">
                <h2>Next steps in applying for the Green Homes Grant</h2>
                <p>
                    Download your plan and contact installers to get quotes for the improvements that you have selected.
                    You should get at least 3 quotes to make sure you are getting the best value for money.
                </p>
                <p>Keep a record of these quotes, as you will need to submit them as part of the application process.</p>
                <p>Vouchers will start to be issued from the end of September. Further details on how to apply will be
                announced by the Government in the coming weeks.</p>
            </div>
        </div>
    </div>
    <div class="sticky-row-container">
        <app-sticky-row-wrapper>
            <app-download-plan *ngIf="userRecommendations.length"></app-download-plan>
        </app-sticky-row-wrapper>
    </div>
</div>
