<!--
This is the Angular template for the Plan page.

There is a server-side version of this page, at energySavingPlan/plan.html
which is used to render a plan to PDF.

If you change anything here, please consider whether anything needs changing there.

-->
<app-spinner-and-error-container [error]="isError" [errorMessage]="errorMessage"></app-spinner-and-error-container>
<div class="your-plan-page" *ngIf="!isError">
    <div class="your-plan-content">
        <div class="your-plan-header page-row">
            <div class="page-row-content">
                <div class="heading-container">
                    <h1 class="heading">Your plan</h1>

                    <div class="subheading" *ngIf="recommendations.length === 1">
                        You have added 1 recommendation to your plan. You'll find all the steps and things you need to
                        consider to implement this measure.
                    </div>
                    <div class="subheading" *ngIf="recommendations.length > 1">
                        You have added {{recommendations.length}} recommendations to your plan. You'll find all the
                        steps and things you need to consider to implement those measures.
                    </div>
                    <app-your-plan-summary></app-your-plan-summary>
                </div>
            </div>
        </div>
        <div class="recommendations page-row">
            <div class="page-row-content">
                <div class="recommendation-steps-card" *ngFor="let recommendation of userRecommendations">
                    <div class="details">
                        <div class="description">
                            <div class="headline">{{recommendation.headline}}</div>
                            <div class="summary">{{recommendation.summary}}</div>
                        </div>
                        <app-data-card class="investment-required-card"
                                       heading="Investment required"
                                       [value]="'£' + getRoundedInvestment(recommendation)"
                                       [isSmallCard]="true"
                                       [withSmallFontSize]="true"
                        ></app-data-card>
                        <app-data-card class="monthly-savings-card"
                                       heading="Savings per {{showMonthlySavings ? 'month' : 'year'}} up to"
                                       [value]="getSavingDisplay(recommendation)"
                                       [isSmallCard]="true"
                                       [withSmallFontSize]="true"
                        ></app-data-card>
                    </div>
                    <div class="steps">
                        <app-recommendation-step-card
                                *ngFor="let step of recommendation.steps; let i = index"
                                [step]="step"
                                [stepIndex]="i"
                                (onAnalyticsEvent)="sendEventToAnalytics($event, recommendation.recommendationID)"
                        ></app-recommendation-step-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="local-authority-grants page-row" *ngIf="localAuthorityGrants && localAuthorityGrants.length > 0">
            <div class="page-row-content">
                <div class="subheading">Local Authority grants</div>
                <div class="local-authority">As part of your energy efficiency measures you might be eligible for local
                    grants. You live in {{localAuthorityName}} so we've found the following:
                </div>
                <div class="grant-cards">
                    <app-local-grant-card class="grant-card"
                                    *ngFor="let grant of localAuthorityGrants"
                                    [grant]="grant"
                                    theme="grey">
                    </app-local-grant-card>
                </div>
            </div>
        </div>
        <div class="recommendations page-row">
            <div class="page-row-content">
                <div class="recommendations-header">
                    <div class="recommendations-title">
                        Recommendations for your landlord
                    </div>
                    <div class="download-button-container">
                        <app-download-pdf-button [downloadEndpoint]="downloadLandlordPlanEndpoint"
                                                 [analyticsEventName]="'download-landlord-plan_clicked'"></app-download-pdf-button>
                    </div>
                </div>
                <div class="recommendation-steps-card" *ngFor="let recommendation of landlordRecommendations">
                    <div class="details">
                        <div class="description">
                            <div class="headline">{{recommendation.headline}}</div>
                            <div class="summary">{{recommendation.summary}}</div>
                        </div>
                        <app-data-card class="investment-required-card"
                                       heading="Investment required"
                                       [value]="'£' + getRoundedInvestment(recommendation)"
                                       [isSmallCard]="true"
                                       [withSmallFontSize]="true"
                        ></app-data-card>
                        <app-data-card class="monthly-savings-card"
                                       heading="Savings per {{showMonthlySavings ? 'month' : 'year'}} up to"
                                       [value]="getSavingDisplay(recommendation)"
                                       [isSmallCard]="true"
                                       [withSmallFontSize]="true"
                        ></app-data-card>
                    </div>
                    <div class="steps">
                        <app-recommendation-step-card
                                *ngFor="let step of recommendation.steps; let i = index"
                                [step]="step"
                                [stepIndex]="i"
                                (onAnalyticsEvent)="sendEventToAnalytics($event, recommendation.recommendationID)"
                        ></app-recommendation-step-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-row-container">
        <app-sticky-row-wrapper>
            <app-download-plan></app-download-plan>
        </app-sticky-row-wrapper>
    </div>
</div>