@import "styles/var/colors";
@import "styles/mixins/font";
@import "styles/mixins/layout";

// Component specific variables
$grant-cards-per-row: 4;
$grant-card-margin: 10px;
$desktop-heading-vertical-padding: 20px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
* {
  box-sizing: border-box;
}

.your-plan-page {
  .your-plan-header {
    .heading-container {
      display: flex;

      .heading {
        @include page-heading-small-font;
        color: $dark-blue;
        padding-bottom: 10px;
      }

      .subheading {
        @include page-subheadline-small-font;
      }
    }
  }

  .recommendations {
    background-color: $lighter-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .recommendation-steps-card {
        display: flex;
        flex-direction: column;

        .headline {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 10px;
        }

        .description {
          @include page-subheadline-small-font;
          margin-bottom: 20px;
        }
      }
    }
  }
  .print-mode {
    .headline {
      margin-left: 20px;
    }
    .description {
      margin-left: 20px;
    }
  }

  .local-authority-grants.page-row {
    .page-row-content {
      display: flex;
      flex-direction: column;
    }

    .subheading {
      @include page-subheading-font;
    }

    .local-authority {
      @include page-subheadline-small-font;
    }
  }

  @media print {
    app-sticky-row-wrapper {
      display: none;
    }
  }
}

// Breakpoint specific styling
.your-plan-page {
  @include mobile() {
    .your-plan-header {
      .page-row-content {
        margin: 0;
      }

      .heading-container {
        flex-wrap: wrap;

        .heading {
          flex: 0 0 100%;
          padding: 25px 20px 16px;
          background-color: $light-blue;
          color: $dark-blue;
        }

        .subheading {
          flex: 0 0 100%;
          padding: 0 20px 33px;
          background-color: $lighter-grey;
        }

        app-your-plan-summary {
          flex: 0 0 100%;
          padding: 20px;
        }
      }
    }

    .recommendations {
      .page-row-content {
        padding: 34px 0 0;

        .recommendation-steps-card {
          padding-bottom: 40px;
        }
      }
    }

    .local-authority-grants.page-row {
      padding: 48px 0;

      .subheading {
        margin-bottom: 14px;
      }

      .local-authority {
        margin-bottom: 30px;
      }

      .grant-cards {
        @include is-grid($margin-compensation: 10px);

        .grant-card {
          @include is-grid-item($number-of-items: 1, $margin: 10px);
        }
      }
    }
  }

  @include tablet() {
    .your-plan-header {
      .page-row-content {
        margin: 0;
      }

      .heading-container {
        flex-wrap: wrap;

        .heading {
          flex: 0 0 100%;
          order: 1;
          padding: 34px;
          background-color: $light-blue;
          color: $dark-blue;
        }

        .subheading {
          flex: 0 0 100%;
          order: 3;
          padding: 30px 34px;
          background-color: $lighter-grey;
          color: $dark-grey;
        }

        app-your-plan-summary {
          flex: 0 0 100%;
          order: 2;
          padding: 20px 34px;
        }
      }
    }

    .recommendations {
      .page-row-content {
        padding: 34px 0 0;

        .recommendation-steps-card {
          padding-bottom: 40px;

          &:not(:last-child) {
            border-bottom: 1px solid $light-grey;
            margin-bottom: 40px;
          }
        }
      }
    }

    .local-authority-grants.page-row {
      padding: 40px 0;

      .subheading {
        margin-bottom: 10px;
      }

      .local-authority {
        margin-bottom: 20px;
      }

      .grant-cards {
        @include is-grid($margin-compensation: 20px);

        .grant-card {
          @include is-grid-item($number-of-items: 2, $margin: 20px);
        }
      }
    }
  }

  @include desktop() {
    .your-plan-header {
      .heading-container {
        padding: $desktop-heading-vertical-padding 0;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        min-height: 150px;

        & > * {
          border-right: 1px solid $light-grey;
        }

        .heading, .subheading {
          flex: 1 0 auto;
          width: 45%;
        }

        app-your-plan-summary {
          // At desktop, we want this section on the right. Given the HTML restrictions (caused by other breakpoints),
          // we can't achieve this using flex. By keeping the absolute positioning confined to the heading-container
          // with the widths of the contents set as %, we should avoid any unexpected side effects
          position: absolute;
          right: 0;
          top: $desktop-heading-vertical-padding;
          width: 55%;
        }
      }
    }

    .recommendations {
      .page-row-content {
        padding: 65px 0 0;

        .recommendation-steps-card {
          padding-bottom: 40px;

          &:not(:last-child) {
            border-bottom: 1px solid $light-grey;
            margin-bottom: 40px;
          }
        }
      }
    }

    .local-authority-grants.page-row {
      padding: 48px 0;

      .subheading {
        margin-bottom: 8px;
      }

      .local-authority {
        margin-bottom: 35px;
      }

      .grant-cards {
        @include is-grid($margin-compensation: 20px);

        .grant-card {
          @include is-grid-item($number-of-items: 2, $margin: 20px);
        }
      }
    }
  }
}