@import "styles/var/colors";
@import "styles/mixins/font";
@import "../energy-efficiency-page-sizes";
@import "styles/mixins/breakpoints";

:host {
  display: flex;

  & > :not(:first-child) {
    border-left: 1px solid $light-grey;
  }

  .loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-spinner-small {
      margin: 0;
    }
  }

  @include mobile() {
    &.is-footer {
      .savings {
        height: 30px;
      }

      & :nth-child(3) {
        border-left: 1px solid $light-grey;
        padding: 0 0 0 10px;
        margin-left: 10px;
      }
    }

    .loading-spinner-container, app-data-card {
      flex: 1;
    }

    .no-mobile {
      display: none;
    }
  }

  @include tablet() {
    &.is-footer {
      &:nth-child(2) {
        border-left: none;
      }
    }

    .loading-spinner-container, app-data-card {
      flex: 1;
    }

    .no-tablet {
      display: none;
    }
  }

  @include desktop() {
    .loading-spinner-container, app-data-card {
      flex: 0 0 $data-card-width;

      &:first-child {
        flex: 0 0 0.75 * $data-card-width;
      }
    }

    .no-desktop {
      display: none;
    }
  }
}
