<app-data-card class="no-tablet"
        heading="Your potential score is"
        [value]="potentialScore"
        [colorCircleClassName]="currentScoreColorCircleClassName"></app-data-card>
<app-data-card class="no-mobile"
        heading="Total investment required"
        [value]="getRoundedTotalInvestmentRequired() > 0 ? '£' + getRoundedTotalInvestmentRequired() : '-'"
        [isSmallCard]="true">
</app-data-card>
<app-data-card class="savings"
        heading="Total savings per {{showMonthlySavings ? 'month' : 'year'}}"
        [value]="roundedTotalSavings > 0 ? '£' + roundedTotalSavings : '-'"
        [isVerticalAtMobile]="true"
        [isSmallCard]="true">
</app-data-card>
