@import "../../_energy-efficiency-page-sizes";
@import "../recommendation-tags/_recommendation-tags.scss";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/var/colors";

// Component specific variables
$icon-column-width: $add-to-plan-column-width;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.energy-efficiency-recommendation-card {
  display: flex;

  margin: 16px 0;

  .main-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 100%;

    & > * {
      background-color: white;
    }

    .recommendation-icon {
      display: flex;
      justify-content: center;

      .icon {
        width: 36px;
        height: 36px;
        line-height: 0;
        padding-top: 40px;
      }
    }

    .recommendation-basic-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > :not(:first-child) {
        margin-top: 14px;
      }

      .heading {
        @include card-heading-font;
      }

      .summary-row {
        display: flex;
        width: 100%;

        .summary {
          @include page-subheadline-small-font;
          margin-right: 20px;
          flex: 1;
        }
      }

      .tag {
        cursor: pointer;
      }

    }

    .more-detail-button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;

      .more-detail-icon {
        width: 50px;
        height: 50px;
      }
    }

    .expanded-view-row {
      display: none;
      flex-wrap: wrap;
      border-top: 2px solid $light-grey;
      border-bottom: 2px solid $light-grey;

      &.expanded {
        display: flex;
      }

      .grants {
        display: flex;
        flex-direction: column;

        .grant-info-card {
          background-color: $light-grey;
          padding: 10px;

          .grant-name {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .grant-description {
            margin-bottom: 10px;
            font-family: $font-family-light;
          }

          .grant-more-info-link-row {
            display: flex;

            .grant-more-info-link {
              outline: none;
              background: none;
              border: none;
              cursor: pointer;
              padding: 0;
              font-family: $font-family-light;

              &:focus, &:hover {
                text-decoration: underline;
              }
            }

            .chevron {
              margin-left: 4px;
            }
          }
        }
      }

      .grants, .benefits, .what-it-is, .right-for-me {
        .heading {
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 10px;
          color: $dark-blue;
        }
      }

      .benefits {
        .benefits-list {
          padding: 0 20px;
          font-family: $font-family-light;
        }
      }

      .grants, .what-it-is, .right-for-me {
        .description {
          font-family: $font-family-light;
          margin-bottom: 16px;
        }
      }

      .action-button-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0 0;
        flex-basis: calc(2 * #{$data-card-width} + #{$add-to-plan-column-width});
        max-width: calc(2 * #{$data-card-width} + #{$add-to-plan-column-width});

        .action-button {
          @include arrow-button(200px, 60px);
          text-transform: uppercase;
        }
      }
    }

    .add-to-plan-column {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      color: $dark-medium-blue;
      background-color: $light-blue;
      border: none;

      &.selected {
        background-color: $dark-medium-blue;
        border-left-color: $dark-medium-blue;

        .add-to-plan-text {
          color: white;
        }

        &:hover, &:focus {
          background-color: $red;
          border-left-color: $red;
          content: attr(hover-text);
        }
      }

      .add-to-plan-text {
        color: $dark-medium-blue;
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        max-width: 100%;
      }

      &:hover, &:focus, &:active {
        .add-to-plan-text {
          text-decoration: underline;
        }
      }

      .add-to-plan-icon {
        outline: none;
        background: none;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;

        &.add {
          stroke: $dark-medium-blue;
        }

        &.remove, &.added {
          stroke: white;
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}

// Breakpoint specific styling
.energy-efficiency-recommendation-card {
  @include mobile() {
    flex-wrap: wrap;

    .main-row {
      .recommendation-icon {
        flex: 0 0 $icon-column-width;
        max-width: $icon-column-width;
        order: 2;
      }

      .recommendation-basic-details {
        flex: 1 1;
        order: 1;
        padding: 20px 0 20px 20px;
      }

      .expanded-view-row {
        flex: 0 0 100%;
        max-width: 100%;
        order: 4;
        border: none;
        flex-wrap: wrap;
        padding: 20px;

        .grants, app-break-even, .benefits, .what-it-is, .right-for-me {
          flex: 0 0 100%;
        }

        .what-it-is, .right-for-me, .grants {
          padding-top: 20px;
          border-top: 2px solid $light-grey;
        }

        .grants {
          padding-bottom: 20px;
        }
      }

      .investment-required-card {
        flex: 0 0 100%;
        max-width: 100%;
        order: 5;
        border-top: 5px solid $light-grey;
        padding: 20px;

        ::ng-deep .data-card {
          align-items: center;

          .value-container {
            text-align: right;
          }
        }
      }

      .monthly-savings-card {
        flex: 0 0 100%;
        max-width: 100%;
        order: 6;
        border-top: 2px solid $light-grey;
        padding: 20px;
      }

      .add-to-plan-column {
        flex: 0 0 100%;
        max-width: 100%;
        order: 7;
        border-top: 5px solid $light-grey;
        padding: 20px;

        .add-to-plan-text {
          margin-right: 44px;
        }
      }

      .more-detail-button {
        flex: 0 0 100%;
        max-width: 100%;
        border-top: 2px solid #f5f5f5;
        order: 3;

        &.expanded {
          border-bottom: 5px solid $light-grey;
        }
      }
    }
  }

  @include tablet() {
    .main-row {
      .recommendation-icon {
        flex: 0 0 $icon-column-width;
        order: 1;
      }

      .recommendation-basic-details {
        flex: 1 1;
        order: 2;
        padding: 20px 80px 20px 4px;
      }

      .expanded-view-row {
        flex: 0 0;
        flex-basis: calc(100% - #{$add-to-plan-column-width});
        max-width: calc(100% - #{$add-to-plan-column-width});
        order: 5;
        flex-wrap: wrap;
        padding: 20px;

        .grants, app-break-even, .benefits, .what-it-is, .right-for-me {
          flex: 0 0 100%;
        }

        .grants {
          padding-right: 20px;
        }
      }

      .investment-required-card {
        flex: 0 0;
        flex-basis: calc((100% - #{$add-to-plan-column-width}) / 2);
        max-width: calc((100% - #{$add-to-plan-column-width}) / 2);
        order: 6;
        padding: 20px 0;
        border-right: 1px solid $light-grey;

        &:nth-last-child(2) {
          flex: 1 0;
          flex-basis: calc((100% - #{$add-to-plan-column-width}) / 2);
          max-width: calc((100% - #{$add-to-plan-column-width}));
        }
      }

      .monthly-savings-card {
        flex: 0 0;
        flex-basis: calc((100% - #{$add-to-plan-column-width}) / 2);
        max-width: calc((100% - #{$add-to-plan-column-width}) / 2);
        order: 7;
        padding: 20px 0;
      }

      .add-to-plan-column {
        flex: 0 0 $add-to-plan-column-width;
        order: 3;
        border-left: 2px solid $lighter-grey;
        flex-direction: column;
        justify-content: center;

        .add-to-plan-text {
          margin-bottom: 20px;
        }

        .add-to-plan-icon {
          margin-bottom: 10px;
        }
      }

      .more-detail-button {
        flex: 0 0;
        flex-basis: calc(100% - #{$add-to-plan-column-width});
        max-width: calc(100% - #{$add-to-plan-column-width});
        border-top: 2px solid #f5f5f5;
        order: 4;

        &:not(.expanded) {
          border-bottom: 2px solid #f5f5f5;
        }
      }
    }
  }

  @include desktop() {
    .main-row {
      .recommendation-icon {
        flex: 0 0 $icon-column-width;
        order: 1;
      }

      .recommendation-basic-details {
        flex: 1;
        order: 2;
        padding: 40px 60px 40px 4px;
      }

      .expanded-view-row {
        flex: 0 0;
        flex-basis: calc(100% - #{$add-to-plan-column-width});
        max-width: calc(100% - #{$add-to-plan-column-width});
        order: 7;
        padding: 20px 0;

        & > :first-child {
          padding-left: $icon-column-width;
        }

        & > :not(:last-child) {
          padding-right: 36px;
        }

        .benefits, app-break-even {
          flex: 0 0 50%;
          max-width: 50%;
        }

        .grants, .what-it-is, .right-for-me {
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: $icon-column-width;
        }
      }

      .investment-required-card {
        flex: 0 0 $data-card-width;
        order: 4;
        text-align: center;
      }

      .monthly-savings-card {
        flex: 0 0 $data-card-width;
        order: 5;
      }

      .add-to-plan-column {
        flex: 0 0 $add-to-plan-column-width;
        order: 6;
        flex-direction: column;
        justify-content: center;

        .add-to-plan-text {
          margin-bottom: 20px;
        }

        .add-to-plan-icon {
          margin-bottom: 10px;
        }
      }

      .more-detail-button {
        flex: 0 0 0.75 * $data-card-width;
        border-left: 2px solid #f5f5f5;
        order: 3;

        .more-detail-icon {
          margin-top: 20px;
        }
      }

      .investment-required-card, .monthly-savings-card, .add-to-plan-column {
        border-left: 2px solid $lighter-grey;
      }
    }
  }
}