@import "../../_energy-efficiency-page-sizes";
@import "../recommendation-tags/_recommendation-tags.scss";
@import "styles/mixins/_font";
@import "styles/mixins/_buttons";
@import "styles/var/colors";

$icon-column-width: $add-to-plan-column-width;

.energy-efficiency-recommendation-card {
  background-color: white;
  display: flex;
  flex-direction: column;

  margin: 16px 0;

  .main-row {
    display: flex;

    .recommendation-icon {
      flex: 0 0 $icon-column-width;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 36px;
        height: 36px;
        line-height: 0;
      }
    }

    .recommendation-basic-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 4px;

      & > :not(:first-child) {
        margin-top: 14px;
      }

      .heading {
        @include card-heading;
      }

      .summary-row {
        display: flex;
        width: 100%;

        .summary {
          @include page-subheadline-small;
          margin-right: 20px;
          flex: 1;
        }
      }

      .more-detail-row {
        width: 100%;
        border-top: 1px solid $light-grey;
        padding: 10px 0;
        display: flex;
        cursor: pointer;
        align-items: center;

        .more-detail-button {
          background: none;
          outline: none;
          border: none;
          text-transform: uppercase;
          padding: 0;
          @include card-expand-drawer;
          cursor: inherit;

          &:focus, &:hover {
            text-decoration: underline;
          }
        }

        .more-detail-icon {
          margin-left: 6px;
          width: 14px;
          height: 8px;
          display: block;
          line-height: 0;
          fill: $action-button-blue;

          &.expanded {
            transform: rotate(180deg);
          }
        }
      }
    }

    .investment-required-card, .monthly-savings-card, .add-to-plan-column {
      border-left: 2px solid $lighter-grey;
    }

    .investment-required-card, .monthly-savings-card {
      margin-top: 22px;
    }

    .add-to-plan-column {
      flex: 0 0;
      flex-basis: $add-to-plan-column-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      color: $focus-text-blue;

      &.selected {
        background-color: $action-button-blue;
        border-left-color: $action-button-blue;

        .add-to-plan-text {
          color: white;
        }

        &:hover, &:focus {
          background-color: $red;
          border-left-color: $red;
          content: attr(hover-text);
        }
      }

      .add-to-plan-text {
        margin-top: 44px;
        color: $focus-text-blue;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;

        &:focus {
          text-decoration: underline;
        }
      }

      .add-to-plan-icon {
        outline: none;
        background: none;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;

        &.add {
          stroke: $action-button-blue;
        }

        &.remove, &.added{
          stroke: white;
        }
      }
    }
  }

  .expanded-view-row {
    display: none;
    border-top: 2px solid $light-grey;
    padding: 20px 0;

    &.expanded {
      display: flex;
    }

    & > :first-child {
      margin-left: $icon-column-width;
    }

    & > :not(:last-child) {
      margin-right: 40px;
    }

    .grants {
      display: flex;
      flex-direction: column;
      flex: 0 0 $data-card-width;

      .grant-info-card {
        background-color: $light-grey;
        padding: 10px;

        .grant-name {
          font-weight: bold;
          margin-bottom: 10px;
        }

        .grant-description {
          margin-bottom: 10px;
          font-family: $font-family-light;
        }

        .grant-more-info-link-row {
          display: flex;

          .grant-more-info-link {
            outline: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            font-family: $font-family-light;

            &:focus, &:hover {
              text-decoration: underline;
            }
          }

          .chevron {
            margin-left: 4px;
          }
        }
      }
    }

    .grants, .benefits {
      .heading {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 10px;
        color: $focus-text-blue;
      }
    }

    .benefits {
      flex: 1;

      .benefits-list {
        padding: 0 20px;
        font-family: $font-family-light;
      }
    }

    .action-button-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0;
      flex-basis: calc(2 * #{$data-card-width} + #{$add-to-plan-column-width});

      .action-button {
        @include arrow-button(200px, 60px);
        text-transform: uppercase;
      }
    }
  }
}