@import "styles/var/colors";
@import "styles/boiler";

:host {
  display: block;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .carousel-items {
      position: relative;
      width: 100%;
      display: flex;
      align-items: stretch;
      transition: left 500ms;
    }
  }

  .mask {
    overflow-x: hidden;
    flex: 1 1 auto;
  }

  .dots {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $lighter-medium-grey;

      &.active {
        background-color: $dark-medium-grey;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

}

.carousel {
  @include mobile() {
    $item-margin: 10px;

    .content {
      padding: 20px;
      background-color: $lighter-grey;
    }

    .carousel-items {

      .carousel-item {
        flex: 0 0 auto;
        flex-basis: calc((100% - 2 * #{$item-margin}) / 1);
        margin-right: $item-margin;
      }

      @for $i from 0 through 100 {
        &[data-first-item="#{$i}"] {
          left: calc(-#{$i} * (100% + #{$item-margin}) / 1);
        }
      }
    }

    .arrow {
      border: none;
      background-color: $lighter-grey;
      cursor: pointer;
      outline: none;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        width: 32px;
      }

      &.left {
        margin-right: 16px;
      }

      &.right {
        margin-left: 16px;
      }
    }

  }
  @include tablet() {
  }

  @include desktop() {
    $item-margin: 16px;

    .carousel-items {

      .carousel-item {
        flex: 0 0 auto;
        flex-basis: calc((100% - 2 * #{$item-margin}) / 3);
        margin-right: $item-margin;
      }

      @for $i from 0 through 100 {
        &[data-first-item="#{$i}"] {
          left: calc(-#{$i} * (100% + #{$item-margin}) / 3);
        }
      }
    }

    .arrow {
      border: none;
      background: none;
      cursor: pointer;
      outline: none;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        width: 32px;
      }

      &.left {
        margin-right: 16px;
      }

      &.right {
        margin-left: 16px;
      }
    }
  }
}