<html>
<head>
    <!--/*
    This is the Thymleaf template for the Plan PDF.

    It closely follows angular/src/app/energy-efficiency/your-plan-page/your-plan-page.component.html

    In dev, you can open this file in a browser to make CSS tweaks
    */-->
    <link rel="stylesheet" type="text/css" media="all"  href="style.css" />
</head>
<body>

<div class="your-plan-page">
    <div class="your-plan-content">
        <div class="your-plan-header page-row">
            <div class="page-row-content">
                <div class="heading-container">
                    <h1 class="heading">Your plan</h1>
                    <div class="subheading" th:if="${recommendations.size() == 1}">
                        You have added 1 recommendation to your plan. You'll find all the steps and things you need to
                        consider to implement this measure.
                    </div>
                    <div class="subheading" th:if="${recommendations.size() > 1}" th:inline="text">
                        You have added [[${recommendations.size()}]] recommendations to your plan. You'll find all the
                        steps and things you need to consider to implement those measures.
                    </div>
                    <app-data-card
                            th:if="!potentialScoreLoading"
                            class.no-tablet="isFooter"
                            heading="Your potential score is"
                            value="potentialScore"
                            isVerticalAtMobile="!isFooter"
                            colorCircleClassName="currentScoreColorCircleClassName"
                            isPercent="true">
                    </app-data-card>
                    <app-data-card
                            class="no-mobile"
                            heading="Total investment required"
                            value="getRoundedTotalInvestmentRequired() > 0 ? '£' + getRoundedTotalInvestmentRequired() : '-'"
                            isVerticalAtMobile="!isFooter"
                            isSmallCard="isFooter">
                    </app-data-card>
                    <app-data-card
                            class="savings"
                            heading="Total savings per [[${showMonthlySavings ? 'month' : 'year'}]]"
                            value="roundedTotalSavings > 0 ? '£' + roundedTotalSavings : '-'"
                            isVerticalAtMobile="true"
                            isSmallCard="isFooter">
                    </app-data-card>

                </div>
            </div>
        </div>
        <div class="recommendations page-row">
            <div class="page-row-content">
                <div class="recommendation-steps-card" th:each="recommendation : ${recommendations}">
                    <div class="details">
                        <div class="description">
                            <div class="headline" th:text="${recommendation.headline}"></div>
                            <div class="summary" th:text="${recommendation.summary}"></div>
                        </div>
                        <app-data-card class="investment-required-card"
                                       heading="Investment required"
                                       value="'£' + getRoundedInvestment(recommendation)"
                                       isSmallCard="true"
                        ></app-data-card>
                        <app-data-card class="monthly-savings-card"
                                       heading="Savings per [[${showMonthlySavings ? 'month' : 'year'}]] up to"
                                       value="'£' + getRoundedSavings(recommendation)"
                                       isSmallCard="true"
                        ></app-data-card>
                    </div>
                    <div class="steps">
                        <app-recommendation-step-card
                                th:each="step,iterStatat : ${recommendation.steps}"
                                step="step"
                                th:attr="stepIndex=#{iterStat.index}"
                        ></app-recommendation-step-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="local-authority-grants page-row" th:if="${localAuthorityGrants?.size() > 0}">
            <div class="page-row-content">
                <div class="subheading">Local Authority grants</div>
                <div class="local-authority" th:inline="text">As part of your energy efficiency measures you might be eligible for local
                    grants. You live in [[${localAuthorityName}]] so we've found the following:
                </div>
                <div class="grant-cards">
                    <app-local-grant-card class="grant-card"
                                          th:each="grant : ${localAuthorityGrants}"
                                          grant="grant"
                                          theme="grey">
                    </app-local-grant-card>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
