<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*
    This is the Thymeleaf template for the Plan PDF.

    It closely follows angular/src/app/energy-efficiency/your-plan-page/your-plan-page.component.html
    If you change anything here, please consider whether anything needs changing there.

    In dev, you can open this file in a browser to make CSS tweaks.

    As this is a Thymeleaf template, I have put placeholder text in to enable preview
    and edit as an XHTML doc.
    See https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#using-texts
    */-->
    <title>Your plan</title>
    <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
</head>
<body>

<div class="your-plan-page">
    <div class="your-plan-content">
        <div class="your-plan-header page-row">
            <div class="page-row-content">
                <div class="heading-container">
                    <h1 class="heading">
                        <img src="ehc-small.png"/>
                        <span class="title" th:text="${title}">
                            Your plan
                        </span>
                    </h1>
                    <div class="subheading" th:text="${subheading}">
                        You have added 1 recommendation to your plan. You'll find all the steps and things you need to
                        consider to implement this measure.
                    </div>
                    <div class="data-card">
                        <div class="heading">Total investment required</div>
                        <div class="value"
                             th:text="${roundedTotalInvestmentRequired}">
                            £210
                        </div>
                    </div>
                    <div class="data-card">
                        <div class="heading">Total savings per
                            <span th:text="${showMonthlySavings ? 'month' : 'year'}">year</span>
                        </div>
                        <div class="value" th:text="${totalSavingsDisplay}">
                            £210
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ghg-context page-row" th:if="${isGhgEligible}">
            <h3>Green Homes Grant</h3>
            To continue, print your plan. Contact installers and get quotes for your selected measures.
            Keep a record of these quotes - you will need them for the voucher application process.
        </div>

        <div class="recommendations page-row">
            <div class="page-row-content">
                <div class="recommendation-steps-card" th:each="recommendation : ${recommendations}">
                    <div class="details">
                        <div class="description">
                            <h2 class="headline" th:text="${recommendation.headline}">
                                Solid wall insulation
                            </h2>
                            <div class="summary" th:text="${recommendation.summary}">
                                Insulation can be added to the inside or
                                outside surface of your walls to help keep
                                your home warm and cut your heating bills.
                            </div>
                        </div>
                        <div class="data-card">
                            <div class="heading">Investment required</div>
                            <div class="value" th:text="${recommendation.roundedInvestment}">
                                £9000
                            </div>
                        </div>
                        <div class="data-card">
                            <div class="heading">
                                Savings per
                                <span th:text="${showMonthlySavings ? 'month' : 'year'}">year</span>
                                up to
                            </div>
                            <div class="value" th:text="${recommendation.getRoundedSavings(showMonthlySavings)}">
                                £120
                            </div>
                        </div>
                        <div class="installers" th:if="${isGhgEligible and !ghgInstallers.get(recommendation.getRecommendationID()).isEmpty()}">
                            <div class="heading">
                                Nearby installers
                            </div>
                            <ul>
                                <li th:each="installer : ${ghgInstallers.get(recommendation.getRecommendationID())}"
                                    th:text="${installer.getRegisteredName() + ' - ' + installer.getPhoneNumber()}">
                                    Solar Panels Ltd - 020 7925 0918
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="steps">
                        <div class="recommendation-step-card" th:each="step,iterStat : ${recommendation.steps}">
                            <h3>
                                <div class="bullet"></div>
                                <span class="step-number">
                                    Step
                                    <span th:text='${T(String).format("%02d", iterStat.index + 1)}'>1</span>
                                </span>
                                <span class="step-headline" th:text="${step.headline}">
                                    What it is
                                </span>
                            </h3>
                            <div class="step-details-drawer">
                                <div class="step-info">
                                    <div class="step-description" th:text="${step.description}">
                                        Insulation can be added to the
                                        inside or outside surface of
                                        your walls to help keep your home
                                        warm and cut your heating bills.
                                    </div>
                                    <!-- `utext` is used here as wordpress supplies <br /> tags for us -->
                                    <div class="read-more-content" th:utext="${step.readMore}">
                                        If your walls are not suitable for standard cavity wall insulation, then it may
                                        be possible to fit solid wall insulation instead.
                                        <br/>
                                        <br/>

                                        A layer of insulation material is fixed either to the inside surface of your
                                        walls (internal wall insulation) or to the outside (external wall insulation).
                                        The insulation layer is then covered with another layer to protect the
                                        insulation. This covering layer will also allow decorating if on the inside, or
                                        will keep the rain out if on the outside.
                                        <br/>
                                        <ul></ul>
                                    </div>
                                </div>
                                <div class="more-info-link" th:each="moreInfoLink : ${step.moreInfoLinks}">
                                    <a class="more-info-link"
                                       th:href="${moreInfoLink.url}"
                                       th:text="${moreInfoLink.buttonText}">
                                        Search for Installers
                                    </a>
                                    <!-- Also include the link URL in the text, as a blue bit of "clickable"
                                         text isn't much use in a printout -->
                                    <a class="more-info-link"
                                       th:href="${moreInfoLink.url}"
                                       th:text="${moreInfoLink.url}">
                                        http://example.com
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="local-authority-grants page-row" th:if="${localAuthorityGrants?.size() > 0}">
            <div class="page-row-content">
                <div class="details">
                    <h2 class="subheading">Local Authority grants</h2>
                    <div class="local-authority" th:inline="text">
                        As part of your energy efficiency measures you might be eligible for local
                        grants. You live in [[${localAuthorityName}]] so we've found the following:
                    </div>
                </div>
                <div class="grant-cards" th:each="grant : ${localAuthorityGrants}">
                    <div class="grant-card">
                        <div class="heading-container">
                            <h3 class="heading" th:text="${grant.name}">
                                Green Camden Helpline
                            </h3>
                            <div class="description" th:text="${grant.description}">
                                This helpline provides advice on fuel bills, fuel debt, tariff switching as well as tips
                                for
                                the home. Green Camden Helpline can also check availability for any grants and services
                                that
                                may be available.
                            </div>
                        </div>
                        <div class="extra-info-container"
                             th:if="${grant.eligibilityCriteria || grant.websiteUrl || grant.phoneNumber}">
                            <div class="eligibility-criteria" th:if="${grant.eligibilityCriteria}">
                                <span class="eligibility-text">Eligibility: </span>
                                <span th:text="${grant.eligibilityCriteria}">
                                    The helpline is available to all residents living in the London Borough of Camden.
                                </span>
                            </div>
                            <div class="find-out-more-container" th:if="${grant.websiteUrl || grant.phoneNumber}">
                                <a class="find-out-more-link"
                                   th:if="${grant.websiteUrl}"
                                   th:href="${grant.websiteUrl}"
                                   target="_blank">
                                    Find out more
                                </a>
                                <!-- Include the link URL in the text, as a blue bit of "clickable"
                                     text isn't much use in a printout -->
                                <a class="find-out-more-link"
                                   th:if="${grant.websiteUrl}"
                                   th:href="${grant.websiteUrl}"
                                   th:text="${grant.websiteUrl}">
                                    http://example.com
                                </a>
                                <ng-container th:if="${!grant.websiteUrl and grant.phoneNumber}">
                                    <div class="find-out-more-text">Find out more</div>
                                    <a class="phone-number"
                                       th:href="${'tel:' + getPhoneNumberForLink()}"
                                       th:text="${grant.phoneNumber}">
                                        0800 801 738
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
