/* https://stackoverflow.com/questions/17953829 */
@page {
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-family: Gotham, Arial, sans-serif;
    }
}

body {
    overflow-x: hidden;
    font-family: Gotham, Arial, sans-serif;
    line-height: 150%;
}

h1 {
    background-color: #BEE8F1;
    color: #1A485F;
    padding: 34px;
}

h1 img {
    height: 2em;
    vertical-align: middle;
}

.data-card {
    margin: 1em 0;
    position: relative;
    width: 100%;
}

.data-card .heading, .installers .heading {
    text-transform: uppercase;
    font-size: small;
    line-height: 200%;
}

.data-card .value {
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    left: 11em;
    width: 100%;
}

.data-card div {
    display: inline;
}

.recommendation-steps-card .details, .local-authority-grants .details {
    border-top: 5px solid #BEE8F1;
    padding-top: 1em;
    page-break-before: always;
}

.recommendation-step-card {
    margin-top: 4em;
}

.step-number {
    text-transform: uppercase;
    color: #006280;
    margin-right: 2em;
}

.more-info-link, .find-out-more-link, .all-installers-link {
    margin: 1em 0;
}

.eligibility-text {
    font-weight: bold;
}

.installers {
    width: 67%;
    font-size: small;
}

.quote-input {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    border: 2px solid #1A485F;
    padding: 0.25em 1em 1em;
    margin: 1em 0;
}

.quote-input label {
    text-transform: uppercase;
    font-size: small;
}

.quote-input input {
    width: 100%;
    font-size: x-large;
}

.ghg-context {
    border: 5px solid #407D56;
    padding: 0 1em 1em;
    margin-top: 4em;
}

.quote {
    width: 100%;
    position: relative;
    min-height: 7em;
}

.ghg-tag {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 28px;
    border-radius: 20px;
    padding: 0 20px;
    width: 40%;
}

.ghg-tag--primary {
    background-color: #7ED321;
}

.ghg-tag--secondary {
    background-color: #F5A623;
}

.ghg-tag--ineligible {
    background-color: #CA4F1A;
}
