<app-spinner-and-error-container [loading]="loading" [error]="false"></app-spinner-and-error-container>
<div class="boiler-epc-replace" *ngIf="!loading">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <h1 class="heading-text">Replacing your boiler</h1>
        </div>
    </div>
    <div class="page-row found-epc" *ngIf="recommendations !== undefined">
        <div class="page-row-content">
            <div class="heading">We've found your EPC!</div>
            <div class="body-text">This recommends that:</div>
            <div class="no-replace" *ngIf="!boilerNeedsReplacing()">
                <div class="summary">
                    <div class="icon icon-tick"></div>
                    <div class="replace-text">
                        Your boiler is reasonably new, probably running efficiently and saving you money
                    </div>
                </div>
                <app-router-link-button class="link-button"
                                        text="Read about setting your heating controls"
                                        path="/pages/how-to-set-your-heating-controls">
                </app-router-link-button>
            </div>
            <div class="replace" *ngIf="boilerNeedsReplacing()">
                <div class="summary">
                    <div class="icon icon-cross"></div>
                    <div class="replace-text">
                        Your boiler is relatively inefficient. You could potentially save money and energy by upgrading.
                    </div>
                </div>
                <app-router-link-button class="link-button"
                                        text="Answer a few more questions so we can suggest some boilers to suit you"
                                        path="/boiler/questionnaire">
                </app-router-link-button>
            </div>
        </div>
    </div>
    <div class="page-row sorry" *ngIf="recommendations === undefined">
        <div class="page-row-content">
            <div class="heading">Sorry, we couldn't find anything based on your EPC!</div>
            <div class="body">
                <app-boiler-make-model-lookup class="make-and-model"></app-boiler-make-model-lookup>
            </div>
        </div>
    </div>
    <div class="page-row" *ngIf="recommendations !== undefined && !boilerNeedsReplacing()">
        <div class="recommendations page-row-content">
            <app-boiler-measures-section bodyText="While your boiler is fine, perhaps there are other things you can do
                                                   to help save money on your energy bills"
                                         [measures]="measures"></app-boiler-measures-section>
        </div>
    </div>
    <div class="page-row" *ngIf="boilerNeedsReplacing()">
        <div class="page-row-content boiler-types">
            <div class="heading">Different types of boilers and heating systems</div>
            <div class="body-text">
                There are many different types of boilers and heating systems available. Browse through the options
                below to compare the specifications
            </div>
            <div class="boiler-replacement-cards">
                <app-boiler-replacement-card *ngFor="let boilerType of boilerTypes trackBy $index"
                                             class="replacement-card"
                                             [boilerType]="boilerType"></app-boiler-replacement-card>
            </div>
        </div>
    </div>
</div>