@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/boiler";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-heading {
  background: $light-blue;

  .heading-text {
    color: $dark-blue;
  }
}

.boiler-epc-replace {
  .found-epc {
    background-color: $lighter-grey;

    .heading {
      margin-bottom: 8px;
    }

    .body-text {
      margin-bottom: 32px;
    }

    .no-replace, .replace {
      .summary {
        .icon {
          flex: 0 0 76px;
          height: 76px;

          border-radius: 50%;

          &.icon-tick {
            background: white url('/assets/images/icons/tick-pink.svg') no-repeat center;
            background-size: 42px 42px;
          }

          &.icon-cross {
            background: white url('/assets/images/icons/cross-pink.svg') no-repeat center;
            background-size: 42px 42px;
          }
        }

        .replace-text {
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;
        }
      }
    }
  }

  .sorry {
    background-color: $lighter-grey;
    flex-grow: 1;

    .heading {
      margin-bottom: 8px;
    }
  }

  .boiler-types {
    .heading {
      margin-bottom: 8px;
    }

    .boiler-replacement-cards {
      margin-top: 48px;

      .replacement-card:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

// Breakpoint specific styling

@include mobile() {
  .boiler-epc-replace {
    .found-epc {
      .no-replace, .replace {
        display: flex;
        flex-direction: column;

        .summary {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .icon {
            width: 76px;
            margin-bottom: 20px;
          }

          .replace-text {
            padding-bottom: 20px;
          }
        }
      }
    }
    .sorry {
      .heading {
        width: 100%;
      }

      .make-and-model {
        display: flex;
      }
    }
  }
}

@include tablet() {
  .boiler-epc-replace {
    .found-epc {

      .no-replace, .replace {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .summary {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .icon {
            margin-right: 32px;
          }

          .replace-text {
            margin-right: 96px;
          }
        }

        .link-button {
          flex: 0 0 350px;
        }
      }
    }
  }
}

@include desktop() {

  .boiler-epc-replace {
    .found-epc {

      .no-replace, .replace {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .summary {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .replace-text {
            flex: 1 1 auto;
            margin-right: 96px;
          }

          .icon {
            margin-right: 32px;
          }
        }

        .link-button {
          flex: 0 0 350px;
        }
      }
    }
  }
}

