<app-spinner-and-error-container [loading]="loading" [error]="false"></app-spinner-and-error-container>
<div class="boiler-epc-replace" *ngIf="!loading">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <div class="heading-text">Replacing your boiler</div>
        </div>
    </div>
    <div class="page-row found-epc" *ngIf="recommendations !== undefined">
        <div class="page-row-content">
            <div class="heading">We've found your EPC!</div>
            <div class="body-text">This recommends that:</div>
            <div class="no-replace" *ngIf="!boilerNeedsReplacing()">
                <div class="summary">
                    <div class="icon icon-tick"></div>
                    <div class="large-body-text">
                        Your boiler is reasonably new, probably running efficiently and saving you money
                    </div>
                </div>
                <button class="link-button">See ways to keep your boiler running efficiently</button>
            </div>
            <div class="replace" *ngIf="boilerNeedsReplacing()">
                <div class="summary">
                    <div class="icon icon-cross"></div>
                    <div class="large-body-text">
                        Your boiler is getting old and needs replacing. A new boiler will be more energy efficient and
                        will save you money
                    </div>
                </div>
                <button class="link-button" routerLink="/js/boiler/questionnaire">Answer a few more questions so we can suggest some boilers to suit you</button>
            </div>
        </div>
    </div>
    <div class="page-row sorry" *ngIf="recommendations === undefined">
        <div class="page-row-content">
            <div class="heading">Sorry, we couldn't find anything based on your EPC!</div>
            <div class="body">
                <app-boiler-make-model-lookup class="make-and-model"></app-boiler-make-model-lookup>
                <div class="not-sure">
                    <div class="body-text">
                        If you are not sure or don't have access to your boiler we can ask a few questions in order to
                        give you some personalised recommendations
                    </div>
                    <button class="link-button" routerLink="/js/boiler/questionnaire">
                        Answer a few more questions so we could suggest the right boiler for you
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-row" *ngIf="recommendations !== undefined && !boilerNeedsReplacing()">
        <div class="recommendations page-row-content">
            <app-boiler-measures-section [measures]="measures"></app-boiler-measures-section>
        </div>
    </div>
    <div class="page-row" *ngIf="boilerNeedsReplacing()">
        <div class="page-row-content boiler-types">
            <div class="heading">Different types of boilers and heating systems</div>
            <div class="body-text">
                There are many different types of boilers and heating systems available. Browse through the options
                below to compare the specifications
            </div>
            <div class="boiler-replacement-cards">
                <app-boiler-replacement-card *ngFor="let boilerType of boilerTypes trackBy $index" [boilerType]="boilerType"></app-boiler-replacement-card>
            </div>
        </div>
    </div>
</div>