<a class="boiler-replacement-card" routerLink="/boiler/advice/{{boilerType.slug}}">
    <div class="main-row">
        <div class="details">
            <span class="icon icon-heating"></span>
            <div class="content">
                <div class="name">{{boilerType.name}}</div>
                <div class="description">{{boilerType.description}}</div>
            </div>
        </div>
        <div class="box installation">
            <div class="title">Average installation cost</div>
            <div class="value">£{{boilerType.averageInstallationCost.toFixed(0)}}</div>
        </div>
        <div class="box running-cost">
            <div class="title">Average running cost</div>
            <div class="value">£{{boilerType.runningCostPerYear.toFixed(0)}}</div>
        </div>
    </div>
    <div class="secondary-row">
        <div class="content">
            <div class="lifetime">
                <div class="title">Average lifetime</div>
                <div class="value">{{boilerType.lifetimeYears}} years</div>
            </div>
            <div class="space">
                <div class="title">Space requirement</div>
                <div class="value">{{boilerType.spaceRequirement}}</div>
            </div>
        </div>
    </div>
</a>