@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.boiler-replacement-card {
  display: flex;
  margin: 16px 0;
  text-decoration: none;

  .main-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    .icon {
      padding: 50px 20px;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > :not(:first-child) {
        margin-top: 14px;
      }

      .name {
        @include card-heading-font;
      }

      .description-row {
        display: flex;
        width: 100%;

        .description {
          @include page-subheadline-small-font;
          margin-right: 20px;
          flex: 1;
        }
      }
    }
  }

  // Breakpoint specific styling
  @include mobile() {
    flex-wrap: wrap;

    .main-row {

      .details {
        flex: 1 1 100%;
        order: 1;
        padding: 20px 0 20px 20px;
      }

      & > * {
        background-color: white;
      }

      .more-detail-row {
        width: 100%;
        padding: 10px 0;
        display: flex;
        cursor: pointer;
        align-items: center;

        .more-detail-button {
          background: none;
          outline: none;
          border: none;
          text-transform: uppercase;
          padding: 0;
          @include card-expand-drawer;
          cursor: inherit;

          &:focus, &:hover {
            text-decoration: underline;
          }
        }


        .more-detail-icon {
          margin-left: 6px;
          width: 14px;
          height: 8px;
          display: block;
          line-height: 0;
          fill: $action-button-blue;
        }

        &.expanded .more-detail-icon {
          transform: rotate(180deg);
        }
      }

      .expanded-view-row {
        display: none;
        border-top: 2px solid $light-grey;
        border-bottom: 2px solid $light-grey;

        &.expanded {
          display: flex;
        }

        .grants, .benefits {
          .heading {
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 10px;
            color: $focus-text-blue;
          }
        }

        .benefits {
          flex: 1;

          .benefits-list {
            padding: 0 20px;
            font-family: $font-family-light;
          }
        }

      }

    }

    * {
      box-sizing: border-box;
    }

    .expanded-view-row {
      flex: 0 0 100%;
      order: 3;
      border: none;
      flex-wrap: wrap;
      padding: 20px;

      //.grants, .benefits {
      //  flex: 0 0 100%;
      //}
      //
      //.grants {
      //  padding-bottom: 20px;
      //}
    }

    .installation-card {
      flex: 0 0 100%;
      order: 4;
      border-top: 5px solid $light-grey;
      padding: 20px;
    }

    .running-cost-card {
      flex: 0 0 100%;
      order: 5;
      border-top: 2px solid $light-grey;
      padding: 20px;
    }

    .add-to-plan-column {
      flex: 0 0 100%;
      order: 6;
      border-top: 5px solid $light-grey;
      padding: 20px;

      .add-to-plan-text {
        margin-right: 44px;
      }
    }

    .more-detail-row.expanded {
      border-bottom: 5px solid $light-grey;
    }
  }

}

@include tablet() {
  .main-row {

    .details {
      flex: 1 1 100%;
      order: 2;
      padding: 10px 80px 0 4px;
    }

    & > * {
      background-color: white;
    }

    .expanded-view-row {
      flex: 0 0;
      flex-basis: 100%;
      order: 4;
      flex-wrap: wrap;
      padding: 20px;

      //.grants {
      //  padding-right: 20px;
      //}
      //
      //.grants, .benefits {
      //  flex: 0 0 50%;
      //}
    }

    .installation-card {
      flex: 0 0;
      flex-basis: 100%;
      order: 5;
      padding-top: 20px;
      border-right: 1px solid $light-grey;
    }

    .running-cost-card {
      flex: 0 0;
      flex-basis: 100%;
      order: 6;
      padding: 20px 0;
    }

    .more-detail-row:not(.expanded) {
      border-bottom: 2px solid $light-grey;
    }

  }
}

@include desktop() {
  .main-row {
    .details {
      flex: 1;
      order: 2;
      padding: 50px 60px 10px 0px;
    }

    & > * {
      background-color: $lighter-grey;
    }

    .expanded-view-row {
      flex: 0 0;
      flex-basis: 100%;
      order: 6;
      padding: 20px 0;
      border-top: 2px white solid;

      & > :not(:last-child) {
        margin-right: 36px;
      }

      .content {
        padding-left: 80px;

        .lifetime {
          display: flex;
          flex-direction: row;
        }

        .space {
          display: flex;
          flex-direction: row;
        }

        .title {
          font-family: $font-family;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 10px;
          color: $focus-text-blue;

          min-width: 200px;
        }

        .value {
          font-family: $font-family-light;
          font-size: 12px;
          margin-bottom: 10px;
          margin-right: 400px;
        }
      }
    }

    .installation-card {
      flex: 0 0 200px;
      order: 3;
    }

    .running-cost-card {
      flex: 0 0 200px;
      order: 4;
    }

    .more-detail-row {
      display: none;
    }

    .installation-card, .running-cost-card {
      color: $dark-grey;
      height: 200px;
      border-left: 2px solid white;
    }
  }
}