<a class="boiler-replacement-card" routerLink="/boiler/advice/{{boilerType.slug}}">
    <div class="main-row">
        <span class="icon icon-heating"></span>
        <div class="details">
            <div class="name">{{boilerType.name}}</div>
            <div class="description-row">
                <div class="description">{{boilerType.description}}</div>
            </div>
            <div class="more-detail-row" [class.expanded]="isExpandedView" (click)="toggleExpandedView($event)">
                <button class="more-detail-button">
                    {{isExpandedView ? 'Hide detail' : 'See more detail'}}
                </button>
                <div class="more-detail-icon" [inlineSVG]="'controls/expand-arrow.svg'"></div>
            </div>
        </div>

        <div class="expanded-view-row" [class.expanded]="isExpandedView">
            <div class="content">
                <div class="lifetime" *ngIf="boilerType.lifetimeYears !== undefined">
                    <div class="title">Average lifetime</div>
                    <div class="value">{{boilerType.lifetimeYears}} years</div>
                </div>
                <div class="space">
                    <div class="title">Space requirement</div>
                    <div class="value">{{boilerType.spaceRequirement}}</div>
                </div>
            </div>
        </div>
        <app-data-card *ngIf="boilerType.averageInstallationCost !== undefined"
                       class="installation-card"
                       heading="Average installation cost"
                       [value]="'£' + boilerType.averageInstallationCost.toFixed(0)"
                       isSmallCard="true"
        ></app-data-card>
        <app-data-card *ngIf="boilerType.runningCostPerYear !== undefined"
                       class="running-cost-card"
                       heading="Average running cost"
                       [value]="'£' + boilerType.runningCostPerYear.toFixed(0)"
                       isSmallCard="true"
        ></app-data-card>
    </div>
</a>