@import 'styles/mixins/buttons';

.tenure-type-question {
  .tenure-type-options {
    margin-top: 64px;

    .tenure-type-option {
      @include big-rounded-button;

      width: 320px;
      height: 160px;

      &:not(:last-child) {
        margin-right: 64px;
      }
    }
  }
}