.tenure-type-question .tenure-type-options {
  display: flex;
  flex-direction: column;

  .tenure-type-option {
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
