@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/boiler";

.boiler-results-page {

  .found-options {
    background-color: $lighter-grey;

    .boiler-options {
      margin-top: 48px;

      .boiler-option:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
