@import "styles/mixins/layout";
@import "styles/mixins/buttons";
@import "styles/mixins/font";
@import "styles/var/colors";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.green-homes-grant-result-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .page-heading {
    padding: 48px 0;
    background-color: $light-blue;

    .page-row-content {
      display: flex;
      flex-wrap: wrap;

      .heading-text {
        @include page-heading-font;
        color: $dark-blue;
        flex: 2;
        padding-bottom: 20px;
      }
    }
  }

  .proceed-button {
    @include proceed-button();
    margin: 20px 0;
  }

  .more-information {
    flex-grow: 1;
    background-color: $lighter-grey;
    padding: 40px 0;

    .body-text {

      h2 {
        font-weight: bold;
        color: $dark-blue;
      }
    }

    .eco-info-link {
      @include quick-link-font;
    }
  }
}

// Breakpoint specific styling
@include desktop() {
  .green-homes-grant-result-page {
    .page-heading {
      .page-row-content {
        .heading-text {
          padding-right: 40px;
          padding-bottom: 0;
        }
      }
    }
  }
}
