@import 'styles/mixins/buttons';
@import 'styles/var/colors';

.floor-area-question {
  @include with-no-spin-buttons;

  .question-content {
    display: flex;

    .form-element {
      align-items: stretch;

      .name {
        margin-right: 10px;

        display: flex;
        align-items: center;

        color: $primary-blue;
        font-size: 24px;
        font-weight: bold;
      }

      .floor-area-input {
        margin-right: 20px;
        width: 200px;
        border-radius: 12%/50%;
      }
    }

    .floor-area-unit-input {
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid $separator-grey;

      display: flex;
      align-items: center;

      color: $primary-blue;
      font-size: 24px;
      font-weight: bold;

      .unit-option {
        &:nth-child(odd) {
          margin-right: 20px;
        }
      }
    }

    .do-not-know-button {
      @include capsule-button();
      font-size: 20px;
      background-color: white;
      border: none;
      outline: none;
      padding: 12px 36px;

      &:hover, &:focus {
        background-color: $lighter-medium-grey;
      }
    }
  }
}

