@import "styles/var/colors";
@import "styles/mixins/_font";

a:hover, a:visited, a:link, a:active, a:focus {
  color: white;
}

.nav-bar-suboptions {
  background-color: $dark-blue;

  .nav-bar-suboption {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.nav-bar-suboptions {
  @include mobile() {
    margin-left: 20px;
    position: relative;
    width: 100%;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    overflow: visible;
    display: block;
    align-items: center;

    .nav-bar-suboption {
      padding: 10px 0 0;
    }
  }

  @include tablet() {
    margin-left: 20px;
    position: relative;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    overflow: visible;
    height: auto;
    display: block;
    align-items: center;

    .nav-bar-suboption {
      padding: 10px 0 0;
    }
  }

  @include desktop() {
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    overflow: visible;
    height: auto;
    top: 51px;
  }
}
