@import "styles/var/colors";
@import "styles/mixins/_font";

.nav-bar-suboptions {
    position: absolute;
    background-color: $light-grey;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 12px;
    text-decoration: none;
    color: white;
    outline: none;
    cursor: pointer;
    overflow: visible;
    height: auto;
    top: 51px;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration:none;
}

.nav-bar-suboption {
    @include desktop() {
    }
}
