@import "styles/var/colors";
@import "styles/boiler";

.boiler-make-model-replace {

  .found-boiler {
    background-color: $lighter-grey;

    .heading {
      margin-bottom: 8px;
    }

    .body-text {
      margin-bottom: 32px;
    }

    .no-replace, .replace {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .summary {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .icon {
          flex: 0 0 76px;
          height: 76px;
          border-radius: 50%;
          margin-right: 32px;

          &.icon-tick {
            background: white url('/assets/images/icons/tick-pink.svg') no-repeat center;
          }

          &.icon-cross {
            background: white url('/assets/images/icons/cross-pink.svg') no-repeat center;
          }

          &.icon-tick, &.icon-cross {
            background-size: 42px 42px;
          }
        }

        .replace-text {
          flex: 1 1 auto;
          margin-right: 96px;

          font-size: 24px;
          line-height: 28px;
          font-weight: bold;
        }
      }

      .link-button {
        flex: 0 0 350px;
      }
    }
  }

  .boiler-types {
    .heading {
      margin-bottom: 8px;
    }

    .boiler-replacement-cards {
      margin-top: 48px;

      .replacement-card:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@include tablet() {
  .boiler-make-model-replace .found-boiler {
    .no-replace, .replace {
      .summary {
        margin: 0 64px 32px 0;
      }

      .link-button {
          max-width: 350px;
          align-self: flex-start;
      }
    }
  }
}

@include mobile-and-tablet() {
  .boiler-make-model-replace {
    .page-row:not(.page-heading) {
      padding: 40px 0;
    }

    .found-boiler {
      .no-replace, .replace {
        flex-direction: column;

        .link-button {
          flex: auto;
        }

        .summary .replace-text {
          margin-right: 0;
        }
      }
    }
  }
}

@include mobile() {
  .boiler-make-model-replace .found-boiler {
    .no-replace, .replace {
      .summary {
        .replace-text {
          margin-bottom: 32px;
        }

        .icon {
          flex: 0 0 50px;
          height: 50px;
          border-radius: 50%;
          align-self: flex-start;
          margin-right: 16px;

          &.icon-tick, &.icon-cross {
            background-size: 28px;
          }
        }
      }
    }
  }
}