@import "styles/var/colors";
@import "styles/boiler";

.boiler-make-model-replace {
  .found-boiler {
    background-color: $lighter-grey;

    .page-row-content {
      display: block;

      .heading {
        margin-bottom: 32px;
      }

      .body {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .boiler-details {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;

          flex: 0 0 auto;
          width: 50%;
          padding-right: 48px;
          box-sizing: border-box;
          border-right: 1px solid $light-medium-grey;

          .name {
            margin-bottom: 64px;

            .body-text {
              margin-bottom: 12px;
            }

            .boiler-name {
              font-size: 24px;
              font-weight: bold;
            }
          }

          .fuel-and-efficiency {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding-right: 10%;

            .fuel, .efficiency {
              width: 40%;

              .body-text {
                margin-bottom: 12px;
              }
            }

            .fuel {
              .fuel-type {
                font-size: 24px;
                font-weight: bold;
                text-transform: capitalize;
              }
            }

            .efficiency {
              .efficiency-figure {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .percentage {
                  flex: 0 0 auto;
                  font-size: 24px;
                  font-weight: bold;
                  margin-right: 16px;
                }

                .explanation {
                  flex: 1 1 auto;
                  font-size: 13px;
                }
              }
            }
          }
        }

        .recommendation {
          flex: 0 0 auto;
          width: 50%;
          padding-left: 48px;
          box-sizing: border-box;

          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;

          .body-text {
            margin-bottom: 12px;
          }

          .body {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .icon {
              flex: 0 0 80px;
              height: 80px;
              background-color: white;
              border-radius: 50%;
              margin-right: 80px;

              display: flex;
              align-items: center;
              justify-content: center;
            }

            .content {
              display: flex;
              flex-direction: column;

              .recommendation-text {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 32px;
              }
            }
          }
        }
      }
    }
  }

  .boiler-types {
    display: block;

    .boiler-replacement-cards {
      margin-top: 48px;
    }
  }
}