<app-spinner-and-error-container [loading]="loading" [error]="error"></app-spinner-and-error-container>
<div class="boiler-make-model-replace" *ngIf="!loading && !error">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <div class="heading-text">Replacing your boiler</div>
        </div>
    </div>
    <div class="page-row found-boiler">
        <div class="page-row-content">
            <div class="heading">Thanks. We've found your make and model</div>
            <div class="body-text">This recommends that:</div>
            <div class="no-replace" *ngIf="!boilerNeedsReplacing(); else replaceSection">
                <div class="summary">
                    <div class="icon icon-tick"></div>
                    <div class="replace-text">
                        Your boiler is reasonably new, probably running efficiently and saving you money
                    </div>
                </div>
                <app-boiler-link-button class="link-button" text="See ways to keep your boiler running efficiently"></app-boiler-link-button>
            </div>
            <ng-template #replaceSection>
                <div class="replace">
                    <div class="summary">
                        <div class="icon icon-cross"></div>
                        <div class="replace-text">
                            Your boiler is relatively inefficient. You could potentially save money and energy by upgrading.
                        </div>
                    </div>
                    <app-boiler-link-button class="link-button"
                                            text="Answer a few more questions so we can suggest some boilers to suit you"
                                            path="/js/boiler/questionnaire">
                    </app-boiler-link-button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="page-row" *ngIf="!boilerNeedsReplacing(); else boilerTypesSection">
        <div class="recommendations page-row-content">
            <app-boiler-measures-section bodyText="While your boiler is fine, perhaps there are other things you can do
                                                   to help save money on your energy bills"
                                         [measures]="measures"></app-boiler-measures-section>
        </div>
    </div>
    <ng-template #boilerTypesSection>
        <div class="page-row">
            <div class="page-row-content boiler-types">
                <div class="heading">Different types of boilers and heating systems</div>
                <div class="body-text">
                    There are many different types of boilers and heating systems available. Browse through the options
                    below to compare the specifications
                </div>
                <div class="boiler-replacement-cards">
                    <app-boiler-replacement-card *ngFor="let boilerType of boilerTypes trackBy $index"
                                                 class="replacement-card"
                                                 [boilerType]="boilerType"></app-boiler-replacement-card>
                </div>
            </div>
        </div>
    </ng-template>
</div>