<div class="recommendation-step-card" *ngIf="step">
    <button class="step-main-row" (click)="toggleIsExpanded()">
        <span class="bullet"></span>
        <span class="step-number">Step {{formattedStepNumber}}</span>
        <span class="step-headline" [title]="isExpanded ? 'Hide details' : 'See more detail'">{{step.headline}}</span>
        <span class="expand-step-icon" [class.expanded]="isExpanded"
                title="See more details" [inlineSVG]="'controls/expand-arrow.svg'"></span>
    </button>
    <div class="step-details-drawer" [class.expanded]="isExpanded">
        <div class="step-info">
            <p class="step-description">
                {{step.description}}
            </p>
            <ng-container *ngIf="step.readMore">
                <!-- innerHTML is used here as wordpress supplies <br /> tags for us -->
                <div class="read-more-content-container" [class.read-more-expanded]="isReadMoreExpanded">
                    <div class="read-more-content" innerHTML="<br />{{step.readMore}}"></div>
                </div>
                <button class="read-more-button" (click)="toggleIsReadMoreExpanded()">
                    <span class="read-more-button-text">{{isReadMoreExpanded ? "Read Less" : "Read More"}}</span>
                    <span class="read-more-button-icon" [class.expanded]="isReadMoreExpanded"
                        title="Read more" [inlineSVG]="'controls/expand-arrow.svg'"></span>
                </button>
            </ng-container>
        </div>
        <div class="more-info-links" *ngIf="step.moreInfoLinks">
            <ng-container *ngFor="let moreInfoLink of step.moreInfoLinks">
                <div class="more-info-link-container" [ngClass]="{'mcs-info': moreInfoLink.isMcsLink}">
                    <div class="mcs-logo-and-copy" *ngIf="moreInfoLink.isMcsLink" >
                        <div class="mcs-logo">
                            <img src="/dist/assets/images/logos/mcs-logo.png" title="MCS Logo" alt="MCS Logo">
                        </div>
                        <div class="mcs-copy">
                            <p>
                                MCS is a mark of quality which demonstrates adherence to recognised industry standards. 
                                We certify low-carbon products and installations used to produce electricity and heat from renewable sources.
                            </p>
                        </div>
                    </div>
                    <a class="more-info-link" *ngIf="moreInfoLink.linkProps.isRelativeURL" [routerLink]="moreInfoLink.linkProps.route">
                        <div class="more-info-description">{{moreInfoLink.buttonText}}</div>
                        <div class="more-info-icon-container">
                            <div class="more-info-icon" [inlineSVG]="'controls/main-arrow.svg'"></div>
                        </div>
                    </a>
                    <a class="more-info-link" *ngIf="!moreInfoLink.linkProps.isRelativeURL" target="_blank" [href]="moreInfoLink.linkProps.route" (click)="sendMcsEvent()">
                        <div class="more-info-description">{{moreInfoLink.buttonText}}</div>
                        <div class="more-info-icon-container">
                            <div class="more-info-icon" [inlineSVG]="'controls/new-window.svg'"></div>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>