@import "styles/var/colors";
@import "styles/mixins/font";

$more-info-link-buttons-per-row: 2;
$step-number-bullet-diameter: 22px;
$step-number-bullet-margin: 20px;

.recommendation-step-card {
  background-color: white;
  margin-bottom: 4px;

  .step-main-row, .step-details-drawer {
    padding: 20px 30px;
  }

  .step-main-row {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    cursor: pointer;

    .bullet {
      width: 22px;
      height: 22px;
      border: 1px solid $light-medium-grey;
      border-radius: 50%;
      margin-right: 20px;
    }

    .step-number {
      color: $focus-text-blue;
      text-transform: uppercase;
      margin-right: 20px;
    }

    .step-headline {
      @include card-heading;
      background: none;
      outline: none;
      border: none;
      cursor: inherit;
    }

    .expand-step-icon {
      margin-left: auto;
      fill: $action-button-blue;
      display: block;
      width: 14px;
      height: 8px;
      line-height: 0;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  .step-details-drawer {
    display: none;

    &.expanded {
      display: flex;
    }

    .step-description {
      border-right: 1px solid $lighter-medium-grey;
      padding-right: 40px;
      margin-left: $step-number-bullet-diameter + $step-number-bullet-margin;
      margin-right: 40px;
      width: 420px;
    }

    .more-info-links {
      display: flex;
      flex-wrap: wrap;
      width: 50%;

      .more-info-link {
        color: white;
        display: flex;
        flex: 0 0 260px;
        cursor: pointer;
        text-decoration: none;
        height: 80px;

        &:nth-last-child(-n + #{$more-info-link-buttons-per-row}) {
          margin-bottom: 10px;
        }

        &:not(:nth-child(#{$more-info-link-buttons-per-row}n + 1)) {
          margin-left: 10px;
        }

        .more-info-description, .more-info-icon-container {
          padding: 20px;
        }

        .more-info-description {
          background-color: $button-dark-blue;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 15px;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .more-info-icon-container {
          background-color: $action-button-blue;
          display: flex;
          align-items: center;
          justify-content: center;

          .more-info-icon {
            width: 15px;
            height: 23px;
            stroke: white;
            display: block;
            line-height: 0;
          }
        }
      }
    }
  }
}