<div class="question-component tumble-dry-question">
    <div class="answer-grid question-content">
        <form class="questionnaire-form" (submit)="handleFormSubmit()">
            <div class="text-input text-box-container" [ngClass]="{'text-box-focused': textBoxFocused}">
                <input class="text-box"
                       id="tumble-dry-input"
                       name="tumble-dry-input"
                       type="number"
                       aria-labelledby="question-heading"
                       [ngModel]="tumbleDryPercentageDisplay"
                       (ngModelChange)="updateResponseData($event)"
                       (focus)="textBoxFocused = true"
                       (blur)="textBoxFocused = false">
                <span class="percentage-sign">%</span>
            </div>
        </form>
        <button class="no-tumble-dryer-button" id="no-tumble-dryer-button" (click)="updateResponseData(0); complete.emit();">No tumble dryer</button>
    </div>
    <div class="error" *ngIf="isInvalid">
        <div class="error-message">Please enter a valid value between 0 and 100 (inclusive).</div>
    </div>
</div>