<div class="navigation-bar page-row" [ngClass]="{expanded: shouldExpandNav}">
    <div class="page-row-content">

        <div #aboutMenu class="about-menu menu-item" (click)="showAboutMenu = !showAboutMenu; registerSingleClickListener()">
                About this site
                <ng-container *ngIf="showAboutMenu">
                    <app-nav-bar-suboption [suboptions]="aboutSuboptions"></app-nav-bar-suboption>
                </ng-container>
        </div>

        <div #homeMenu class="home-menu menu-item" (click)="showHomeMenu = !showHomeMenu; registerSingleClickListener()">
                Your Home
                <ng-container *ngIf="showHomeMenu">
                    <app-nav-bar-suboption [suboptions]="homeSuboptions"></app-nav-bar-suboption>
                </ng-container>
        </div>

        <div #rightsMenu class="rights-menu menu-item" (click)="showRightsMenu = !showRightsMenu; registerSingleClickListener()">
                Rights and Responsibilities
                <ng-container *ngIf="showRightsMenu">
                    <app-nav-bar-suboption [suboptions]="rightsSuboptions"></app-nav-bar-suboption>
                </ng-container>
        </div>

            <a routerLink="/financial-assistance/" class="menu-item">
                <div class="finance-text">Financial Assistance</div>
            </a>

    </div>
    <div class="navigation-bar-mobile-overlay" (click)="hideMobileNav()"></div>
</div>
