@import "styles/var/colors";
@import "styles/mixins/_font";

.navigation-bar {
  background-color: $dark-grey;
  height: 44px;

  .page-row-content {

    display: flex;
    align-items: center;

    .menu-item {
      padding: 10px 15px;
      cursor: pointer;
      border: none;
      background: none;
      outline: none;
      color: white;
      text-decoration: none;

      &:focus {
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}