@import "styles/var/colors";
@import "styles/mixins/_font";

// Component specific variables

// Component specific mixins
@mixin is-expandable-nav-bar() {
  height: 0;
  display: none;

  &.expanded {
    display: block;

    .navigation-bar-mobile-overlay {
      display: block;
    }
  }

  .page-row-content {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: $dark-grey;
    margin: 0;
    padding: 10px 20px;

    .about-menu {
      color: white;
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    .home-menu {
      color: white;
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    .rights-menu {    /* TODO BEISDEAS-192 Combining these under menu-item (and therefore the element containing finance-text) causes */
      color: white;   /* the formatting to screw up - will work on a fix or will have to resort to defining another class in html */
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    .finance-text {
      color: white;
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    a:hover, a:visited, a:link, a:active
    {
      text-decoration:none;
    }

  }
}

// General styling (shouldn't contain many widths/sizes etc.)
.navigation-bar {
  background-color: $dark-grey;
  height: 44px;
  overflow: visible;

  .page-row-content {

    display: flex;
    align-items: center;

    .menu-item {
      @include navbar-item;
      border: none;
      background: none;
      outline: none;
      color: white;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 34px;
      }

    }
  }

  .navigation-bar-mobile-overlay {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $dark-grey;
    opacity: 0.2;
    z-index: 1;
    top: 70px;
    bottom: 0;
  }
}


// Breakpoint specific styling
.navigation-bar {
  @include mobile() {
    @include is-expandable-nav-bar();
  }

  @include tablet() {
    @include is-expandable-nav-bar();
  }

  @include desktop() {
    .page-row-content {
      height: 44px;
      overflow: visible;
      padding: 8px 30px 10px 30px;
      font-size: 14px;
      position: relative;
      bottom: 7px;
    }

    .finance-text {
      position: relative;
    }

    .menu-item {
      padding: 0 15px 0 5px;
      cursor: pointer;
    }

    a:hover, a:visited, a:link, a:active
    {
      text-decoration:none;
    }
  }
}