@import "styles/var/colors";
@import "styles/mixins/_font";

.navigation-bar {
  background-color: $dark-grey;
  height: 36px;

  .page-row-content {

    .menu-item {
      @include navbar-item;
      padding: 12px 0 15px 0;
      cursor: pointer;
      border: none;
      background: none;
      outline: none;
      color: white;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 34px;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }
}