<div class="page-heading page-row">
    <div class="page-row-content">
        <div class="heading-text">Boilers & Heating Systems</div>
        <div class="body-text">Troubleshooting your boiler or finding the best replacement</div>
    </div>
</div>
<div class="page-row quick-links">
    <div class="quick-links-content page-row-content">
        <a class="troubleshooting" (click)="onTroubleshootingClick()">
            <div class="troubleshooting-content">
                <div class="heading">Is your boiler having trouble?</div>
                <div class="body-text">Try these 5 fixes before calling an engineer</div>
                <div class="arrow-button">Troubleshooting tips</div>
                <span class="boiler-image"></span>
            </div>
        </a>
        <a class="replacing" (click)="onReplacingBoilerClick()">
            <div class="replacing-content">
                <div class="heading">Thinking about replacing your boiler?</div>
                <div class="body-text">Review all the different types or use our heating system
                    calculator to find the right option for your home.
                </div>
                <div class="arrow-button">Boiler options</div>
                <span class="boiler-image"></span>
            </div>
        </a>
    </div>
</div>
<div class="installer page-row">
    <div class=" page-row-content">
        <div class="heading">Find a trustworthy installer</div>
        <div class="body-text">Telling us your postcode and address lets us find information about energy
            efficiency at your property from previous surveys. It also means we can show you relevant information,
            such as grants that might be available in your area.
        </div>
        <app-postcode-lookup class="postcode-epc input-grey"
                             (addressSelected)="onAddressSelected($event)"></app-postcode-lookup>
    </div>
</div>
<div class="grants page-row">
    <div class="page-row-content">
        <div class="details">
            <div class="header">Grants & incentives</div>
            <div class="body">
                Find out if you are eligible to receive financial support from the government if you are
                struggling to replace your boiler. There are also incentives available if you are using a
                renewable energy source.
            </div>
        </div>
        <div class="links">
            <app-boiler-link-button routerLink="/boiler-grants/" class="link-button grants-button"
                                    text="Find out about boiler grants"></app-boiler-link-button>
            <app-boiler-link-button routerLink="/boiler/heat-incentive/" class="link-button incentives-button"
                                    text="Earn money via the renewable heat incentive"></app-boiler-link-button>
        </div>
    </div>
</div>