<div class="boiler-landing-page">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <div class="heading-text">Boilers & Heating Systems</div>
        </div>
    </div>
    <div class="page-row">
        <div class="page-row-content troubleshooting">
            <div class="heading">Troubleshooting tips</div>
            <div class="body-text">Try these 5 fixes before calling an engineer</div>
            <div class="tips">
                <app-carousel class="carousel"></app-carousel>
                <div class="still-not-working">
                    <div class="body-text">Still not working?</div>
                    <button class="link-button">Check out our list of certified repairers</button>
                    <button class="link-button">Find out about your landlord's obligations</button>
                </div>
            </div>
        </div>
    </div>
</div>