@import "styles/var/colors";
@import "styles/mixins/font";
@import "styles/boiler";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.boiler-landing-page {

  .troubleshooting {
    background-color: $lighter-grey;

    .heading {
      margin-bottom: 8px;
    }

    .tips {
      margin-top: 32px;

      display: flex;
      justify-content: space-between;
      align-items: stretch;

      .carousel {
        flex: 1 1 auto;
        padding-right: 24px;
        border-right: 1px solid $light-medium-grey;
      }

      .links {
        flex: 0 0 260px;
        padding-left: 60px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .still-not-working, .tenant {
          flex: 0 0 50%;

          display: flex;
          flex-direction: column;

          .body-large {
            margin-bottom: 20px;
          }
        }

        .still-not-working {
          justify-content: flex-start;
          border-bottom: 1px solid $light-medium-grey;
        }

        .tenant {
          justify-content: flex-end;
        }
      }
    }
  }

  .replacing {
    .large-heading {
      margin-bottom: 18px;
    }

    .boiler-options {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding-bottom: 32px;
      border-bottom: 1px solid $light-medium-grey;

      .body-text {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
      }

      .link-button {
        flex: 0 0 250px;
        margin-left: 64px;
      }
    }

    .replace-options {
      padding-top: 64px;

      .body {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .replace-column, .postcode-lookup-column {
          flex: 1 1 auto;
          flex-basis: calc(50% - 96px);

          .small-heading {
            margin-bottom: 17px;
          }

          .help-text {
            font-size: 18px;
            line-height: 22px;
            font-family: $font-family-light;
            width: 100%;
          }

          .link-button {
            width: 100%;
            height: 70px;
          }
        }

        .replace-column {
          padding-right: 96px;
          border-right: 1px solid $light-medium-grey;

          .link-button {
            height: 72px;
            display: flex;
            align-items: center;
          }

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .postcode-lookup-column {
          padding-left: 96px;
        }
      }
    }
  }

  .grants {
    background: $lighter-grey;

    .heading {
      margin-bottom: 27px;
    }

    .body {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .body-text {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        margin-right: 96px;
      }

      .links {
        flex: 0 0 524px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        > .link-button {
          flex: 0 0 260px;

          &:first-child {
            margin-right: 18px;
          }
        }
      }
    }
  }

  .find-installer {

    .heading {
      margin-bottom: 28px;
    }

    .installers {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .installer {
        flex: 1 0 1px;
        &:not(:last-child) {
          margin-right: 24px;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        .installer-section {
          font-size: 13px;
          line-height: 16px;
          font-family: $font-family-light;
          text-transform: uppercase;
        }

        .installer-link {
          width: 100%;
          min-height: 125px;
          margin-top: 12px;
          padding: 20px;
          box-sizing: border-box;

          background: $lighter-grey;

          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          font-size: 16px;
          line-height: 19px;
          font-weight: bold;
        }
      }
    }
  }
}

// Breakpoint specific styling
.boiler-landing-page {
  @include mobile() {
    .mobile-hidden > *:not(.mobile-expander) {
      display: none;
    }
  }

  @include tablet() {
  }

  @include desktop() {
  }
}