@import "styles/boiler";
@import "styles/page";

// Component specific variables
$boiler-image: "/assets/images/home-page/boiler-flame.svg";
$arrow-width: 20px;
$arrow-height: 48px;

// Component specific mixins
@mixin is-quick-link-image($url, $distance-from-right, $distance-from-top, $height, $width) {
  background: url($url) no-repeat;
  background-size: 100%;
  background-position: bottom;
  position: absolute;
  content: "";
  right: $distance-from-right;
  top: $distance-from-top;
  height: $height;
  width: $width;
}

@mixin is-boiler-link-image($distance-from-right, $distance-from-top, $height, $width) {
  @include is-quick-link-image($boiler-image, $distance-from-right, $distance-from-top, $height, $width);
}

// General styling (shouldn't contain many widths/sizes etc.)

.page-heading {
  background-color: $primary-blue;
  color: white;

  .heading-text {
    margin-bottom: 20px;
    color: white;
  }
}

.quick-links {
  background-color: $lighter-grey;

  .quick-links-content {
    display: flex;
  }

  .troubleshooting, .replacing {
    display: flex;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;

    .body-text {
      color: $headline-dark-blue;
      font-family: $font-family-light;
      min-height: 80px;
    }

    .arrow-button {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-top: auto;
      @include quick-link-font;
      height: $arrow-height;
      padding-left: 20px;

      background: white;
      color: $primary-blue;

      &:after {
        position: absolute;
        right: -$arrow-width;
        top: 0;
        content: " ";
        border: ($arrow-height / 2) solid transparent;
        border-right-width: 0;
        border-left: $arrow-width solid white;
      }
    }
  }
}

.installer {
  .page-row-content {
    box-sizing: border-box;
    text-align: center;

    .heading {
      margin-bottom: 20px;
    }
  }
}

.grants {
  background-color: $lighter-grey;

  .header {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .body {
    font-family: $font-family-light;
  }
}
// Breakpoint specific styling

@include mobile() {
  .page-heading {
    .heading-text {
      font-size: 40px;
      line-height: 40px;
    }
  }

  .quick-links {
    .quick-links-content {
      flex-direction: column;
    }

    .troubleshooting, .replacing {
      flex: 1 1 100%;

      .body-text {
      }

      .heading, .body-text {
        margin-bottom: 20px;
        padding-right: 196px;
      }

      .arrow-button {
        width: 60%;
      }
    }

    .troubleshooting {
      border-bottom: 4px white solid;
      box-sizing: border-box;

      margin: -80px -20px;
      padding: 20px 40px;

      .boiler-image:after {
        margin-right: 16px;
        @include is-boiler-link-image(8%, 0, 220px, 103px);
      }
    }

    .replacing {
      margin-top: 80px;
      padding-left: 20px;

      .heading {
        padding-top: 20px;
      }

      .boiler-image:after {
        @include is-boiler-link-image(8%, 0, 220px, 103px);
      }
    }
  }

  .installer {
    .page-row-content {
      padding: 0 25px;
    }
  }

  .grants {
    .page-row-content {
      display: flex;
      flex-direction: column;
    }

    .links {
      display: flex;
      flex-direction: column;
      padding: 30px 0;

      .grants-button {
        padding-bottom: 30px ;
      }
    }
  }
}

@include tablet() {
  .quick-links {
    .quick-links-content {
      flex-direction: column;
    }

    .troubleshooting, .replacing {
      flex: 1 1 100%;
      min-height: 300px;

      .heading, .body-text {
        margin-bottom: 40px;
        padding-right: 196px;
      }

      .body-text {
        min-height: 50px;
      }

      .arrow-button {
        width: 400px;
      }
    }

    .troubleshooting {
      border-bottom: 4px white solid;
      margin: -80px;
      padding: 80px;
      box-sizing: border-box;

      .boiler-image:after {
        margin-right: 64px;
        @include is-boiler-link-image(8%, 0, 266px, 103px);
      }
    }

    .replacing {
      margin-top: 80px;
      padding-top: 80px;

      .boiler-image:after {
        @include is-boiler-link-image(8%, 0, 266px, 103px);
      }
    }
  }

  .installer {
    .page-row-content {
      padding: 0 75px;
    }
  }

  .grants {
    .page-row-content {
      display: flex;
      flex-direction: column;
    }

    .links {
      display: flex;
      flex-direction: row;
      padding: 30px 0;

      .grants-button, .incentives-button {
        flex: 1 1 50%;
      }

      .grants-button {
        padding-right: 30px;
        border-right: 2px $light-medium-grey solid;
      }

      .incentives-button {
        padding-left: 30px;
      }
    }
  }
}

@include desktop() {
  .quick-links {
    .troubleshooting, .replacing {
      flex: 1 1 50%;
      min-height: 300px;
      margin: -80px 0;
      padding: 80px 0;

      .heading, .body-text {
        margin-bottom: 40px;
        padding-right: 196px;
      }

      .body-text {
        min-height: 80px;
      }

      .arrow-button {
        width: 50%;
      }
    }

    .troubleshooting {
      .boiler-image:after {
        @include is-boiler-link-image(8%, 0, 266px, 103px);
      }

      border-right: 2px white solid;

      &:focus, &:hover {
        .arrow-button {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }
    }

    .replacing {
      .boiler-image:after {
        @include is-boiler-link-image(8%, 0, 266px, 103px);
      }

      border-left: 2px white solid;
      padding-left: 40px;

      &:focus, &:hover {
        .arrow-button {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }
    }
  }

  .installer {
    .page-row-content {
      padding: 0 225px;
    }
  }

  .grants {
    .page-row-content {
      display: flex;
    }

    .details {
      flex: 1 1 50%;
      margin-right: 40px;
    }

    .links {
      flex: 1 1 50%;
      display: flex;
      flex-direction: row;

      .grants-button, .incentives-button {
        flex: 1 1 50%;
        padding: 15px;
      }
    }
  }
}
