@import "styles/boiler";
@import "styles/page";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)

.page-heading {
  background-color: $focus-blue;
  color: white;

  .heading-text {
    margin-bottom: 20px;
    color: white;
  }
}

.boiler-options {
  display: flex;
  background-color: $lighter-grey;


  .body-text {
    color: $headline-dark-blue;
    font-family: $font-family-light;
  }

  .body-option {
    padding: 80px 40px;
    min-height: 300px;
  }

  .troubleshooting {
    flex: 1 1 50%;
    border-right: 2px white solid;
  }

  .replacing {
    flex: 1 1 50%;
    border-left: 2px white solid;
  }
}

.grants {
  background-color: $lighter-grey;

  .header {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .body {
    font-family: $font-family-light;
  }

  .page-row-content {
    display: flex;
  }

  .details {
    flex: 1 1 50%;
    margin-right: 40px;
  }

  .links {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;

    .grants-button, .incentives-button {
      flex: 1 1 50%;
      padding: 15px;
    }
  }
}

// Breakpoint specific styling

@include mobile() {
}

@include tablet() {
}

@include desktop() {
}
