<div class="occupants-question question-component">
    <form class="questionnaire-form" (submit)="handleFormSubmit()">
        <div class="adults-under-64-input">
            <div class="name">Adults born after 5 August 1953</div>
            <app-number-question itemsName="adults under 64"
                                 [(quantity)]="adultsAgedUnder64"
                                 [minQuantity]="1"
                                 [maxQuantity]="20"></app-number-question>
        </div>
        <div class="adults-64-to-80-input">
            <div class="name">Adults born between 25 September 1937 and 5 August 1953</div>
            <app-number-question itemsName="adults aged 64 to 80"
                                 [(quantity)]="adultsAged64To80"
                                 [minQuantity]="1"
                                 [maxQuantity]="20"></app-number-question>
        </div>
        <div class="adults-over-80-input">
            <div class="name">Adults born on or before 24 September 1937</div>
            <app-number-question itemsName="adults aged over 80"
                                 [(quantity)]="adultsAgedOver80"
                                 [minQuantity]="1"
                                 [maxQuantity]="20"></app-number-question>
        </div>
        <div class="children-input">
            <div class="name">Children</div>
            <app-number-question itemsName="children"
                                 [(quantity)]="children"
                                 [minQuantity]="0"
                                 [maxQuantity]="20"></app-number-question>
        </div>
    </form>
    <div class="occupants-icons">
        <span *ngFor="let i of adultsAgedUnder64 | times" class="icon-person-large" aria-label="person"></span>
        <span *ngFor="let i of adultsAged64To80 | times" class="icon-person-large" aria-label="person"></span>
        <span *ngFor="let i of adultsAgedOver80 | times" class="icon-person-large" aria-label="person"></span>
        <span *ngFor="let i of children | times" class="icon-person" aria-label="person"></span>
    </div>
</div>