@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import "styles/mixins/font";

.occupants-question {

  .questionnaire-form {
    flex-direction: column;

    .question-category-adults, .question-category-children {
      width: 100%;
      margin-top: 20px;

      .category-title {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: bold;
      }

      .answer-grid {
        margin: 0;
      }
    }
  }
  .questionnaire-form .occupants-input {
    .name {
      @include question-label-font;
      margin-bottom: 17px;
      text-align: center;
    }
  }
}

@include mobile() {
}
@include tablet() {
}
@include desktop() {
  .occupants-question {
    .question-category-adults .occupants-input {
      @include is-grid-item($number-of-items: 3, $margin: 20px);
    }

    .question-category-children .occupants-input {
      @include is-grid-item($number-of-items: 2, $margin: 20px);
    }

    .question-category-adults, .question-category-children {
      .answer-grid {
        justify-content: center;

        .occupants-input {
          margin: 0;
          padding: 0 36px;

          &:not(:first-child) {
            border-left: 1px solid $separator-grey;
          }
        }
      }
    }
  }
}