@import "../../energy-efficiency/energy-efficiency-page-sizes";
@import "styles/var/colors";
@import "styles/mixins/font";
@import "styles/mixins/layout";

// Component specific variables

// Component specific mixins
@mixin is-vertical-app-card($padding, $heading-height, $value-height) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  min-width: 1px;
  justify-content: center;

  .heading {
    align-self: stretch;
    text-align: center;
    min-height: $heading-height;
  }

  .value-container {
    height: $value-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  flex: 0 0 $data-card-width;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.data-card {
  .heading {
    @include data-card-heading-font();
  }

  .value {
    @include data-card-value-font();

    &.with-small-font-size {
      @include small-data-card-value-font();
    }
  }

  .color-circle {
    border-radius: 50%;
    width: 70px;
    color: white;

    &.is-percent {
      position:relative;

      .value {
        @include data-card-circle-value-font();
        padding-bottom: 17px;
      }

      &:after {
        content: "100";
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 23px;
        transform: translate(0, 100%);
        font-size: 14px;
        font-weight: normal;
        color: $dark-grey;
        border-top: 1px solid $dark-grey;
        line-height: initial;
        padding: 2px 8px 0;
      }
    }

    &.green {
      background-color: $green;
    }

    &.amber {
      background-color: $amber;
    }

    &.red {
      background-color: $red
    }
  }
}

// Breakpoint specific styling
.data-card {
  @include mobile() {
    &.vertical-mobile {
      @include is-vertical-app-card($padding: 0, $heading-height: 32px, $value-height: 70px);
      .heading {
        margin-bottom: 14px;
      }
    }

    &:not(.vertical-mobile) {
      @include has-children-side-by-side();
      width: 100%;

      .heading {
        flex: 0 0 40%;
      }

      .value-container.color-circle {
        width: 40px;
        height: 40px;
        text-align: center;

        .value {
          font-size: 20px;
          line-height: 40px;
          padding-bottom: 0;
        }

        &:after {
          content: none;
        }
      }
    }

    &.small-data-card {
      .heading, .value-container {
        height: auto;
        min-height: auto;
      }
    }
  }
  @include tablet() {
    @include is-vertical-app-card($padding: 0, $heading-height: 36px, $value-height: 70px);

    &.small-data-card {
      .heading, .value-container {
        height: auto;
        min-height: auto;
      }
    }
  }
  @include desktop() {
    @include is-vertical-app-card($padding: 10px, $heading-height: 20px, $value-height: 70px);
  }
}
