@import "../../energy-efficiency/energy-efficiency-page-sizes";
@import "styles/var/colors";
@import "styles/mixins/font";
@import "styles/mixins/layout";

// Component specific variables

// Component specific mixins
@mixin is-vertical-app-card($padding, $heading-height, $value-height) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  min-width: 1px;
  justify-content: center;

  .heading {
    align-self: stretch;
    text-align: center;
    min-height: $heading-height;
  }

  .number-value {
    height: $value-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
:host {
  flex: 0 0 $data-card-width;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.data-card {
  .heading {
    @include data-card-heading-font();
  }

  .number-value {
    @include data-card-value-font();
  }

  .color-circle {
    border-radius: 50%;
    width: 70px;
    color: white;

    &.green {
      background-color: $green;
    }

    &.amber {
      background-color: $amber;
    }

    &.red {
      background-color: $red
    }
  }
}


// Breakpoint specific styling
.data-card {
  @include mobile() {

    &.vertical-mobile {
      @include is-vertical-app-card($padding: 0, $heading-height: 32px, $value-height: 70px);
      .heading {
        margin-bottom: 14px;
      }
    }

    &:not(.vertical-mobile) {
      @include has-children-side-by-side();
      width: 100%;

      .heading {
        flex: 0 0 40%;
      }

      .number-value {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
      }
    }
  }
  @include tablet() {
    @include is-vertical-app-card($padding: 0px, $heading-height: 20px, $value-height: 70px);
  }
  @include desktop() {
    @include is-vertical-app-card($padding: 10px, $heading-height: 20px, $value-height: 70px);
  }
}
