@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";

.agricultural-tenancy-type-question .agricultural-tenancy-type-options {
  .agricultural-tenancy-type-option {
    flex-direction: column;

    .agricultural-tenancy-type-title {
      display: block;
    }

    .agricultural-tenancy-type-description {
      display: block;
      font-weight: normal;
      font-size: 14px;
      padding-top: 5px;
    }
  }
}
