<div class="question-component detailed-length-of-heating-on-question">
    <form class="answer-grid questionnaire-form" (submit)="handleFormSubmit()">
        <div class="heating-pattern-question">
            <select name="heating-pattern-dropdown" class="dropdown-input text-input heating-pattern-dropdown"
                    aria-labelledby="heating-pattern-dropdown" [(ngModel)]="heatingPatternType">
                <option *ngFor="let heatingPattern of heatingPatterns" [ngValue]="heatingPattern.value">{{heatingPattern.name}}</option>
            </select>
        </div>
        <div class="morning-evening-question" *ngIf="heatingPatternType === 3">

            <div class="sub-question-text">
                Can you pick the time of day you turn your heating on, and the number of hours you leave it on for
            </div>

            <select name="morning-heating-start-time" class="dropdown-input text-input morning-heating-start-time"
                    aria-labelledby="morning-heating-start-time" [(ngModel)]="morningHeatingStartTime" ng-init="morningHeatingStartTime = morningTimes[7].value">
                <option *ngFor="let morningTime of morningTimes" [ngValue]="morningTime.value">{{morningTime.name}}</option>
            </select>

            <app-number-question itemsName="hours of heating in the morning"
                                 [(quantity)]="morningHeatingDuration"
                                 [minQuantity]="1"
                                 [maxQuantity]="11"></app-number-question>

            <div class="sub-question-text-evening">
                    And the same for the afternoon or evening
            </div>

            <select name="evening-heating-start-time" class="dropdown-input text-input evening-heating-start-time"
                    aria-labelledby="evening-heating-start-time" [(ngModel)]="eveningHeatingStartTime">
                <option *ngFor="let eveningTime of eveningTimes" [ngValue]="eveningTime.value">{{eveningTime.name}}</option>
            </select>

            <app-number-question itemsName="hours of heating in the evening"
                                 [(quantity)]="eveningHeatingDuration"
                                 [minQuantity]="1"
                                 [maxQuantity]="11"></app-number-question>
        </div>

        <div class="heating-hours-question" *ngIf="heatingPatternType === 4">

            <div class="sub-question-text">
                How many hours do you leave your heating on per day?
            </div>

            <app-number-question itemsName="hours of heating per day"
                                 [(quantity)]="heatingHoursPerDay"
                                 [minQuantity]="1"
                                 [maxQuantity]="24"></app-number-question>
        </div>
    </form>
</div>