@import 'styles/mixins/buttons';

.detailed-length-of-heating-on-question {
  .questionnaire-form .hours-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:first-child) {
      margin-left: 30px;
      padding-left: 30px;
      border-left: 1px solid $separator-grey;
    }

    .name {
      font-size: 16px;
      line-height: 20px;

      margin-bottom: 17px;
    }
  }
}

