@import 'styles/mixins/buttons';

.detailed-length-of-heating-on-question {

  .questionnaire-form .hours-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 30px;
    }

    .name {
      margin-right: 20px;
      font-size: 20px;
    }
  }
}

