@import 'styles/mixins/buttons';
@import "styles/mixins/breakpoints";
@import "styles/mixins/font";
@import "styles/mixins/layout";
@import "styles/var/colors";

.detailed-length-of-heating-on-question {
  display: flex;

  .questionnaire-form {
    flex-direction: column;
  }

  .heating-pattern-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    .heating-pattern-dropdown {
      border-radius: 12%/50%;
    }
  }

  .morning-evening-question {
    display: flex;
    align-items: center;
    flex-direction: column;

    .sub-question-text, .sub-question-text-evening {
      color: $dark-blue;
      width: 60vw;
      margin: 10px 0 0 0;
      text-align: center;
    }

    .morning-heating-start-time {
      margin: 20px 0px 10px 0px;
      border-radius: 12%/50%;
    }

    .evening-heating-start-time {
      border-radius: 12%/50%;
    }

    * {
      margin: 0 0 10px 0;
    }
  }

  .heating-hours-question {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-question-text {
      color: $dark-blue;
      width: 60vw;
      text-align: center;
      margin: 10px 0 0 0;
    }

    app-number-question {
      margin: 20px 0 10px 0;
    }
  }
}

@include mobile() {
  .detailed-length-of-heating-on-question {
  }
}

@include tablet() {
  .detailed-length-of-heating-on-question {
  }
}

@include desktop() {
  .detailed-length-of-heating-on-question {
  }
}
