@import 'styles/mixins/buttons';
@import "styles/mixins/breakpoints";
@import "styles/mixins/font";
@import "styles/mixins/layout";

.detailed-length-of-heating-on-question {
  .questionnaire-form .hours-input {
    .name {
      @include question-number-label-font;
      margin-bottom: 17px;
    }
  }
}

@include mobile() {
  .detailed-length-of-heating-on-question {
    .questionnaire-form .hours-input {
      .name {
        text-align: center;
      }
    }
  }
}
@include tablet() {
  .detailed-length-of-heating-on-question {
    .questionnaire-form .hours-input {
      .name {
        text-align: center;
      }
    }
  }
}
@include desktop() {
  .detailed-length-of-heating-on-question {
    .questionnaire-form .hours-input {
      @include is-grid-item($number-of-items: 4, $margin: 20px);
      margin: 0;
      padding: 0 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &:not(:first-child) {
        border-left: 1px solid $separator-grey;
      }
    }
  }
}
