<div class="question-component floor-span-question">
    <div class="answer-grid multiple-choice-options two-columns-on-desktop">
        <div *ngFor="let option of floorLevelOptions; let i = index" class="multiple-choice-option-container">
            <input [id]="'option-' + i" type="checkbox"
                   [checked]="isFloorLevelOptionSelected(option)"
                   (click)="toggleFloorLevelOption(option)">
            <label [for]="'option-' + i"
                   [ngClass]="[option.name, 'multiple-choice-option']"
                   [class.selected]="isFloorLevelOptionSelected(option)">
                {{option.displayName}}
            </label>
        </div>
    </div>
</div>
