<div class="question-component floor-span-question">
    <form class="questionnaire-form" (submit)="complete.emit()">
        <label *ngFor="let option of floorLevelOptions">
            <input [name]="option.name" id="floor-span-checkbox-{{FloorLevel[option.value]}}" type="checkbox" [ngModel]="getFloorLevelOptionValue(option)" (ngModelChange)="onFloorLevelOptionChange(option)"
                   class="checkbox">
            <span>{{option.displayName}}</span>
        </label>
    </form>
</div>