@import "styles/mixins/font";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.question-reason-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include question-reason-font;

  & > * {
    padding: 10px 20px;
    flex-shrink: 0;
  }

  .question-reason {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
  }

  .question-reason-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20px;

    &:focus, &:hover {
      text-decoration: underline;
    }

    .question-reason-icon {
      &::before {
        content: 'i';
      }
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border-radius: 50%;
      color: white;
      font-weight: bold;
    }

    .question-reason-header {
      padding-left: 20px;
      @include question-reason-header-font;
    }
  }
}

// Breakpoint specific styling
.question-reason-container {
  @include mobile() {
    .question-reason-button {
      .question-reason-icon {
        width: 18px;
        height: 18px;
        font-size: 16px;
      }
    }
  }

  @include tablet() {
    .question-reason-button {
      .question-reason-icon {
        width: 18px;
        height: 18px;
        font-size: 16px;
      }
    }
  }

  @include desktop() {
    .question-reason {
      width: 600px;
    }

    .question-reason-button {
      .question-reason-icon {
        width: 32px;
        height: 32px;
        font-size: 26px;
      }
    }
  }
}
