<div class="privacy-page">
    <div class="page-row header-row">
        <div class="page-row-content">
            <h1>
                Privacy notice
            </h1>
        </div>
    </div>
    <div class="page-row">
        <div class="page-row-content">
            <h2>Simple Energy Advice privacy policy</h2>
            <p>
                Simple Energy Advice provides government endorsed energy advice to consumers.
                It is run by the Department of Business, Energy &amp; Industrial Strategy.
                This privacy policy will explain how our organisation uses the personal data we collect from you
                when you use our website.
            </p>
            <p>Topics:</p>
            <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How do we store your data?</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How do we use cookies?</li>
                <li>What types of cookies do we use?</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authorities</li>
            </ul>
            <h2>What data do we collect?</h2>
            <p>
                Most of the data that we ask for in our questionnaires are not stored.
                It is used to provide advice and then discarded.
            </p>
            <p>
                We do, however, store data when a user chooses to refer yourself to the ECO scheme.
                In this case we collect the following data:
            </p>
            <ul>
                <li>Personal identification information (Name, email address, phone number, etc.)</li>
                <li>Information about your entitlement to the ECO scheme (benefits received, income, etc.)</li>
                <li>Information about your home (age, number of bedrooms, type of boiler, etc.)</li>
            </ul>
            <h2>How do we collect your data?</h2>
            <p>
                You directly provide Simple Energy Advice with most of the data we collect.
                We collect data and process data when you:
            </p>
            <ul>
                <li>Voluntarily complete a consumer questionnaire to refer yourself to the ECO scheme.</li>
                <li>Use or view our website via your browser’s cookies.</li>
            </ul>
            <p>Simple Energy Advice may also receive your data indirectly from the following sources:</p>
            <ul>
                <li>Looking up your Energy Performance Certificate (EPC) based on the address that you provide.</li>
            </ul>
            <h2>How will we use your data?</h2>
            <p>Simple Energy Advice collects your data so that we can:</p>
            <ul>
                <li>Provide you with energy saving advice.</li>
            </ul>
            <p>
                If you choose to refer yourself to the ECO scheme, Simple Energy Advice will share your data with the
                energy companies taking part in that scheme. A list of those companies can be found on the
                <a routerLink="/eco-suppliers">ECO suppliers page</a>.
            </p>
            <h2>How do we store your data?</h2>
            <p>
                Simple Energy Advice securely stores your data in a UK-hosted database via GOV.UK PaaS.
                For more information on the security measures in place, see:
                <a href="https://www.cloud.service.gov.uk/security">https://www.cloud.service.gov.uk/security</a>
            </p>
            <p>
                Simple Energy Advice will keep your ECO self-referral information for one year. Once this time period
                has expired, we will delete your data by a nightly automated database sweep.
            </p>
            <h2>What are your data protection rights?</h2>
            <p>
                Simple Energy Advice would like to make sure you are fully aware of all of your data protection rights.
                Every user is entitled to the following:
            </p>
            <p>
                <strong>The right to access</strong> &#8211; You have the right to request Simple Energy Advice for
                copies of your personal data. We may charge you a small fee for this service.
            </p>
            <p>
                <strong>The right to rectification</strong> &#8211; You have the right to request that Simple Energy
                Advice correct any information you believe is inaccurate. You also have the right to request Simple
                Energy Advice to complete the information you believe is incomplete.
            </p>
            <p>
                <strong>The right to erasure</strong> &#8211; You have the right to request that Simple Energy Advice
                erase
                your personal data, under certain conditions.
            </p>
            <p>
                <strong>The right to restrict processing</strong> &#8211; You have the right to request that Simple
                Energy Advice restrict the processing of your personal data, under certain conditions.
            </p>
            <p>
                <strong>The right to object to processing</strong> &#8211; You have the right to object to Simple Energy
                Advice’s processing of your personal data, under certain conditions.
            </p>
            <p>
                <strong>The right to data portability</strong> &#8211; You have the right to request that Simple Energy
                Advice transfer the data that we have collected to another organization, or directly to you, under
                certain conditions.
            </p>
            <p>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please email us at:
                <a href="mailto:websitefeedback@simpleenergyadvice.org.uk">websitefeedback@simpleenergyadvice.org.uk</a>
            </p>
            <h2>Cookies</h2>
            <p>
                Cookies are text files placed on your computer to collect standard Internet log information and visitor
                behavior information. When you visit our websites, we may collect information from you automatically
                through cookies or similar technology.
            </p>
            <p>
                For further information, visit:
                <a href="https://www.allaboutcookies.org/">https://www.allaboutcookies.org</a>
            </p>
            <h2>How do we use cookies?</h2>
            <p>
                Simple Energy Advice uses cookies in a range of ways to improve your experience on our website,
                including:
            </p>
            <ul>
                <li>Understanding how you use our website</li>
                <li>Remembering your answers to previously asked questions</li>
            </ul>
            <h2>How to manage cookies</h2>
            <p>
                You can set your browser not to accept cookies, and the above website tells you how to remove cookies
                from your browser. However, in a few cases, some of our website features may not function as a
                result.
            </p>
            <h2>
                Privacy policies of other websites
            </h2>
            <p>
                The Simple Energy Advice website contains links to other websites.
                Our privacy policy applies only to our website, so if you click on a link to another website,
                you should read their privacy policy.
            </p>
            <h2>Changes to our privacy policy</h2>
            <p>
                Simple Energy Advice keeps its privacy policy under review and places any updates on this web page.
                This privacy policy was last updated on 10 March 2020.
            </p>
            <h2>How to contact us</h2>
            <p>
                If you have any questions about Simple Energy Advice’s privacy policy, the data we hold on you, or you
                would like
                to exercise one of your data protection rights, please do not hesitate to contact us.
            </p>
            <p>
                Email us at:
                <a href="mailto:websitefeedback@simpleenergyadvice.org.uk">websitefeedback@simpleenergyadvice.org.uk</a>
            </p>
            <h2>How to contact the appropriate authority</h2>
            <p>
                Should you wish to report a complaint or if you feel that Simple Energy Advice has not addressed your
                concern in a
                satisfactory manner, you may contact the
                <a href="https://ico.org.uk/">Information Commissioner’s Office</a>.
            </p>
        </div>
    </div>
</div>
