@import "styles/mixins/font";
@import "styles/var/colors";

// Component specific variables
$arrow-width: 100px;
$arrow-height: 48px;

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.measure-card {
  background-color: $lighter-grey;
  display: flex;
  align-content: stretch;
  text-decoration: none;
  color: $dark-grey;
  flex-direction: column;
  padding: 15px;
  height: 100%;

  .header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $separator-grey;

    .statisticValue {
      color: $primary-blue;
      font-weight: bold;
      font-size: 40px;
      padding-bottom: 10px;
    }

    .statisticContext {
      color: $primary-blue;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 30px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    height: 45%;

    .headline {
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0px 20px 0px;
    }

    .summary {
      font-family: $font-family-light;
      padding-bottom: 20px;
    }
  }
}

// Breakpoint specific styling
@include mobile() {
  .measure-card {
    padding: 20px;
    flex-direction: column;
  }

  .header {
    height: 200px;

    .icon {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
    }

  }

  .link {
    width: 250px;
    padding: 20px 0;
    box-sizing: border-box;

    .arrow-button {
      height: $arrow-height;
      width: 160px;
      padding-left: 20px;
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-top: auto;
      background: white;
      color: $focus-text-blue;


      &:after {
        position: absolute;
        right: -20px;
        top: 0;
        content: " ";
        border: ($arrow-height / 2) solid transparent;
        border-right-width: 0;
        border-left: 20px solid white;
      }

    }
  }
}

@include tablet() {
  .measure-card {
    min-height: 200px;

    .details {
      flex: 1 1 60%;
    }

    .header {
      height: 300px;

      .icon {
        padding-bottom: 10px;
        width: 50px;
        height: 50px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .link {
      width: 250px;
      padding: 30px;
      box-sizing: border-box;

      .arrow-button {
        height: $arrow-height;
        width: 160px;
        padding-left: 20px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: auto;
        background: white;
        color: $focus-text-blue;


        &:after {
          position: absolute;
          right: -20px;
          top: 0;
          content: " ";
          border: ($arrow-height / 2) solid transparent;
          border-right-width: 0;
          border-left: 20px solid white;
        }

        &:focus, &:hover {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }
    }
  }
}

@include desktop() {
  .measure-card {
    min-height: 200px;

    .header {
      height: 375px;

      .icon {
        padding: 20px 0 30px 0px;
        width: 50px;
        height: 50px;
      }
    }

    .details {
      flex: 1 1 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .link {
      width: 250px;
      padding: 30px;
      box-sizing: border-box;

      .arrow-button {
        height: $arrow-height;
        width: 160px;
        padding-left: 20px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: auto;
        background: white;
        color: $focus-text-blue;


        &:after {
          position: absolute;
          right: -20px;
          top: 0;
          content: " ";
          border: ($arrow-height / 2) solid transparent;
          border-right-width: 0;
          border-left: 20px solid white;
        }
      }
    }

    &:focus, &:hover {
      .link {
        .arrow-button {
          color: white;
          background: $primary-blue;
          &:after {
            border-left-color: $primary-blue;
          }
        }
      }
    }
  }
}