@import "styles/var/colors";

// Component specific variables
$download-pdf-button-width: 53px;
$download-pdf-button-arrow-height: 12px;

.download-pdf-button {
  background-color: $light-blue;
  outline: none;
  border: none;
  position: relative; // For 'after' component
  height: 64px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -$download-pdf-button-arrow-height;
    left: 0;
    height: 0;
    width: 0;
    border-right: $download-pdf-button-width/2 solid transparent;
    border-left: $download-pdf-button-width/2 solid transparent;
    border-top: $download-pdf-button-arrow-height solid $light-blue;
  }

  .download-pdf-button-text {
    font-size: 13px;
    color: $dark-blue;
    outline: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 20px;
  }

  .download-pdf-button-icon {
    transform: rotate(90deg);
    stroke: $dark-blue;
    width: 16px;
    height: 16px;
    display: block;
    line-height: 0;
  }
}