@import "../_energy-efficiency-results-page-sizes.scss";

:host {
  flex: 0 0 $data-card-width;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  & > :not(:first-child) {
    margin-top: 10px;
  }

  .heading {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }

  .number-value {
    font-size: 36px;
    font-weight: bold;
  }

  .colour-circle {
    background-color: orange;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}