@import "styles/var/colors";
@import "styles/mixins/breakpoints";
@import "styles/mixins/layout";
@import "styles/mixins/font";

.home-age-question {
  .questionnaire-form{

      @include question-label-font;
      margin-bottom: 17px;
      display: flex;
      justify-content: center;


    .dropdown-input {
      border-radius: 8%/50%;
    }
  }
}