<div class="home-age-question">
    <div #timeline class="home-age-timeline">
        <div #option class="home-age-option" *ngFor="let homeAgeOption of homeAgeOptions"
                (click)="selectResponse(homeAgeOption.value)" [ngStyle]="{ 'flex-basis': 100/getNumberOfResponseOptions() + '%' }" >
            <div class="home-age-timeline-section"></div>
            <div class="home-age-option-name">{{homeAgeOption.name}}</div>
        </div>
        <div #slider class="home-age-timeline-slider"></div>
    </div>
</div>