@import "styles/mixins/font";
@import "styles/var/colors";
@import "styles/mixins/layout";

// Component specific variables
$desktop-browse-cards-margin: 24px;
$tablet-browse-cards-margin: 20px;
$mobile-browse-cards-margin: 20px;

// Component specific mixins
@mixin is-browse-card-grid($margin, $small-cards-per-row: 2) {
  @include is-grid($margin-compensation: $margin);

  .full-width-card {
    @include is-grid-item($number-of-items: 1, $margin: $margin);
  }

  .small-cards {
    @include is-grid($margin-compensation: $margin);
    @include is-grid-item($number-of-items: 1, $margin: 0);
    width: 100%;

    app-article-card {
      @include is-grid-item($number-of-items: $small-cards-per-row, $margin: $margin);
    }
  }
}

// General styling (shouldn't contain many widths/sizes etc.)
.landing-page {
  .page-row-content {
    .heading {
      @include page-subheading-font;
      color: $focus-text-blue;
    }
  }

  .page-heading {
    background-color: $lighter-grey;

    .page-row-content {
      .heading {
        @include page-heading-font;
        color: $headline-dark-blue;
      }
    }
  }

  .postcode {
    background-color: $primary-blue;
    color: white;

    .page-row-content {
      .heading {
        color: white;
      }
    }
  }

  .static-measures {
    background-color: $lighter-grey;

    .page-row-content {
      .body-text {
        @include static-measures-body-font();
      }
    }

    app-static-measure-card {
      display: block;
      margin: 20px 0;
    }
  }

  .browse .page-row-content {
    .full-width-card {
      ::ng-deep .large-video-card .text-container {
        background-color: $lighter-grey;
      }
    }
  }

  .other-suggestions {
    background-color: $light-grey;
  }
}

// Breakpoint specific styling
.landing-page {
  @include mobile() {
    .page-row-content {
      padding: 25px 0 20px;
    }

    .page-heading {
      .page-row-content {
        padding-bottom: 28px;
      }
    }

    .postcode {
      .page-row-content {
        // Force section to be within the limits
        width: calc(100% - 40px);
      }

      .heading {
        padding-bottom: 24px;
      }

      .loading-spinner {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .static-measures {
      .page-row-content {
        padding-bottom: 44px;

        .body-text {
          padding: 26px 0 12px;
        }
      }
    }

    .browse .page-row-content {
      padding-top: 50px;

      .heading {
        margin-bottom: 36px;
      }

      .browse-cards {
        @include is-browse-card-grid($margin: $mobile-browse-cards-margin, $small-cards-per-row: 1);
      }
    }
  }

  @include tablet() {
    .page-row-content {
      padding: 47px 0 36px;
    }

    .postcode {
      .heading {
        padding-bottom: 22px;
      }

      .loading-spinner {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .static-measures {
      .page-row-content {
        padding-bottom: 50px;

        .body-text {
          padding: 14px 0 36px;
        }
      }
    }

    .browse .page-row-content {
      padding-top: 40px;

      .heading {
        margin-bottom: 20px;
      }

      .browse-cards {
        @include is-browse-card-grid($margin: $tablet-browse-cards-margin, $small-cards-per-row: 2);
      }
    }
  }

  @include desktop() {
    .page-row-content {
      padding: 45px 0 60px;
    }

    .page-heading {
      .page-row-content {
        padding-bottom: 40px;
      }
    }

    .postcode {
      .postcode-reason-container {
        padding-right: 40px;
      }

      .postcode-input {
        @include has-children-side-by-side();
      }
    }

    .static-measures {
      .page-row-content {
        padding-bottom: 82px;

        .body-text {
          padding: 14px 0 18px;
        }
      }
    }

    .browse .page-row-content {
      padding-top: 77px;

      .heading {
        margin-bottom: 32px;
      }

      .browse-cards {
        @include is-browse-card-grid($margin: $desktop-browse-cards-margin, $small-cards-per-row: 2);
      }
    }
  }
}