//noinspection CssUnknownTarget
@import '~styles/mixins/font';
//noinspection CssUnknownTarget
@import "~styles/var/colours";

.landing-page {

  .page-row-content {
    padding: 48px 0;
  }

  .page-heading {
    background-color: $light-grey;

    .page-row-content {
      padding: 60px 0;

      .heading-text {
        @include page-heading;
      }
    }
  }

  .postcode .page-row-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid black;

    .enter-postcode-text {
      @include page-subheading;
    }

    .postcode-input {
      height: 50px;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;

      .postcode-input-text {
        background-color: $light-grey;
        outline: none;
        border: none;

        width: 250px;
        padding: 0 24px;

        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .postcode-input-submit {
        background-color: black;
        color: white;

        width: 50px;
        outline: none;
        border: none;

        font-size: 30px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .or {
      position: absolute;
      width: 48px;
      height: 48px;
      left: calc(50% - 24px);
      bottom: -24px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100%;
      background-color: black;
      color: white;

      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .browse .page-row-content {
    display: flex;
    flex-direction: column;

    .heading {
      @include page-subheading;
      margin-bottom: 32px;
    }

    .statistics {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      .statistic {
        flex: 1 0 1px;
        padding: 16px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .graphic {
          flex-shrink: 0;
          box-sizing: border-box;

          width: 200px;
          height: 200px;
          border-radius: 100%;
          margin-right: 32px;

          display: flex;
          align-items: center;
          justify-content: center;

          .headline-figure {
            @include headline-figure;
          }

          &.percentage-graphic {
            border: 16px solid $lighter-medium-grey;
            border-top-color: transparent;
            transform: rotate(45deg);

            .headline-figure {
              transform: rotate(-45deg);
            }
          }

          &.money-graphic {
            background-color: $lighter-grey;
          }
        }

        .text {
          @include focus-text;
        }
      }
    }

    .full-width-card {
      margin-bottom: 24px;
    }

    .half-width-cards {
      display: flex;
      align-items: stretch;

      > * {
        flex-basis: calc(50% - 12px);
        &:first-child {
          margin-right: 24px;
        }
      }
    }
  }

  .other-suggestions {
    background-color: $light-grey;

    .page-row-content {
      display: flex;
      flex-direction: column;

      .heading {
        @include page-subheading;
        margin-bottom: 32px;
      }

      .latest-news-cards {
        width: 100%;
        display: flex;
        align-items: stretch;

        & > * {
          flex: 1 0 1px;
        }

        > :not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }
}