<div class="landing-page">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <div class="heading">{{heading}}</div>
        </div>
    </div>
    <div class="postcode page-row">
        <div class="page-row-content">
            <div class="heading">Enter your postcode for personalised advice</div>
            <div class="postcode-input">
                <div *ngIf="!questionContentError" class="postcode-reason-container">
                    <div *ngIf="postcodeQuestionReason; else spinner">{{postcodeQuestionReason}}</div>
                    <ng-template #spinner>
                        <div class="loading-spinner"></div>
                    </ng-template>
                </div>
                <app-postcode-lookup class="postcode-epc" (addressSelected)="onAddressSelected()"></app-postcode-lookup>
            </div>
        </div>
    </div>
    <div class="static-measures page-row">
        <div class="page-row-content">
            <div class="heading">Measures you can take right now</div>
            <div class="body-text">
                Here are a few things you can do immediately to help save money.<br/>
                If you answer some more questions we can recommend other measures you can take.
            </div>
            <div class="static-measure-cards">
                <app-static-measure-card *ngFor="let staticMeasure of staticMeasures"
                                         [measure]="staticMeasure"></app-static-measure-card>
            </div>
        </div>
    </div>
    <div class="browse page-row">
        <div class="page-row-content">
            <div class="heading">Advice and tips to reduce your energy bills</div>
            <div class="browse-cards">
                <div class="full-width-card">
                    <app-large-video-card [video]="video">
                    </app-large-video-card>
                </div>
                <div class="small-cards">
                    <app-article-card *ngFor="let article of articles" [article]="article">
                    </app-article-card>
                </div>
            </div>
        </div>
    </div>
    <div class="other-suggestions page-row">
        <div class="page-row-content">
            <div class="heading">Other things you might be interested in</div>
            <div class="latest-news-cards" *ngIf="latestNews; else latestNewsSpinner">
                <app-latest-news-card *ngFor="let page of latestNews; let idx = index"
                                      [page]="page"></app-latest-news-card>
            </div>
            <ng-template #latestNewsSpinner>
                <div class="spinner-container">
                    <div class="loading-spinner"></div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
