<div class="mees-page">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <div class="heading-text">
                Registering an exemption on the PRS Exemptions register
            </div>
        </div>
    </div>
    <div class="page-row more-information">
        <div class="page-row-content">
            <div class="body-text">
                <p>
                    The following is a list of valid exemptions:
                </p>
                <ul>
                    <li>If there are no recommended improvements for the property</li>
                    <li>If the landlord will incur a cost by installing the recommended improvements</li>
                    <li>If the recommended wall insulation system cannot, or should not, be installed</li>
                    <li>If consent cannot be obtained from the tenants and / or relevant third parties</li>
                    <li>If installing the improvements would results in a devaluation of the property</li>
                    <li>If you recently became a landlord</li>
                </ul>
                <p>
                    If any of these exemptions apply, you need to file a report with the
                    <a href="https://www.gov.uk/government/publications/the-private-rented-property-minimum-standard-landlord-guidance-documents"
                       target="_blank">
                        exemption register</a>.
                    You will need to include relevant supporting evidence.
                </p>
            </div>
        </div>
    </div>
</div>