<div class="mees-page">
    <div class="page-row page-heading">
        <div class="page-row-content">
            <div class="heading-text">
                Registering an exemption on the PRS Exemptions register
            </div>
        </div>
    </div>
    <div class="page-row more-information">
        <div class="page-row-content">
            <div class="body-text">
                <p>
                    The following is the list of valid exemptions:
                </p>
                <ul>
                    <li>If there are no recommended improvements for the property</li>
                    <li>
                        If the purchasing and installing of the recommended measures cannot be wholly financed at no
                        cost to the landlord
                    </li>
                    <li>If the recommended wall insulation system cannot, or should not, be installed</li>
                    <li>If consent cannot be obtained from the tenants and / or relevant third parties</li>
                    <li>If installing the improvements would results in a devaluation of the property</li>
                    <li>If you recently became a landlord</li>
                </ul>
                <p>
                    See Chapter 4 in the
                    <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/698541/Domestic_Private_Rented_Landlord_Guidance_-_March_18.pdf"
                       target="_blank">
                        Domestic Private Rented Property Minimum Standard Guidance</a>
                    for more details.
                </p>
                <p>
                    If any of these exemptions apply, you need to file a report with the
                    <a href="https://www.gov.uk/government/publications/the-private-rented-property-minimum-standard-landlord-guidance-documents"
                       target="_blank">
                        exemption register</a>.
                    You will need to include relevant supporting evidence.
                </p>
            </div>
        </div>
    </div>
</div>