<div class="your-home-page" *ngIf="yourHomeContent">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <div class="heading-text">{{yourHomeContent.title}}</div>
            <div class="body-text">We can help you find the right option for
                your home or you can review all the different types below.
            </div>
        </div>
    </div>
    <app-spinner-and-error-container [loading]="isLoading" [error]="isError"></app-spinner-and-error-container>
    <div class="measures page-row">
        <div class="page-row-content">
            <div class="measures-list">
                <div class="measure-cards" *ngFor="let measure of measures">
                    <a class="measure-card" routerLink="/measures/{{measure.slug}}">
                        <div class="icon" [inlineSVG]="getMeasureIcon(measure)"></div>
                        <div class="headline">{{measure.acf.headline}}</div>
                        <div class="summary">{{measure.acf.summary}}</div>
                        <div class="link">READ MORE</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>