.your-home-page {
  .page-heading {
    .page-row-content {
      padding: 60px 0;
    }

    .heading-text {
      font-size: 36px;
      line-height: 40px;
      font-weight: bold;
      color: #216289;
    }
  }
}