@import "styles/var/colors";
@import "styles/page";
@import "styles/mixins/layout";
@import "styles/mixins/font";

.your-home-page {
  .page-heading {
    background-color: $primary-blue;
    color: $focus-blue;

    .page-row-content {
      padding: 60px 0;
    }

    .heading-text {
      font-size: 48px;
      line-height: 40px;
      font-weight: bold;
    }

    .body-text {
      padding: 30px 0 0;
      font-family: $font-family-light;
    }
  }

  .measures {
    background-color: $lighter-grey;

    .measures-list {
      padding: 30px 0;
      @include is-grid($margin-compensation: 20px);

      .measure-card {
        text-decoration: none;
        background-color: white;
        color: $dark-grey;
        padding: 20px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;
        min-height: 250px;

        .icon {
          padding: 20px 0;
          width: 28px;
          height: 32px;
        }

        .headline {
          font-size: 32px;
          line-height: 30px;
          font-weight: bold;
        }

        .summary {
          padding: 20px 0;
          font-size: 14px;
          line-height: 18px;
          font-family: $font-family-light;
          font-weight: 300;
        }

        .link {
          color: $darkened-blue;
          font-size: 12px;
          text-decoration: none;
        }

        &:hover .link, &:focus .link  {
          text-decoration: underline;
        }
      }
    }
  }
}

.your-home-page {
  @include mobile() {
    .measures {
      .measure-cards {
        @include is-grid-item($number-of-items: 1, $margin: 20px);
      }
    }
  }

  @include tablet() {
    .measures {
      .measure-cards {
        @include is-grid-item($number-of-items: 2, $margin: 20px);
      }
    }
  }

  @include desktop() {
    .measures {
      .measure-cards {
        @include is-grid-item($number-of-items: 2, $margin: 20px);
      }
    }
  }
}
