<div class="your-home-page">
    <div class="page-heading page-row">
        <div class="page-row-content">
            <div class="heading-text">{{yourHomeContent.title}}</div>
        </div>
    </div>
    <div class="tag-text page-row">
        <div class="page-row-content">
            <div class="body-text">{{yourHomeContent.text}}</div>
        </div>
    </div>
    <div class="measures page-row">
        <div class="page-row-content">
            <div class="row-heading">Measures You Can Take</div>
            <div class="measures-list">
                <ul>
                    <li *ngFor="let measure of measures">{{measure.acf.headline}} | {{measure.acf.tags[1]}}</li>
                    <!--<li *ngFor="let measure of measures | filter:{acf.headline: 'tag_quick_win'}">{{measure.acf.headline}} | {{measure.acf.tags}}</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>