<div class="question-component country-postcode-question centered-question">
    <form class="questionnaire-form" (submit)="handlePostcodeEntered()">
        <div class="form-element">
            <input class="text-input" id="postcode-input" name="postcode-input" type="text" spellcheck="false"
                   aria-labelledby="question-heading" [(ngModel)]="postcodeInput">
            <button title="Submit" aria-label="Submit" id="submit-postcode" type="submit" class="icon-search">
            </button>
        </div>
    </form>
    <div class="error" *ngIf="validationError">
        <div class="error-message">{{validationError}}</div>
    </div>
    <app-spinner-and-error-container [loading]="shouldDisplayLoadingSpinner" [error]="false"></app-spinner-and-error-container>
</div>
