@import "styles/var/colors";

$popup-box-width: 500px;

.one-time-popup {
  .page-mask {
    background: $dark-grey;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .alert-box {
    position: fixed;
    width: $popup-box-width;
    background: white;
    top: 15vh;
    left: 50%;
    margin-left: -$popup-box-width/2;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;

    .text {
      font-size: 24px;
      line-height: 28px;
    }

    .ok-button {
      background-color: $action-button-blue;
      outline: none;
      border: none;
      padding: 10px 60px;
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin: 50px 0 0;
      cursor: pointer;

      &:focus, &:hover {
        background-color: $button-dark-blue;
      }
    }
  }
}