<div class="one-time-popup" *ngIf="isDisplayed">
    <app-popup text="This is a prototype service and is not intended to be fully functional.
                     In particular recommendations generated may not fully reflect information entered.

                     The final site would include more detailed and tailored recommendations.
                     For impartial energy advice please call the Energy Saving Advice Service on 0300 123 1234."
        (onOkPressed)="handleOkPressed()">
    </app-popup>
</div>