@import "styles/var/colors";
@import "styles/mixins/font";
@import "../../_energy-efficiency-page-sizes";

$do-button-height: 110px;
$do-button-width: $add-to-plan-column-width;
$do-button-left-chevron-width: 20px;
$do-button-right-chevron-width: 30px;

.your-plan {
  background: white;

  .page-row-content {
    display: flex;
    padding: 20px 0;

    & > :not(:last-child) {
      border-left: 1px solid $light-grey;
    }

    .plan-details {
      flex: 1 0 1px;
      padding: 0 80px;
      display: flex;
      flex-direction: column;

      .heading {
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 10px;
        @include card-heading-font;
      }

      .subheading {
        font-size: 16px;
        line-height: 20px;
      }

      .recommendations-list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .recommendations-list-item {
          display: flex;
          cursor: pointer;
          align-items: center;

          &:hover {
            .remove-recommendation-button {
              visibility: visible;
            }
          }

          .list-icon {
            fill: $focus-text-blue;
            margin-right: 10px;
            height: 12px;
            width: 10px;
            line-height: 0;
          }

          .recommendation-name {
            outline: none;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: inherit;
            font-family: $font-family-light;
            font-size: 16px;
            line-height: 20px;
          }

          .remove-recommendation-button {
            display: block;
            width: 12px;
            height: 12px;
            margin-left: 10px;
            line-height: 0;
            stroke: $red;
            visibility: hidden;
          }
        }
      }

      .subheading {
        font-family: $font-family-light;

        &.plan-empty {
          color: $focus-text-blue;
        }
      }
    }

    .do-button {
      background-color: $action-button-blue;
      position: relative;
      box-sizing: border-box;
      width: $do-button-width;
      height: $do-button-height;
      padding-left: $do-button-left-chevron-width;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 26px;
      color: white;
      cursor: pointer;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-left: $do-button-left-chevron-width solid white;
        border-top: $do-button-height/2 solid transparent;
        border-bottom: $do-button-height/2 solid transparent;
      }

      &::after {
        content: '';
        position: absolute;
        right: -$do-button-right-chevron-width;
        top: 0;
        width: 0;
        height: 0;
        border-top: $do-button-height/2 solid transparent;
        border-bottom: $do-button-height/2 solid transparent;
        border-left: $do-button-right-chevron-width solid $action-button-blue;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0;
        cursor: default;
      }
    }
  }
}