@import "styles/var/colors";
@import "styles/mixins/font";
@import "../../_energy-efficiency-page-sizes";

@mixin has-chevron-button-sizing($width, $height, $left-chevron-width, $right-chevron-width) {
  width: $width;
  height: $height;
  padding-left: $left-chevron-width;

  &:before {
    border-left: $left-chevron-width solid white;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
  }

  &:after {
    right: -$right-chevron-width;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-left: $right-chevron-width solid $light-blue;
  }
}

:host {
  background: white;
}

.your-plan {
  background: white;
  position: relative;

  .page-row-content {
    display: flex;
    flex-wrap: wrap;

    .do-button {
      background-color: $light-blue;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: $dark-blue;
      cursor: pointer;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0;
        cursor: default;
      }

      .do-string {
        margin-left: 8px;
        z-index: 2;
      }
    }
  }
}

@include mobile() {
  $do-button-width: $add-to-plan-column-width * 0.44;

  .your-plan {
    height: 100px;

    .page-row-content {
      padding: 8px 0 4px;

      .plan-details {
        flex: 0 0 100%;
        margin: 0 -5px 10px;

        .heading {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .plan-summary {
        width: calc(100% - #{$do-button-width * 2});
        display: inline-block;
        position: relative;
      }

      .do-button {
        position: relative;
        font-size: 15px;
        margin-left: 2px;
        margin-right: 7px;
        top: -7px;
        @include has-chevron-button-sizing($do-button-width, 60px, 12px, 16px);
      }
    }
  }
}

@include tablet() {
  .your-plan {
    .page-row-content {
      padding: 20px 0;

      .plan-details {
        flex: 0 0 100%;
        padding: 0 5px 10px;

        .heading {
          padding: 0 5px 10px;
          font-size: 21px;
          font-weight: bold;
        }
      }

      .plan-summary {
        flex: 0 0 calc(100% - #{$add-to-plan-column-width});
      }

      .do-button {
        position: absolute;
        right: 65px;
        bottom: 20px;
        font-size: 20px;
        @include has-chevron-button-sizing($add-to-plan-column-width * 0.7, 88px, 18px, 27px);
      }
    }
  }
}

@include desktop() {
  .your-plan {
    .page-row-content {
      padding: 20px 0;

      & > :not(:last-child) {
        border-left: 1px solid $light-grey;
      }

      .plan-details {
        flex: 1 0 1px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .heading {
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 10px;
          @include card-heading-font;
        }
      }

      .plan-summary {
        flex: 0 0 3 * $data-card-width;
      }

      .do-button {
        position: relative;
        font-size: 26px;
        @include has-chevron-button-sizing($add-to-plan-column-width, 110px, 19px, 29px);
      }
    }
  }
}
