<div class="page-heading page-row">
    <div class="page-row-content">
        <div class="heading-text">Troubleshooting your boiler</div>
        <div class="body-text">Try these 5 fixes before calling an engineer
        </div>
    </div>
</div>
<div class="tips page-row-content" *ngFor="let tip of tips; index as i">
    <div class="index">{{i+1}}</div>
    <div class="summary">{{tip.summary}}</div>
    <div class="details">{{tip.details}}</div>


</div>
<div>Add postcode box for trustworthy installer here</div>