<div class="page-heading page-row">
    <div class="page-row-content">
        <div class="heading-text">Troubleshooting your boiler</div>
        <div class="body-text">Try these 6 fixes before calling an engineer
        </div>
    </div>
</div>
<div class="tips">
    <div class="page-row" *ngFor="let tip of tips; index as i">
        <div class="page-row-content">
            <div class="tip">
                <div class="index heading">{{"0"+(i+1)}}</div>
                <div class="summary">{{tip.summary}}</div>
                <div class="details">{{tip.details}}</div>
            </div>
            <div class="image-container">
                <div class="image" [inlineSVG]="tip.imagePath"></div>
            </div>
        </div>
    </div>
</div>
<div class="repairer page-row">
    <div class=" page-row-content">
        <div class="heading">Find someone to fix it</div>
        <div class="body-text">If you need a professional to take a look and get your heating working again,
            you should always use a certified installer.
        </div>
        <a class="step-link" target="_blank" href='https://www.gassaferegister.co.uk/find-an-engineer/#findbylocation'>
            <div class="step-link-text">Gas safe register</div>
            <div class="step-link-icon-container">
                <div class="step-link-icon" [inlineSVG]="'controls/new-window.svg'"></div>
            </div>
        </a>
    </div>
</div>