@import "styles/var/colors";
@import "styles/page";
@import "styles/boiler";

// Component specific variables

// Component specific mixins

// General styling (shouldn't contain many widths/sizes etc.)
.page-heading {
  background-color: $light-blue;
  color: $dark-blue;

  .heading-text {
    margin-bottom: 20px;
    color: $dark-blue;
  }
}

.tips {
  > :nth-child(2n-1) {
    background-color: $lighter-grey;
  }

  .page-row-content {
    display: flex;
    justify-content: flex-start;

    .tip {

      .index {
        margin-bottom: 20px;
      }

      .summary {
        color: $dark-medium-blue;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }

      .details {
        font-family: $font-family-light;
      }
    }
  }
}

.repairer {
  background-color: $lighter-grey;

  .page-row-content {
    box-sizing: border-box;
    text-align: center;

    .heading {
      margin-bottom: 20px;
    }

    .step-link {
      width: 100%;
      color: white;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      min-height: 60px;
      margin-top: 30px;

      .step-link-text {
        background-color: $light-blue;
        color: $dark-blue;
        @include more-info-button-font;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
      }

      .step-link-icon-container {
        background-color: $dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .step-link-icon {
          width: 15px;
          height: 23px;
          stroke: $light-blue;
          fill: $light-blue;
          display: block;
          line-height: 0;
        }
      }

      &:hover {
        .step-link-text {
          background-color: $dark-blue;
          color: $light-blue;
        }

        .step-link-icon-container {
          background-color: $light-blue;

          .step-link-icon {
            stroke: $dark-blue;
            fill: $dark-blue;
          }
        }
      }
    }
  }
}

// Breakpoint specific styling

@include mobile() {
  .page-heading {
    .heading-text {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .repairer {
     .page-row-content {
       padding: 0 25px;
     }
   }

  .tips {
    .page-row-content {
      .tip {
        flex: 1 1 100%;
      }
    }
  }
}

@include tablet() {
  .tips {
    .page-row-content {
      .tip {
        flex: 1 1 100%;
      }
    }
  }

  .repairer {
    .page-row-content {
      padding: 0 75px;
    }
  }
}

@include desktop() {
  .tips {
    .page-row-content {
      .tip {
        flex: 0 0 33%;
      }
    }
  }

  .repairer {
    .page-row-content {
      padding: 0 225px;
    }
  }
}

